<h1>Help Page</h1>
This is a holder page for addition of help pages.
<ul>
    <li>
        <%=link_to "<b class='icon icon-uml'>UML Diagrams<b>",:action=>'uml' %>
    </li>
</ul>
<h2> Developer Session Debug information</h2>
<b> Params:</b>
<p>
    <%=debug params %>
</p>
<b> Session:</b>
<p>
    <%=debug session %>
</p>
