<!--[form:parameter_roles]-->
<p><label for="parameter_role_name">Name</label>
<br/>
<%= text_field 'parameter_role', 'name',:size=>'80'  %>
</p>

<p><label for="parameter_role_description">Description</label>
<br/>
<%= text_area( 'parameter_role', 'description',:rows=>4,:cols=>80)  %>
</p>

<p><label for="parameter_role_weighing">Weighing (Governs order in forms)</label>
<br/>
<%= text_field 'parameter_role', 'weighing'  %>
</p>

<!--[eoform:parameter_roles]-->

