<div id="<%=parameter_context.dom_id%>"> 
</div> 
<script type="text/javascript">   
Ext.onReady(
  function(){
        Ext.form.Field.prototype.msgTarget = 'side';
        var panel = new Biorails.Protocol.Context( <%=context_definition(parameter_context) %>,<%=@mode||0%>  );
        panel.render("<%=parameter_context.dom_id%>")
        panel.setWidth(Biorails.getWidth())
        panel.show();
  });
</script>
