<div id="<%=parameter_context.dom_id%>"> 
</div> 
<script type="text/javascript">   
Ext.onReady( function(){
    panel = new Biorails.Protocol.Context({
            id: 'panel_<%=parameter_context.id%>',
            renderTo: "<%=parameter_context.dom_id%>",
            mode: <%=@mode||0%>,
            context: <%=context_definition(parameter_context) %>
          },1);
  });
</script>
