<% form_tag  process_instance_url(:action => 'update', :id => @protocol_version.id),{:class=>'x-form'} do %>
<div class="x-panel-body">
    <%= render :partial => 'form' %>
    <div class='row'>
        <%= submit_tag l(:Save) %>
    </div>
</div>
<% end %>
