
<div id='parameter-tree'>    </div>

<div class="x-panel-header x-accordion-hd"  >
  <span class="icon icon-assay x-panel-header-text" >
     Create entry sheet 
   </span>
</div>
<div class="panel">
You can now create a data entry sheet for this protocol by opening up any of the tree 
above and dragging parameters to the central panel
</div>
