<% content_for :sidemenu do%>
   <%= render :partial => '/menu/admin_menu'%>
<% end %>

<h2> Backup Database </h2>
<p>
	Completed backup of database content. See server directory <b>[<%="#{RAILS_ROOT}/db/backup/" %>]</b> for data files.
	These are created in portable <a href='http://en.wikipedia.org/wiki/YAML'>YAML</a> format for long term 
	storage and migration to other database servers. This is in addition to native database backups.
 </p>	

