<div class='main' id='maintitle'>
<div class="form-title">New treatment group</div>
<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'List', :action => 'list' %>
</div>
