<%= error_messages_for 'assay_stage' %>

<!--[form:assay_stages]-->
<p>
  <label for="assay_stage_name">
    <%=l(:Name)%>
  </label>
  <br/>
  <%= text_field 'assay_stage', 'name'  %>
</p>

<p>
  <label for="assay_stage_description">
    <%=l(:Description)%>
  </label>
  <br/>
  <%= text_area 'assay_stage', 'description'  %>
</p>
<!--[eoform:assay_stages]-->