<%= error_messages_for 'assay_stage' %>

<!--[form:assay_stages]-->
<p>
  <label for="assay_stage_name" class='icon icon-name'>Name
  </label>
  <br/>
  <%= text_field 'assay_stage', 'name'  %>
</p>

<p>
  <label for="assay_stage_description" class='icon icon-description'>
    Description
  </label>
  <br/>
  <%= text_field 'assay_stage', 'description'  %>
</p>
<!--[eoform:assay_stages]-->