<% content_for :sidemenu do%>
  <%= render :partial => '/menu/admin_menu'%>
  <div>
    <span class='menu'><b class='icon icon-assay_stage'>Assay Stages</b></span>
    <div class='boldnotbold'>
      <%= link_to "<b class='icon icon-list'>List</b>",    assay_stage_url(:action => 'list') %>
      <%= link_to "<b class='icon icon-new'>New</b>", assay_stage_url(:action => 'new') %>
      <%= link_to "<b class='icon icon-edit'>Edit</b>", assay_stage_url(:action => 'edit', :id => @assay_stage) %>
      <%= link_to "<b class='icon icon-show'>Show</b>", assay_stage_url(:action => 'show',:id => @assay_stage) %>
      <% if @assay_stage.protocols.size==0 %>
        <%= link_to "<b class='icon icon-del'>Delete</b>", assay_stage_url(:action => 'destroy', :id => @assay_stage ), :confirm => 'Are you sure?', :method => :post %>
      <% end %>
    </div>
  </div>
<% end %>

<div style="width:100%">

	<% dialog 'Editing Assay Stage' do %>
		<% form_tag :action => 'update', :id => @assay_stage do %>
		  <%= render :partial => 'form' %>
  	      <%= submit_tag 'Save' %>
        <% end %>
      <% end %>
</div>
