<% content_for :sidemenu do%>
    <%= render :partial => '/menu/admin_menu'%>
    <div>
      <span class='menu'>
        <b class='icon icon-assay_stage'>
          Assay Stages
        </b>
      </span>
      <div class='boldnotbold'>
        <%= link_to "<b class='icon icon-list'>List</b>",
          assay_stage_url(:action => 'list') %>
        <%= link_to "<b class='icon icon-add'>New</b>",
          assay_stage_url(:action => 'new') %>
      </div>
    </div>
<% end %>
<div class='panel'>
<h1 class="icon icon-assay_stage">Assay Stages</h1>
<table class="report">
  <tr>
    <th><b class='icon icon-name'>Name</b></th>
    <th><b class='icon icon-description'>Description</b></th>
    <th><b class='icon icon-action'>Action</b></th>
  </tr>

<% for assay_stage in @assay_stages %>
  <tr  class="<%= cycle('odd', 'even') %> boldnotbold">
    <td>
      <b class='icon icon-show'>
        <%= link_to assay_stage.name,assay_stage_url( :action => 'show', :id => assay_stage) %>
      </b>
    </td>
    <td><%=h assay_stage.description%></td>
      <td><b class='icon icon-edit'><%= link_to 'Edit',assay_stage_url( :action => 'edit', :id => assay_stage) %>
        </b>
      </td>
  </tr>
<% end %>
</table>

<%= will_paginate   @assay_stages%>
</div>
