<% content_for :sidemenu do%>
    <%= render :partial => '/menu/admin_menu'%>
    <div>
      <span class='menu'>
        <b class='icon icon-assay_stage'>
          <%=l(:Assay_Stages)%>
        </b>
      </span>
      <%= link_to l(:List), assay_stage_url(:action => 'list')%>
      <%= link_to l(:New), assay_stage_url(:action => 'new')%>
    </div>
<% end %>
<%= render :partial => 'admin/header'%>

    <h2 class="icon icon-assay_stage">
    <%=l(:Assay_Stages)%>
    </h2>
<div class='panel'>
    <table class="report">
    <tr>
        <th><%=l(:Name)%></th>
        <th><%=l(:Description)%></th>
        <th><%=l(:Action)%></th>
    </tr>
    
    <% for assay_stage in @assay_stages %>
    <tr  class="<%= cycle('odd', 'even') %> boldnotbold">
        <td>
            <%= link_to assay_stage.name, assay_stage_url( :action => 'show', :id => assay_stage) %>
        </td>
        <td>
            <%=h assay_stage.description%></td>
        <td>
            <%= link_to l(:Edit),assay_stage_url( :action => 'edit', :id => assay_stage), :class=>'icon icon-edit' %>
        </td>
    </tr>
    <% end %>
    </table>
    
    <%= will_paginate   @assay_stages%>
    <hr /><%= link_to l(:New), assay_stage_url(:action => 'new'), :class=>'icon icon-add' %>
    
</div>
