<% content_for :sidemenu do%>
  <%= render :partial => '/menu/admin_menu'%>
  <div>
    <span class='menu'>
      <b class='icon icon-assay_stage'>
        <%=l(:Assay_Stage)%>
      </b>
    </span>
      <%= link_to l(:List), :action => 'list' %>
  </div>
<% end %>
<%= render :partial => 'admin/header'%>
<% dialog l(:Assay_Stage) do %>
	<% form_tag :action => 'create' do %>
	  <%= render :partial => 'form' %>
	  <%= submit_tag l(:Save) %>
          <%= link_to l(:Cancel), :action => 'list'%>
	<% end %>
<% end %>
