<div class=" x-panel-header x-accordion-hd">
    <span class="icon icon-data_concept x-panel-header-text"><%=l(:Dictionaries) %>
    </span>
</div>
<div class='panel'>
    <%=l(:help_catalogue) %>
</div>
