<% dialog l(:label_element) do %>
<p>
    <%=l(:text_concept_implementation) %>
    [<%=@data_concept.path %>] <%=l(:text_below) %>
</p>
<%= form_remote_tag :url => {:action =>'create_element', :id => @data_concept} %>
<%= render :partial =>'form_element' %>
<div class="row">
    <%= submit_tag l(:button_save) %>
    <%=link_to_remote l(:label_cancel), :url =>{:action=>'show',:id => @data_concept.id} %>
</div>
<% end %>