<% dialog "New Element" do%>
  <p>
    Enter the implementation for the concept [<%=@data_concept.path%>] below:-
  </p>  
  <%= form_remote_tag :url => {:action =>'create_element', :id => @data_concept} %>
  <%= render :partial =>'form_element' %>
  <div class="row">  
    <%= submit_tag 'Save' %>
    <%=link_to_remote "<b class='icon icon-cancel'>Cancel</b>",
      :url =>{:action=>'show',:id => @data_concept.id} %>
  </div>
 <% end %>