<% dialog l(:label_concept) do %>
<p>
    <%=l(:text_enter_concept_details) %>
    [<%=@data_concept.parent.path %>]<%=l(:text_below) %>
</p>
<%= form_remote_tag :url => {:action => 'create', :id => @data_concept.parent} %>
<%= render :partial => 'form_concept' %>
<div class="row">
    <%= submit_tag l(:button_save) %>
    <%=link_to_remote l(:label_cancel),  :url =>{:action=>'show',:id => @data_concept.parent.id} %>
</div>
<% end %>