<p>  
Enter the usage for the  concept [<%=@data_concept.path%>] below:-
</p>
<% dialog '<h3 class="icon-parameter">New Parameter Type<h3>' do%>

	<%= form_remote_tag :url => { :action => 'create_usage', :id => @data_concept} %>
      <%= render :partial =>'form_parameter_type' %>
	  <%= submit_tag 'Save' %>
	<%= end_form_tag %>
<% end%>