
Dear <%= @signature.creator.name %>,
<br />
<%= SystemSetting.witness_refused_text %>
<br />

<%= link_to @signature.path, signature_url(:action=>:show, :id=>@signature.id) %> Document Refused</a>
<br />

Yours,
<%= @signature.signer.name %>

