
Dear <%= @signature.creator.name %>,
<br />
I have witnessed the document
<br />
<%= link_to @signature.path, signature_url(:action=>:edit, :id=>@signature.id) %> witnessed</a>
<br />

Yours,
<%= @signature.signer.name %>

