<%= render :partial => 'header' %>
<%dialog l(:Project_Type) do %>    
  <% form_for( @project_type, :url => project_type_url(:action=>:update, :id=>@project_type)) do |f| %>
    <%= render :partial => 'form' ,:locals=>{:form=>f} %>
  <% end %>
  <%= error_messages_for :project_type %>
<%end%>