<div class=" x-panel-header x-accordion-hd"  >
  <span class="icon icon-project x-panel-header-text" >
      Project Types
     </span>
</div> 
<div class='panel'>
<p>
 This allow the steup of custom project type pointing to 
 difference custom dashboard arrangements for the home page. 
</div>