<div class=" x-panel-header x-accordion-hd"  >
  <span class="icon icon-project x-panel-header-text" >
      <%=l(:label_project_types)%>
     </span>
</div> 
<div class='panel'>
<p>
      <%=l(:text_project_type_help)%>
</div>