<%= render :partial => 'header' %>
<%dialog l(:Project_Type) do %>    
  <% form_for(@project_type, :url => project_type_url(:action=>:create) ) do |f| %>
    <%= render :partial => 'form' ,:locals=>{:form=>f} %>
  <% end %>
<% end %>


