<h1>project_type [<%=@project_type.path%>]</h1>

      name: <%= @project_type.name %><br />
      description: <%= @project_type.description %><br />
      dashboard: <%= @project_type.dashboard %><br />
