 <div class='panel'>
 <% form_remote_tag :url=>workflow_url(:action => 'change', :id => @process_step.id) do  %>
    <div class="row">
      <%= render :partial => 'step_form' %>
    </div>
    <div class="row">
        <%= submit_tag "Update" %>
        <%= submit_tag "Close" %>
    </div>
    <br />
 <% end %>
</div>