<% form_tag  process_flow_url(:action => 'update', :id =>  @process_flow.id),{:class=>'x-form'} do %>
  <div class="x-panel-body">
    <%= render :partial => 'form' %>

    <div class='row'>
      <%= submit_tag l(:Save) %>
    </div>
 </div>
<% end %>
