 <div class=" x-panel-header x-accordion-hd"  >
    <span class="icon icon-protocol x-panel-header-text" >
      Recipe Guidance
       </span>
  </div>
  <div class="panel">
  <p>
    This form is build to work by dragging and dropping
    protocol from the list onto the schedule
  </p>
  </div>