 <div class=" x-panel-header x-accordion-hd"  >
    <span class="icon icon-workflow x-panel-header-text" >
      <%=l(:Recipe)%> Guidance
       </span>
  </div>
  <div class="panel">
  <p>
    This form is build to work by dragging and dropping
    process from the list onto the schedule
  </p>
  </div>