<div class=" x-panel-header x-accordion-hd"  >
  <span class="icon icon-data_system x-panel-header-text" >
     <%=l(:label_data_sources)%>
     </span>
</div>
<div class="panel">
<%=l(:help_data_systems)%>
</div>