<h4>Guide</h4>
<div class='panel'> 
	<p>
		Data sources define links to other systems containing data used in a lookup lists
	</p>
	<h5>Connection types</h5>
	<p>
	<ul>
		<li>Oracle  host is ijnored and database = tnsname or //node/sid </li>
	</ul>
</div>