<%= render :partial => '/menu/admin_menu' %>
<div>
    <span class='menu'><b class='icon icon-data_system'><%=l(:Data_Source) %>
        </b></span>
    <%= link_to l(:List), :action => 'list' %>
    <%= link_to l(:New), :action => 'new' %>
    <%if @data_system && !@data_system.new_record? %>
    <%= link_to l(:Show), :action => 'show', :id =>  @data_system %>
    <%= link_to l(:Edit), :action => 'edit', :id =>  @data_system %>
    <% end %>
</div>
