<h1>Teams</h1>
A team is binder to made up of a a set of folders of unstructured and structured data. The team may contain 
a number of study designs to management of data and a set of experiments for the entry of this data.