<% for column in Membership.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @membership.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @membership %> |
<%= link_to 'Back', :action => 'list' %>
