<% content_for :messages do -%>
  <%= render :partial => 'shared/messages', :locals => { :objects => ['project_folder','project_asset']}  %>
<% end -%>

<% content_for :centre do -%>
   <%= render :partial => 'edit',:locals=>{:folder=>@project_folder} %>
<% end %>

<% content_for :right do -%>
  <%= render :partial => 'guide',:locals=>{:folder=>@project_folder} %>  
<% end %>