<% content_for :centre do -%>
  <%= render :partial => 'asset',:locals=>{:asset=>@project_asset} %>
<% end %>

<% content_for :right do -%>
 <div>
  <%= render :partial => 'project/folders/guide',:locals=>{:folder=>@project_folder} %>
  <div class='panel' id='folder_actions'>
    <%= render :partial => 'project/folders/selector',:locals=>{:folder=> @project_folder} %>   
  </div>
</div>
<% end %>