<% content_for :centre do -%>
   <%= error_messages_for :project_assert %>
   <%= error_messages_for :project_folder %>
   <%= render :partial => 'upload',:locals=>{:folder=>@project_folder} %>
<% end %>

<% content_for :right do -%>
  <%= render :partial => 'guide',:locals=>{:folder=>@project_folder} %>
<% end %>