<div class='panel'>
  <div class="content">
    <%= render :partial=>'projects/sections/links/box_projects' %>
  </div>
  <div class="content">
    <%= render :partial=> 'projects/sections/links/box_compounds' %>
    <%= render :partial=> 'projects/sections/links/box_batches' %>
  </div>
</div>
