<div class='panel'>
  <%= render :partial => 'projects/sections/tables/box_requests_table'%>
  <%= render :partial => 'projects/sections/tables/box_experiments_table'%>
  <%= render :partial => 'projects/sections/tables/box_tasks_table'%>
</div>
