<h1>
Assay [{{record.name}}]: {{record.description}}
</h1>
<table class='report'>
{% for item in assay.protocols %}
<tr>
<th>{{ item.name}}</th><td>{{item.description }}</td>
</tr>
{% endfor %}
</table>
