<div class='panel' id='{{record.dom_id}}'>
    <div class='box'>
      <div class='image'>
          {{record.image}} 
      </div>
      <div class='html'>
         {{record.html}}
      </div>
    </div>
</div>


