<%= error_messages_for 'parameter_type' %>

<!--[form:parameter_roles]-->
<p><label for="parameter_type_name">Name</label><br/>
<%= text_field 'parameter_type', 'name'  %></p>

<p><label for="parameter_type_description">Description</label><br/>
<%= text_field 'parameter_type', 'description'  %></p>

<p><label for="parameter_type_weighing">Weighing (Governs order in forms)</label><br/>
<%= text_field 'parameter_type', 'weighing'  %></p>

<!--[eoform:parameter_roles]-->

