<div class=" x-panel-header x-accordion-hd">
    <span class="icon icon-parameter_type x-panel-header-text"><%=l(:Parameter_Types) %>
    </span>
</div>
<div class='panel'>
    <%=l(:help_parameter_type) %>
</div>
