<% if @show_wrapper %>
<div class='main' id='maintitle'>
    <div class="title">
      <%=subject_icon('parameter_type.png')%> Parameter Types
        <div class="actions">
            <ul>
                <% new_params = params.merge(:controller => '/parameter_types', :action => 'new') %>
                <%= loading_indicator_tag(new_params) %>
                <li><%= link_to_remote (subject_icon('new.png'))+'New Type',
                  { :url => new_params,
                    :loading => "Element.show('#{loading_indicator_id(new_params)}');" },
                  { :href => url_for(new_params),
                    :class => "create" } %></li>
            </ul>
        </div>
        
    </div>
    <div class='panel'>
    <div id="<%= params[:scaffold_id] %>" class="ajax-scaffold">
        <div id="<%= scaffold_content_id(params) %>">
    <% end %>
          <table class="report">
          <thead>
            <tr>
              <%= render :partial => 'column_headings' %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="<%= num_columns %>" class="messages-container">
                <div id="<%= scaffold_messages_id(params) %>">
                  <%= render :partial => 'messages' %>
                </div>
                <p id="<%= empty_message_id(params) %>" class="empty-message" <%= " style=\"display:none;\" " if !@parameter_types.empty? %>>
                  No Entries
                </p>
              </td>
            </tr>
          </tbody>
          <tbody id="<%= scaffold_tbody_id(params) %>">
            <% if !@parameter_types.empty? %>
              <%= render :partial => 'parameter_type', :collection => @parameter_types, :locals => { :hidden => false } %>
            <% end %>
          </tbody>
        </table>
        <div class="table-footer">
          <%= render :partial => 'pagination_links', :locals => { :paginator => @paginator } %>
        </div>
            <% if @show_wrapper %>
        </div>
    </div>
</div>

    <div class='panel'>
        <h3>Instructions</h3>
        <p>
        These are high level global parameter definition to classify a type of data captured and handled in the system.
        In use studies may add there own aliases and formats to this to futher characterize their results. For example there 
        may be a global parameter EC50 which in a study is aliased to IC50. Or in other cases the parameter type 
        of Compounds may be linked to difference source lists of valid values.
        </p>
    </div>
</div>
<% end %>