<% content_for :sidemenu do -%>
  <%= render :partial =>'menu/user_menu' , :locals=>{ :user => current_user} %>
<% end %>

<h1 class="icon icon-warning"> Access Denied </h1>

<p>
  User <strong><%=session[:current_username] %></strong>
  does not have the rights to do this.
</p>
<ul>
  <li>Controller: <%=params[:controller]%></li>
  <li>Action: <%=params[:action]%></li>
</ul>