<% content_for :sidemenu do -%>
  <%= render :partial =>'menu/user_menu' , :locals=>{ :user => current_user} %>
<% end %>

<h1 class="icon icon-warning">
  <%=l(:label_access_denied)%>
</h1>
<p>
    <%=l(:label_user)%> 
    <strong>
        <%=session[:current_user_id] %>
    </strong>
    <%=l(:text_does_not_have_rights)%>
</p>
<ul>
  <li>
        <%=l(:label_controller)%>: <%=params[:controller]%>
    </li>
    <li>
        <%=l(:label_action)%>: <%=params[:action]%>
    </li>
</ul>