
<center>
<div class="box login">
<%= error_messages_for 'user' %>
<% form_tag({:controller=>:auth, :action=>:login}, { :id => 'login_form' }) do -%>
  <dl>
    <dt><%= label_tag 'login', 'Login' %></dt>
    <dd><%= text_field_tag 'login', params[:login], :class => 'big' %></dd>
    <dt><%= label_tag 'password', 'Password' %></dt>
    <dd><%= password_field_tag 'password', {}, :class => 'big' %></dd>
    <dt></dt>
  </dl>
  <p><%= submit_tag 'Sign in' %> </p>
<% end -%>
</div>
</center>
