
<%=render :partial=>'/shared/messages',:locals => { :objects => ['user' ]} %>
<h1 class="icon icon-warning">Access Denied</h1>
<p>Sorry, it appears you do to have the correct privileges to see the requested page</p>
