<center>
  <div class="box login">
    <h1 class='icon icon-warning'><%=l(:text_login_failed) %>
    </h1>
    <b><%= link_to "[ #{l(:text_click_here_to_try_again)}] ",  :action => 'login' %>
    </b>

  </div>
</center>
