<h2 class='icon icon-permission'><%=l(:label_permissions_edit)%></h2>

<% form_tag :action => 'update', :id => @permission do %>
  <%= render :partial => 'form' %>
  <%= submit_tag l(:button_save) %>
<% end %>

<%= link_to l(:label_show), :action => 'show', :id => @permission %> |
<%= link_to l(:label_back), :action => 'list' %>
