<h1 class='icon icon-permission'>Editing permission</h1>

<% form_tag :action => 'update', :id => @permission do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
<% end %>

<%= link_to "<b class='icon icon-show'>Show</b>", :action => 'show', :id => @permission %> |
<%= link_to "<b class='icon icon-list'>Back</b>", :action => 'list' %>
