<h1 class='icon icon-permission'><%=l(:label_permission_new)%></h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag l(:button_create) %>
<% end %>

<%= link_to l(:label_back), :action => 'list', :class=>'icon icon-list' %>
