<h1 class='icon icon-permission'>New permission</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to "<b class='icon icon-list'></b>Back", :action => 'list' %>
