<h1 class='icon icon-permission'><%=l(:Permission_New)%></h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag l(:Create) %>
<% end %>

<%= link_to l(:Back), :action => 'list', :class=>'icon icon-list' %>
