<div class=" x-panel-header x-accordion-hd"  >
  <span class='icon icon-note x-panel-header-text' >
      <%=l(:help_articles)%>
  </span>
</div> 
<div class='panel'>
  <p>
  <%=l(:help_articles_text)%> 
  </p>
</div>