<%= render :partial => 'folders/header' %>
<h2 class="icon icon-article"><%= @project_element.title %>
    <%= link_to "[#{l(:Edit)}]", content_url(:action=>'edit',:id=> @project_element.id ) %>
</h2>
<div class='panel'>
    <p>
        <%= @project_element.html %>
    </p>
</div>
