<div class="content_header content">
  <%= render :partial => 'shared/help_link' %>
  <h1 class='icon icon-model_<%=@folder.style.downcase%>'><%=@folder.style.titlecase %>
    <%= link_to  @folder.name, reference_to_url(@folder) if @folder%>
  </h1>
  <br/>
  <br/>
  <div class='actions_left'>
    <%= link_to l(:Open_Folder), folder_url(:action => 'show', :id => @folder  ), :class=>'icon icon-folder' %>
  </div>
</div>
<%=breadcrumb_list @folder %>