<% content_for :center do -%>
  <%= render :partial=>'header'%>     
  <%= render :partial => 'show_folder' %> 
<% end %>    

<% content_for :help do -%>
    <%= render :partial => 'help' %>   
<% end %>

<% content_for :messages do -%>
   <%= render :partial => '/shared/messages',:locals=>{:objects=>[]} %>   
<% end %>

<% content_for :footer do %>
  <%= render :partial => '/shared/version_history',:locals=>{:folder=>@project_folder} %>
<% end %>
