<div>
    <span class='menu'>
      <b class='icon icon-assay'>
        <%=l(:label_assay)%>
      </b>
    </span>
    <% unless @assay.nil? || @assay.new_record? %>
      <%= link_to l(:label_overview), assay_url(:action => 'show',  :id => @assay)%>
      <%= link_to l(:label_folder), folder_url(:action => 'show', :id => @assay.folder )%>
      <%= link_to(  l(:label_manage_parameters),parameter_url(:action => 'list' , :id => @assay))  %>
      <%= link_to( l(:label_manage_queues),queue_url(:action => 'list', :id => @assay )) %>
      <%= link_to(l(:label_export),  assay_url( :action =>'export',:id => @assay))  %>
    <%end %>
</div>