<%= render :partial =>'/menu/project_menu' ,    :locals=>{ :project => current_project}  if current_project %>
<%= render :partial =>'/menu/request_menu' ,    :locals=>{ :request => @user_request}  if @user_request %>
<%= render :partial =>'/menu/service_menu' ,    :locals=>{ :request_service => @request_service}  if @request_service %>
<%= render :partial =>'/menu/assay_menu' ,      :locals=>{ :assay => @assay}  if @assay %>
<%= render :partial =>'/menu/experiment_menu' , :locals=>{ :experiment => @experiment}  if @experiment %>
<%= render :partial =>'/menu/task_menu' ,       :locals=>{ :task => @task}  if @task  %>
<%= render :partial =>'/menu/folder_menu' ,     :locals=>{ :folder => @project_folder}  if @project_folder %>


