<h2>Search</h2>
<% form_tag :action => 'finder' do %>
      <%= text_field :query, :text ,:size =>15 %>
      <%= observe_field( :query_text, :frequency => 1.0, 
           :update => "query_hitlist", :url => {:controller=> '/finder', :action => :query }) %>
<% end %>

<div id="query_hitlist" class="hitlist">     
    <%= hitlist %> 
</div>

<%= render :partial =>"/menu/project_toolbar", :locals =>{:project => current_project} %>
