<div>
  <span class='menu'>
    <b class='icon icon-action'>
      Actions
    </b>
  </span>
  <%= link_to( l(:label_assay_add),     assay_url(:action => 'new')) %>
  <%= link_to( l(:label_experiment_add),  experiment_url(:action => 'new'))  %>
  <%= link_to( l(:label_request_add), request_url(:action => 'new'))  %>
</div>