<div>
  <span class='menu'>
    <b class='icon icon-action'>
      Actions
    </b>
  </span>
  <%= link_to( l(:Assay_Add),     assay_url(:action => 'new')) if current_project.changeable? %>
  <%= link_to( l(:Experiment_Add),  experiment_url(:action => 'new')) if current_project.changeable? %>
  <%= link_to( l(:Request_Add), request_url(:action => 'new')) if current_project.changeable? %>
</div>