<div>
  <span class='menu'>
    <b class="icon icon-team">
      <%=l(:label_teams)%>
    </b>
  </span>
  <%= link_to l(:label_list), :action => 'list' %>
  <% if @team %>
    <%= link_to( "#{l(:label_edit)} [#{@team.name}]", :action => 'edit', :id => @team)  %>
    <%  unless @team.in_use?  %>
      <%= link_to( "#{l(:label_delete)} [#{@team.name}]", { :action => 'destroy', :id => @team },  :confirm => l(:text_are_you_sure),:method => "post")  %>
    <% end %>
  <% end %>
</div>
