<h2> Experiment <%=@experiment.name%></h2>
<p>
 <%=@experiment.description%> 
</p>
<p>
 There are <%=@experiment.tasks.size%> tasks in  <%=@experiment.name%>
 ranging from <%=@experiment.start_date%> to  <%=@experiment.end_date%>
</p>
<h3> Study <%=@experiment.study.name%></h3>
<p>
 <%=@experiment.study.description%> 
</p>