
<div class="row">
  <div class="form-element">
    <label for="state_name">    <%=l(:Name)%> </label>
    <%= text_field 'state_flow', 'name',:size=>'30'  %>
  </div>
</div>

<div class="row">
  <div class="form-element">
    <label for="state_description">  <%=l(:Description)%>    </label>
    <%= text_area 'state_flow', 'description',:rows => 2   %>
  </div>
</div>
