<%= render :partial => '/menu/admin_menu'%>
<div>
  <span class='menu' >
    <b class='icon icon-state'>
      States
    </b>
  </span>
    <%= link_to l(:List), state_url( :action => 'list') %>
    <%= link_to l(:New),state_url( :action => 'new') %>
</div>
<div>
  <span class='menu' >
    <b class='icon icon-state'>
      Workflows
    </b>
  </span>
     <%for item in State.flows%>
       <%= link_to item, state_flow_url( :action => 'show',:id=>item) %>
      <%end%>
</div>