<script SRC="/javascripts/marvin/marvin.js"></script>
<fieldset class="dialog">
<%= error_messages_for 'compound' %>

<!--[form:compound]-->
<div class="form-element">
<label for="compound_name">Name</label>
<%= text_field 'compound', 'name'  %></p>
</div>


<div class="form-element">
   <label for="compound_registration_date">Date</label>
   <%= date_field 'compound', 'registration_date'  %>
</div>

<div class="row">

<div class="form-element">
   <label for="compound_formula">Depiction</label>
   <%= smilesview_field 'compound', 'smiles', @compound.send(:smiles) %>

    <div class="form-element">
    <label for="compound_description">Description</label>
    <span width=100%>
      <%= text_area 'compound', 'description'%>
    </span>
   </div>
</div>
</div>

<div class="row">
<div class="form-element">
   <label for="compound_formula">Formula</label>
   <%= text_field 'compound', 'formula'  %>
</div>

<div class="form-element">
    <label for="compound_mass">Mass</label>
    <%= text_field 'compound', 'mass'  %>
</div>

<div class="form-element">
<label for="compound_smiles">Smiles</label>
<%= text_field 'compound', 'smiles'  %>
</div>

</div>

<!--[eoform:compound]-->
</fieldset>
