<div class="form-element">
  <label for="assay_parameter_parameter_role_id" class='icon icon-parameter_role'> Parameter Role:      </label>
  <%= select_named(:assay_parameter, :parameter_role_id, ParameterRole) %>
</div>

<div class="form-element">
  <label for="assay_parameter_data_type_id" class='icon icon-parameter_type'> Data Type:   </label>
  <%= hidden_field :assay_parameter, :data_type_id %>
  <%=@assay_parameter.style%>
</div>

<div class="form-element">
  <label for="assay_parameter_default_value">  Default Value   </label>
  <%= text_field :assay_parameter, :default_value , {:size =>40,:class=>"text-input"} %>
</div>