<% if @parameter_type %>

<% if @assay_parameter.qualitive? %>
<div class="form-element">
    <label for=":assay_parameter_data_element_id" class='icon icon-data_type_dictionary'>
        <%=l(:Lookup_From) %>
    </label>
    <%= select_data_element( :assay_parameter, :data_element_id, @assay_parameter.type.data_concept) %>
</div>
<% else %>
<div class="form-element">
    <label for="assay_parameter_data_format_id">
        <%=l(:Entry_Format) %>
    </label>
    <%= select_data_format( :assay_parameter, :data_format_id ,@assay_parameter.data_type) %>
</div>
<% if @assay_parameter.parameter_type && @assay_parameter.data_type_id == 2 %>
<div class="form-element">
    <label for="assay_default_value">
        <%="#{l(:Default_Unit)} (#{@assay_parameter.parameter_type.storage_unit}" %>)
    </label>
    <%if @assay_parameter.custom? %>
    <%= text_field( :assay_parameter, :display_unit, {:size =>10, :class=>"text-input"}) %>
    <%else %>
    <%= select( :assay_parameter, :display_unit, @assay_parameter.units ) %>
    <%end %>
    <%end %>
</div>
<%end %>
<%end %>
