
  <div class="form-element">
    <label for="assay_parameter_description" class='icon icon-description'>    Description:   </label>
    <%= text_area(:assay_parameter, :description,{:rows=>3, :cols=>80})  %>
  </div>
