<% if @parameter_type %>
<div class="form-element">
    <label for="assay_parameter_description">
        <%=l(:Description) %>
    </label>
    <%= text_area(:assay_parameter, :description,{:rows=>2, :cols=>70}) %>
</div>
<%end %>
