<% if @parameter_type %>
<div class="form-element">
    <label for="assay_parameter_parameter_role_id">
        <%=l(:Parameter_Role) %>
    </label>
    <%= select_parameter_role(:assay_parameter, :parameter_role_id) %>
</div>
<div class="form-element">
    <label for="assay_parameter_data_type_id">
        <%=l(:Data_Type) %>
    </label>
    <%= hidden_field :assay_parameter, :data_type_id %>
    <%=@assay_parameter.style %>
</div>
<div class="form-element">
    <label for="assay_parameter_default_value">
        <%=l(:Default_Value) %>
    </label>
    <%= text_field :assay_parameter, :default_value , {:size =>40,:class=>"text-input"} %>
</div>
<%end%>
