<div class="content_header organisation">
  <%= render :partial => 'shared/help_link' %>
  <h1 class='icon icon-parameter-large'>
    <%= link_to( "#{l(:Parameters)} [#{@assay.name}]", assay_url( :action => :show, :id => @assay.id))%>
  </h1>
  <br />
  <br />
  <div class='actions_left'>
      <%= link_to l(:Assay),       assay_url(:action => 'show', :id => @assay,:tab=>0 ),  :class=>'icon icon-assay' %>
      <%= link_to( l(:Parameters), assay_url(:action => 'show', :id => @assay,:tab=>2 ), :class=>'icon icon-parameter') %>
      <%= link_to( l(:Queues),     assay_url(:action => 'show', :id => @assay,:tab=>3 ), :class=>'icon icon-queue') %>
      <%= link_to( l(:Processes),  assay_url(:action => 'show', :id => @assay,:tab=>4 ), :class=>'icon icon-queue') %>
  </div>
  <div class='actions_right'>
    <span class='icon icon-add'><%= link_to(l(:Add), :controller =>'assay_parameters', :action => 'new', :id=>@assay) if @assay.changeable? %></span>
    <span class='icon icon-export'><%= link_to l(:Export), :controller =>'assay_parameters', :action => 'export', :id=>@assay %></span>
    <span class='icon icon-import'><%= link_to(l(:Import), :controller =>'assay_parameters', :action => 'import', :id=>@assay) if @assay.changeable? %></span>

  </div>
  <br />
</div>
<%=breadcrumb_list @assay.folder(:parameters)  %>