
<div class=" x-panel-header x-accordion-hd"  >
 <span class="icon icon-parameter x-panel-header-text" >
  Assay Parameter Guidance
 </span>
</div>
<div class="panel">
<p>
  <i>Assay Parameters</i> are the
  building-blocks for the <i>Protocols</i>. It is these <i>Parameters</i>
  that will map to external systems such as warehouses.
</p>
<br />
<h3>Aliasing</h3>
<p>
  <i>Parameters</i> can be <i>aliased</i> at the <i>Protocol</i> level which
  provides a method of dealing with the issue of
  <a href="http://en.wikipedia.org/wiki/Semantic_equivalence">semantic equivalence</a>
</p>
<br />
<h3>Roles</h3>
<p>
  The <i>Parameter Role</i> defines how the <i>Parameter Type</i> will be used in the
  protocol.  Once the <i>Parameter Type</i> is selected this can be further refined.
</p>
</div>
