<div class=" x-panel-header x-accordion-hd">
    <span class="icon icon-help x-panel-header-text"> Assay Parameters</span>
</div>
<div class="panel">
    <p>
        This forms shows all the parameters which have been setup for use in processes 
        and reporting in the assay <%=@assay.name %>. Assay parameters are where the
        global types and roles are mapped into the messy reality of actually
        designing and running the assay.
    </p>
    <p>
        An assay parameter is linked back to a global catalogue of parameter
        types and roles. Its the usage of parameter type in a role with a given
        format. The roles are used as a general catalogization for reporting.
        The types link back to the type of data saved against the parameter.
        The format or lookup governs what users are allowed to enter
        in data entry (eg. number , masses etc ).
    </p>
    <br/>
    <h3 class='icon icon-data_type'>Key to Data Types</h3>
    <ul style='list-style:none;'>
        <li class='icon icon-data_type_date'>
            Date
        </li>
        <li class='icon icon-data_type_dictionary'>
            Dictionary
        </li>
        <li class='icon icon-data_type_file'>
            File
        </li>
        <li class='icon icon-data_type_numeric'>
            Numeric
        </li>
        <li class='icon icon-data_type_text'>
            Text
        </li>
        <li class='icon icon-data_type_time'>
            Time
        </li>
        <li class='icon icon-data_type_url'>
            URL
        </li>
    </ul>
</div>
