<%= render :partial =>'/menu/project_menu', :locals=>{ :project => current_project}  %>
<%= render :partial =>'/menu/assay_menu' , :locals=>{ :assay => @assay} %>
<div>
  <span  class='menu'>
    <b class="icon icon-parameter">
      Parameters
    </b>
  </span>
    <%= link_to l(:label_export), :controller =>'assay_parameters', :action => 'export', :id=>@assay %>
    <%= link_to l(:label_import), :controller =>'assay_parameters', :action => 'import', :id=>@assay %>
</div>