<% form_tag :action => 'create', :id => @assay.id do %>
  <!--[form:assay_parameter]-->
  <% hidden_field :assay_parameter, :assay_id %>
  <div class="row" id='form_parameter_type'>
    <div class="form-element">
      <label for="assay_parameter_type"> <%=l(:Parameter_Type)%></label>
      <%= select(:assay_parameter, :parameter_type_id,@parameter_types) %>
      <%= observe_field 'assay_parameter_parameter_type_id',
        :url => assay_parameter_url(:action=>'refresh', :id =>@assay.id),:with =>'parameter_type_id' %>
    </div>
  </div>
  <div class="row" id='form_alias'>
    <%= render(:partial => 'form_alias') %>
  </div>

  <div class="row" id='form_description'>
    <%= render(:partial => 'form_description') %>
  </div>

  <div class="row" id='form_config'>
    <%= render( :partial => 'form_config')  %>
  </div>

  <div class="row" id='form_rules'>
    <%= render( :partial => 'form_rules')  %>
  </div>

  <div class="row" id='form_buttons'>
    <%= render( :partial => 'form_buttons') %>
  </div>
  <br />
<% end %>
