<% content_for :sidemenu do -%>
  <%= render :partial =>'menu' %>
<% end -%>

<% content_for :messages do -%>
  <%=render :partial =>'shared/messages',:locals => { :objects => ['assay' ]} %>
<%end %>

<% content_for :center do %>
  <%= render :partial=>'header' %>
  <div class='box'>
    <h2 class='icon icon-parameter'><%=l(:Parameters) %></h2>
    <%= render :partial =>'list' %>
    <br/>
  </div>
<%end %>

<% content_for :help do %>
  <%= render :partial =>'help_list' %>
<%end %>
