<% content_for :sidemenu do -%>
  <%= render :partial =>'/menu/project_menu', :locals=>{ :project => current_project} %>
  <%= render :partial =>'/menu/assay_menu' , :locals=>{ :assay => @assay} %>
  <div>
    <span class='menu'><b class='icon icon-parameter'><%=l(:Parameters) %>
    </b></span>
    <%= link_to l(:Export), :controller =>'assay_parameters', :action => 'export', :id=>@assay %>
    <%= link_to l(:Import), :controller =>'assay_parameters', :action => 'import', :id=>@assay %>
    <%= link_to l(:Edit), :controller =>'assay_parameters', :action => 'edit', :id=>@assay_parameter %>
    <%= link_to l(:New), :controller =>'assay_parameters', :action => 'new', :id=>@assay %>
  </div>
<% end -%>
<% content_for :center do -%>
  <%= render :partial=>'header' %>

  <%= tab_strip("assay-parameter-tabs", @tab||0 ,[
      {:name =>l(:Overview)   , :partial =>'show' },
      {:name =>l(:Examples)    , :partial => 'example'},
      {:name =>l(:Processes)     , :url=> assay_parameter_url(:action=>'protocol_list', :format=>:ext, :id=>@assay_parameter) },
      {:name =>l('Process Metrics') , :url=> assay_parameter_url(:action=>'process_metrics', :format=>:ext, :id=>@assay_parameter) },
      {:name =>l('Experiment Metrics')    , :url=> assay_parameter_url(:action=>'experiment_metrics', :format=>:ext, :id=>@assay_parameter) } ])  %>

<% end %>
