<div class="content_header project">
  <%= render :partial => 'shared/help_link' %>
  <h1 class='icon icon-acl'>
    <%=l(:ACL_Edit)%>
  </h1>
  <br />
  <br />
</div>

  <%=breadcrumb_list @project_element %> 
