<fieldset>
    <div class="title">
        Edit Samples
    </div>
    <div class="table-header">
      <div class="actions">
        <%= link_to 'Show', :action => 'show', :id => @sample %> |
        <%= link_to 'list', :action => 'list' %>
      </div>
    </div>
    <fieldset class='form'>            
        <% form_tag :action => 'update', :id => @sample do %>
          <%= render :partial => 'form' %>
          <%= submit_tag 'Save' %>
       <% end %>
    </fieldset>
</fieldset>