
<%= render :partial =>'/menu/project_menu', :locals=>{ :project => current_project}  %>
<%= render :partial =>'/menu/assay_menu', :locals=>{ :assay => @assay}  %>
<div>
  <span class='menu'>
    <b class="icon icon-queue">
      <%= l(:label_assay_queue)  %>
    </b>
  </span>
<% unless @assay_queue.nil? or @assay_queue.new_record? %>

  <%= link_to l(:label_service_queues), queue_url( :action => 'list', :id => @assay_queue.assay)%>
  <%= link_to l(:label_edit), queue_url( :action => 'edit', :id => @assay_queue) %>
  <%= link_to l(:label_requests),  queue_url( :action => 'show', :id => @assay_queue) %>
  <%= link_to l(:label_items),  queue_url(:action => 'items', :id => @assay_queue) %>
  <%= link_to l(:label_results),     queue_url( :action => 'results', :id=>@assay_queue)%>

<% else %>

  <% if @assay %>
    <%= link_to l(:label_service_queues), queue_url( :action => 'list', :id => @assay)%>
    <%= link_to l(:label_new),   queue_url( :action => 'new', :id => @assay.id)%>
  <% end %>

<% end %>

</div>
