<table class="report">
  <tr>
    <th class="label">
        <%=l(:Name)%>
    </th>
    <td colspan='5'>
      <%= assay_queue.name %>
    </td>
  </tr>
  <tr>
    <th class="label">
        <%=l(:Description)%>
    </th>
    <td colspan='5'>
      <%= assay_queue.description %>
    </td>
  </tr>
  <tr>
    <th class="label">
        <%=l(:Stage)%>
    </th>
    <td>
      <%= assay_queue.stage.name if assay_queue.stage %>
    </td>
    <th class="label">
        <%=l(:Managed_By)%>
    </th>
    <td>
      <%= assay_queue.assigned_to.name %>
    </td>
    <th class="label">
        <%=l(:Assay)%>
    </th>
    <td>
        <%=link_to assay_queue.assay.name, assay_url(:action => 'show', :id => assay_queue.assay) %>
    </td>
  </tr>
</table>

