<table class="report">
  <tr>
    <th class="label">
        <%=l(:label_name)%>
    </th>
    <td colspan='5'>
      <%= assay_queue.name %>
    </td>
  </tr>
  <tr>
    <th class="label">
        <%=l(:label_description)%>
    </th>
    <td colspan='5'>
      <%= assay_queue.description %>
    </td>
  </tr>
  <tr>
    <th class="label">
        <%=l(:label_stage)%>
    </th>
    <td>
      <%= assay_queue.stage.name if assay_queue.stage %>
    </td>
    <th class="label">
        <%=l(:label_managed_by)%>
    </th>
    <td>
      <%= assay_queue.assigned_to.name %>
    </td>
    <th class="label">
        <%=l(:label_assay)%>
    </th>
    <td>
        <%=link_to assay_queue.assay.name, assay_url(:action => 'show', :id => assay_queue.assay) %>
    </td>
  </tr>
</table>

