<h2 class='icon icon-service-large' style='text-indent:0.5em'>
  Service Queues
</h2>
<p>
  Only Dictionary linked paramaters defined in assay can be
  used as a type for a queue. You will
  not be able to create a queue until a suitable parameter
  exists.
</p>
<p>
  At present following types are
available:-
<b>
  <ul style="list-style: disc inside">
    <%= @assay.parameters_for_data_type(5).collect{|i| "<li>#{i.name}</li>"} %>
  </ul>
</b>
</p>
  