<%= render :partial =>'/menu/project_menu', :locals=>{ :project => current_project}  %>
<%= render :partial =>'/menu/assay_menu' , :locals=>{ :assay =>  @assay} %>
<div>
  <span class='menu'>
    <b class='icon icon-queue'>
      <%=l(:label_Service)%>
    </b>
  </span>
    <%= link_to l(:label_new), queue_url( :action => 'new', :id=>@assay  ) %>
    <%= link_to l(:label_list), queue_url( :action => 'list', :id=>@assay  ) %>
</div>