<%= render :partial=>'organize/assays/header'%>

<%if @assay.has_parameter_of_data_type? 5 %> 
  <% dialog l(:label_service_queue_new) do %>
    <% form_tag :action => 'create',:id=>@assay.id do %>
        <%= render :partial => 'form' %>
    <% end %>
  <% end %>
<%else%>   
  <%= render :partial => 'no_usable_parameter' %>
<%end%>