<td>
  <p class='icon icon-show'>
    <%=link_to queue_item.service.name, service_url(:action => 'show', :id => queue_item.service) if queue_item.service %>
  </p>
</td>
<td>
  <%=queue_item.data_name %>
</td>
<td>

<%= select_tag 'status_id',
      options_from_collection_for_select(queue_item.allowed_status_list,:id,:name,queue_item.status_id),
      {:id=>queue_item.dom_id('status_id')}  %>

  <%= observe_field queue_item.dom_id('status_id'),
      :url=>queue_url(:action=>'update_item',:id=>queue_item),
      :with =>'status_id',
      :update => queue_item.dom_id(:updated_at)  %>
</td>
<td>
  <%= select_tag 'priority_id',
      options_for_select(queue_item.allowed_priority_list,queue_item.priority_id),
      {:id=>queue_item.dom_id('priority_id')}  %>

  <%= observe_field  queue_item.dom_id('priority_id'),
      :url=>queue_url(:action=>'update_item',:id=>queue_item),
      :with =>'priority_id',
      :update => queue_item.dom_id(:updated_at)  %>

</td>
<td><%=queue_item.assigned_to.name %></td>
<td> <%=queue_item.comments  %></td>
<td><%=short_date queue_item.updated_at%></td>
<td><%=short_date queue_item.started_at  %></td>
<td><%=short_date queue_item.ended_at  %></td>
<td>
  <p class='icon icon-del'>
    <%= link_to l(:Delete), :action => 'destroy', :id => queue_item %>
  </p>
</td>


