<% form_tag :action => 'update_item' do %>
<table class='report' style='border: solid thin'>
  <tr>
    <th><%=l(:Request)%></th>
     <th><%=l(:Item)%></th>         
     <th><%=l(:Status)%></th>         
     <th><%=l(:Priority)%></th>         
     <th><%=l(:Assigned_To)%></th>         
     <th><%=l(:Comments)%></th>         
     <th><%=l(:Required_By)%></th>         
     <th><%=l(:Accepted)%></th>         
     <th><%=l(:Completed)%></th>
     <th><%=l(:Actions)%></th>         
  </tr>
 <%for queue_item in queue_items %>
   <tr id='<%=queue_item.dom_id(:updated_at)%>' class="<%= cycle('odd', 'even') %>">
     <%= render :partial => '/organize/assay_queues/queue_item', :locals => { :queue_item => queue_item} %>  
   </tr>
 <% end %>
</table>
<% end %>   
