<table class='report' style='border: solid thin'>
  <tr>
    <th>
      <%=l(:label_request)%>
    </th>
    <th>
      <%=l(:label_ref)%>
    </th>
    <th>
      <%=l(:label_required_by)%>
    </th>
    <th>
      <%=l(:label_status)%>
    </th>
    <th>
      <%=l(:label_priority)%>
    </th>
    <th>
      <%=l(:label_assignee)%>
    </th>
    <th>
      <%=l(:label_updated)%>
    </th>
    <th>
      <%=l(:label_accepted)%>
    </th>
    <th>
      <%=l(:label_completed)%>
    </th>
  </tr>
  <%for request_service in request_services %>
  <tr id='<%=request_service.dom_id(:updated_at)%>'>
    <%= render :partial => 'request_service', :locals => { :request_service => request_service } %>
  </tr>
  
  <% end %>
</table>

