<table class='report' style='border: solid thin'>
  <tr>
    <th>
      <%=l(:Request)%>
    </th>
    <th>
      <%=l(:Ref)%>
    </th>
    <th>
      <%=l(:Required_By)%>
    </th>
    <th>
      <%=l(:Status)%>
    </th>
    <th>
      <%=l(:Priority)%>
    </th>
    <th>
      <%=l(:Assignee)%>
    </th>
    <th>
      <%=l(:Updated)%>
    </th>
    <th>
      <%=l(:Accepted)%>
    </th>
    <th>
      <%=l(:Completed)%>
    </th>
  </tr>
  <%for request_service in request_services %>
  <tr id='<%=request_service.dom_id(:updated_at)%>'>
    <%= render :partial => 'request_service', :locals => { :request_service => request_service } %>
  </tr>
  
  <% end %>
</table>

