<td>
  <%=request_service.request.name if request_service.request %>
</td>
<td>
  <%=link_to request_service.name,
             service_url( :action => 'show', :id => request_service) %>
</td>
<td><%=short_date(request_service.expected_at) %> </td>
<td>
  <%= select_tag 'status_id',
      options_for_select(request_service.allowed_status_list,request_service.status_id),
      {:id=>request_service.dom_id('status_id')}  %>

  <%= observe_field request_service.dom_id('status_id'),
      :url=>{:action=>'update_service',:id=>request_service},
      :with =>'status_id' %>
  <br />
  <%= request_service.status_summary %>
</td>
<td>
  <%= select_tag 'priority_id',
        options_for_select(request_service.allowed_priority_list,
        request_service.priority_id), {:id=>request_service.dom_id('priority_id')}  %>
  <%= observe_field  request_service.dom_id('priority_id'),
        :url=>{:action=>'update_service',:id=>request_service},
        :with =>'priority_id' %>
</td>
<td>
  <%= select_tag 'assigned_to_user_id',
        options_for_select(User.selector, request_service.assigned_to_user_id),
        {:id=>request_service.dom_id('user_id')}  %>
  <%= observe_field  request_service.dom_id('user_id'),
        :url=>{:action=>'update_service',:id=>request_service},
        :with =>'user_id' %>
</td>
<td>
  <%=request_service.updated_by%> <%=short_date request_service.updated_at%>
</td>
<td><%=short_date request_service.started_at%> </td>
<td><%=short_date request_service.ended_at%> </td>