<table class='report' style='border: solid thin'>
    <tr>
      <th><b class='icon icon-request'>Request</b></th>
      <th><b>Ref</b></th>
      <th><b class='icon icon-date'>Required_by</b></th>
      <th><b class='icon icon-status'>Status</b></th>
      <th><b class='icon icon-priority'>Priority</b></th>
      <th><b class='icon icon-user_lab'>Assignee</b></th>
      <th><b class='icon icon-user_lab'>Updated</b></th>
      <th><b class='icon icon-date'>Accepted</b></th>
      <th><b class='icon icon-user_lab'>Completed</b></th>
    </tr>
    <%for request_service in request_services %>
    <tr id='<%=request_service.dom_id(:updated_at)%>'>
        <%= render :partial => 'request_service', :locals => { :request_service => request_service } %>
    </tr>

    <% end %>
</table>

