<%= render :partial=>'header' %>
<div class='panel'>
    <h2 class='icon icon-service'><%=l(:Service_Queue) %></h2>
    <%= render :partial => 'assay_queue', :locals => { :assay_queue => @assay_queue } %>
    <%= render :partial => 'request_services', :locals => { :request_services => @assay_queue.requests } %>
</div>
