<h2>Menu Editor</h2>

<table class="table_as_list">
<tr>
<td><strong>(root)</strong></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><%= link_to subject_icon("/images/add.png"), 
	{:action => 'new'} %></td>
</tr>

<%= render :partial => 'item_list', :locals => {:items => @items,
    :depth => 0} %>
</table>
