
/*
Document   : biorails3.css
Created on : 12-Sep-2007, 17:06:25
Author     : rshell
Description:
Purpose of the stylesheet follows.
*/
.biorails {   
    position:relative;
    margin:0;
    padding:0;
    border:0 none;
}
.biorails li { display: list-item }
.biorails ol { list-style-type: decimal }

.help{
    float: right;
}

a {
    color: #15428B;
    text-decoration: none;
}


div .boldnotbold b {
    font-weight: normal;
}
/*
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.content{
    width:100%;
    float:left;
    z-index:1;
}

.x-grid3-header-offset {width: auto;}

.icon {
    z-index:100;
}

.actions {
    padding: 3px;
    margin: 3px;
}
.actions a {
    height: 1em;
    line-height: 1em;
    text-decoration: none;
    text-align: center;
    padding: 2px 2px 2px 20px;
    margin: 2px;
    text-decoration: none;
}
.actions a:hover {
    border: 1px solid #000099;
}

.splitcontentleft{
    float:left;
    width:48%;}

.splitcontentright{
    float:right;
    width:48%;}

.clear{clear:both;}
.small{font-size:0.8em;line-height:1.4em;padding:0 0 0 0;}

.hide{display:none;}

.textcenter{
    text-align:center;
}

.textright{
    text-align:right;
}

.important{color:#f02025; background-color:inherit; font-weight:bold;}

/* Content Header */

.content_header {   
    position:relative;
    display: block;
    border: 1px solid #c0c0c0;
    font: 11px arial, sans-serif;
    color: black;
    padding: 3px 3px 3px 3px;
    margin: 3px 0 0 0;
}



.content_header h1 {
    font-size: 1.5em;
    text-indent: 0.5em;
    float: left;
    margin-bottom: -1em;
}

.help {float: right}

.content_actions {
    display:block;
    background-color: red;
}

.actions_left {
    float: left;
    position:relative;
}


.actions_right {
    float: right;
    position:relative;
}


.project {}
.organisation {}
.organisation ul {list-style:none;}
.execution {}
.user {}
.inventory {}
.admin {}

.box{
    margin:10px 10px 20px 10px;
    padding:10px;
    border:1px solid #c0c0c0;
    background-color:#fafbfc;
    color:#505050;
    line-height:1.5em;
}

.box ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin: 1em 0 1em 0;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 30px;
}

.box ol {
    display: block;
    list-style-type: decimal;
    margin: 1em 0 1em 0;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 30px;
}


.box dl {}

.box dt {
    font-weight: bold;
}

.box dd {
    
    text-indent: 2em;
}


.state-level0 {
    background-color: #fffdc5;
}
.state-level1{
    background-color: #fffdc3;
}

.state-level2 {
    background-color: #ffbb9b;
}

.layout-level3 {
    background-color: #ECF3E1;
}

.state-level4 {
    background-color: #c1ffc3;
}

.state-level5 {
    background-color: #bfffd1;
}

.state-level-1 {
    background-color: #ffd3f1;
}

.handle {
    cursor: move;
}

.login {
    width: 50%;
    text-align: left;
}

img.calendar-trigger {
    cursor: pointer;
    vertical-align: middle;
    margin-left: 4px;
}


/***** Tooltips ******/
.tooltip{
    position:relative;
    display: inline;
    z-index:240;
}

.tooltip:hover {
    z-index:250;
    color:#000;
}

.tooltip span.tip {
    display: none
}

div.tooltip:hover span.tip{
    display:block;
    position:absolute;
    top:24px; left:24px; width:auto;
    border:1px solid #555;
    background-color:#fff;
    padding: 4px;
    font-size: 0.8em;
    color:#505050;
}

/*========== Side Menu Bar  ==============*/

div.sidemenu {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding-bottom: 5px;
    color: black;
    z-index: 10;
}
div.sidemenu div {
    background:#98c0f4;
    overflow: hidden;
    z-index: 10;
}

div.sidemenu div span.menu {
    display: block;
    padding: 2px 2px;
    font-size: 12px;
    font-weight: bold;
    color: black;
    cursor: default;
    border-bottom: 1px solid #ddd;
    background-color: #c3daf9;
    z-index: 10;
}

div.sidemenu div p {
    background-color: white}

div.sidemenu div a {
    padding: 1px 5px;
    background: white;
    display: block;
    z-index: 10;
    background-color: white;
}

div.sidemenu div a.current {
    background : #ccc;
    z-index: 10;
}

div.sidemenu div a:hover {
    background : #6593cf;
    color: #fff;
    text-decoration: none;
    z-index: 10;
}

.error {
    color: #cc0000;
}

/*========== Guide ==============*/

.guide {

    font-family: Arial,Helvetica,sans-serif;
    font-size: smaller;
}

/*HTML Diff highlighting */

div.diff  {
    border: 1px solid black;
}

pre.match {
}

pre.only_a  {
    background-color: #fdd;
    color: red;
    text-decoration: line-through;
}
pre.only_b  {
    background-color: #ddf;
    color: blue;
    border-left: 3px solid blue
}

/*
-----------------------------------------------
Report Table Style
-----------------------------------------------
*/
.report {
    width: 100%;
    background-color: white;
}

.report table {
    empty-cells: show;
}

.report td {
    padding: 0px 5px 0px 5px;
    color: #333;
    font-family: Verdana, sans-serif;
    font-size: 11px;
}

.report  td.actions {
    border-right: solid 1px #ccc;
}

.report tr.even {
    background-color: #c3daf9;
    border-left: solid 1px #ddd;
}

.report  tr td.sorted {
    background-color: #ddd;
    border-bottom: solid 1px #E1EEc6;
}

.report tr.even td.sorted {
    background-color: blue;
    border-bottom: solid 1px #E1eec6;
}

.report  td.empty {
    color: black;
    text-align: center;
}

/*
-----------------------------------------------
Report Table Style
-----------------------------------------------
*/

.report th.label {
    width: 15%;
}

.report th a,
.report th p {
    font: bold 11px arial, sans-serif;
    display: block;
    background: #6593cf;
    color:              White;
}

.report th .desc {
    color:              Red;
    background-position:right;
    background-repeat:no-repeat;
    background-image: url('/images/up.png')

}

.report th .asc {
    color:              Yellow;
    background-position:right;
    background-repeat:no-repeat;
    background-image: url('/images/down.png');
}


.report  th {
    color:#fff;
    background: #6593cf;
    font: bold 11px arial, sans-serif;
    padding: 0;
    margin:0;
    padding: 0px 5px 0px 5px;

}

.report  th p {
    color: #eee;
    padding: 1px 1px;
}

.report  th a:hover {
    color: #fff;
}

.report  th.sorted {
    background-color: #6593cf;
}

.report  th.asc a,
.report  th.asc a:hover {
    background-color: #e1eec6;
    background-image: url('/images/arrow_up.gif');
    background-position:right;
    background-repeat:no-repeat;
}

.report th.desc a,
.report  th.desc a:hover {
    background-color:#e1eec6;
    background-image: url(/images/arrow_down.gif);
    background-position:right ;
    background-repeat: no-repeat;
}


/*
-----------------------------------------------
TABLE ACTIONS:
Edit, Delete
-----------------------------------------------
*/

.report td {
    vertical-align: top;
}

.report   td.actions {
    padding: 0;
    width: 1%;
}

.report   td.actions table {
    float: right;
    width: auto;
    margin-right: 5px;
}

.report   td.actions table td {
    border: none;
    text-align: right;
    padding: 0 2px;
}

.report   td.actions a {
    font: bold 11px arial, sans-serif;
    letter-spacing: -1px;
    padding: 1px;
    line-height: 16px;
}

div.folder-list {
    float:left;
    position:relative;
}

/* --------------------------------------------
* SpreadSheet
*--------------------------------------------*/
/*
-----------------------------------------------
Sheet Table Style
-----------------------------------------------
*/

.sheet {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color:#eee;
    border: solid thin black;
    background-color: #ddd;
    color:black;
    width: 98%;
    height: 98%;
    empty-cells: show;
    min-height:20em;

}
.sheet table {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
/*
Cell titles
*/
.sheet th {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: auto;
    color: #15428b;
    overflow: hidden;
    background-color: #c0c0c0;
    background-repeat: repeat-x;
    background-attachment: scroll;
    padding-bottom: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #b3cae9;
}


.sheet tr {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #eee;
    height: auto;
}

.sheet td {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: arial,tahoma,helvetica,sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 11px;
    font-size-adjust: none;
    font-stretch: normal;
    line-height: 13px;
    white-space: nowrap;
    vertical-align: top;
    outline-color: invert;
    outline-style: none;
    outline-width: medium;
    color: black;
    background-color: white;
}
/*
Cells
*/
.sheet .cell {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: rgb(0,0,0);
    font-weight:normal;
    font-style: normal;
    font-family: Arial;
    font-size: 1.0em;
    text-decoration: none;
}
/* Cell is currently active for user input */

.sheet .active {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: rgb(255,255,140);
    color: rgb(0,0,0);
    font-weight:bold;
    text-decoration: none;
    font-family: Arial;
    font-size: 1.0em;
    text-align: center;
}

/***** Gantt chart *****/
.gantt {
    position:static;
    margin:0;
    font-size: 11px;
    line-height: 18px;
    font-family: sans-serif;
    background-color: #eeeeee;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    border-top-color: #888888;
    border-left-color: #888888;
    border-right-color: #888888;
    border-bottom-color: #888888;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    text-align: left;
    z-index: 10000;
}

.gantt .gantt_hdr {
    position: absolute;
    top:0;
    height:16px;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    text-align: center;
    overflow: hidden;
}

.gantt .task {
    position: absolute;
    height:8px;
    font-size:0.8em;
    color:#888;
    padding:0;
    margin:0;
    line-height:0.8em;
}

.pagination {
    padding: 3px;
    margin: 3px;
}
.pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #aaaadd;
    text-decoration: none;
    color: #000099;
}

.pagination a:hover, .pagination a:active {
    border: 1px solid #000099;
    color: #000;
}
.pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #000099;
    font-weight: bold;
    background-color: #000099;
    color: #FFF;
}
.pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #eee;
    color: #ddd;
}
/* Added back colour for remote combobox */
.x-combo-remote {
    background-color: yellow;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-color: teal;
    border-bottom-color: teal;
    border-left-color: teal;
    border-right-color: teal;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
}

/* invalid field on entry grid */
.x-cell-invalid, textarea.x-cell-invalid{
    background:#FCDBDD url(../images/default/grid/invalid_line.gif) repeat-x bottom;
    border: 1px solid #FF2000;
}  
/* pending save field on entry grid */
.x-cell-pending, textarea.x-cell-pending{
    background:#FFFFB5;
    border: 1px solid #FF6300;
}
/* pending save field on entry grid */
.x-cell-active, textarea.x-cell-pending{
    background:#FFFFB5;
    border: 1px solid #FF6300;
}

/*  saved field on entry grid */
.x-cell-saved, textarea.x-form-cell-saved{
    background:#E2FFE3;
    border: 1px solid #7BFF7F;
}

/*  row header cells on entry grid */
.x-cell-row-header{
    border-left:1px solid #d0d0d0;
    background: #f9f9f9 url(../images/default/grid/grid3-hrow.gif) repeat-x 0 bottom;
    cursor:default;
    zoom:1;
    padding:1px 0 0 0;
}


.breadcrumb {
    /*background-color: white;*/
    /*border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-color: #cccccc;
    border-left-color: #cccccc;
    border-right-color: #cccccc;*/
    font-family: Arial,Helvetica,sans-serif;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    width: 100%;
}

.breadcrumb a {
    /*	background: transparent url(/images/enterprise/arrow/arrow_right.png) no-repeat center right;*/
    text-decoration: none;
    padding-right: 2px; /*adjust bullet image padding*/
    color: navy;
}

.breadcrumb a:visited, .breadcrumb a:active{
    color: navy;
}

.breadcrumb a:hover{
    text-decoration: underline;
}


/* Panels */

.panel {   
    position:relative;
    display: block;
    border: 1px solid #c0c0c0;
    font: 11px arial, sans-serif;
    color: black;
    background-color: white;
    width:100%;
}


.panel p {
    display: block;
    margin: 1.0em 0px
}

.panel div {
    display: block
}

.panel layer {
    display: block
}

.panel marquee {
    display: inline-block;
}

.panel address {
    display: block
}

.panel blockquote {
    display: block;
    margin: 1em 40px 1em 40px
}


.panel center {
    display: block;
    /* special centering to be able to emulate the html4/netscape behaviour */
    text-align: center
} 

.panel hr {
    display: block;
    margin: 0.5em auto;
    border-style: inset;
    border-width: 1px
}

.panel map {
    display: inline
}

/* heading elements */

.panel h1 {
    display: block;
    font-size: 2em;
    margin: .67em 0 .67em 0;
    font-weight: bold;
}

.panel h2 {
    display: block;
    font-size: 1.5em;
    margin: .83em 0 .83em .83em;
    font-weight: bold
}

.panel h3 {
    display: block;
    font-size: 1.17em;
    margin: 1em 0 1em 0;
    font-weight: bold
}

.panel h4 {
    display: block;
    margin: 1.33em 0 1.33em 0;
    font-weight: bold
}

.panel h5 {
    display: block;
    font-size: .83em;
    margin: 1.67em 0 1.67em 0;
    font-weight: bold
}

.panel h6 {
    display: block;
    font-size: .67em;
    margin: 2.33em 0 2.33em 0;
    font-weight: bold
}

/* tables */

.panel table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray
}

.panel table[align="center"] {
    margin-left: auto;
    margin-right: auto
}

.panel thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit
}

.panel tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit
}

.panel tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit
}

.panel col {
    display: table-column
}

.panel colgroup {
    display: table-column-group
}

.panel tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit
}

.panel td, th {
    display: table-cell;
    vertical-align: inherit
}

.panel th {
    font-weight: bold
}

.panel caption {
    display: table-caption;
    text-align: center
}

/* Lists */

.panel ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
}

.panel ol {
    display: block;
    list-style-type: decimal;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}


.panel li {
    display: list-item
}

.panel ul ul, ol ul {
    list-style-type: circle
}

.panel ol ol ul, ol ul ul, ul ol ul, ul ul ul {
    list-style-type: square
}

.panel box dd {
    display: block;
    margin: 10px;

}

.panel dl {
    display: block;
    margin: 1em 0 1em 0
}

.panel dt {
    display: block
}

.panel ol ul, ul ol, ul ul, ol ol {
    margin-top: 0;
    margin-bottom: 0
}

/* inline elements */     

.panel u, ins {
    text-decoration: underline
}

.panel strong, b {
    font-weight: bolder
}

.panel i, cite, em, var, address {
    font-style: italic
}

.panel tt, code, kbd, samp {
    font-family: monospace
}

.panel pre, xmp, plaintext {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0
}

.panel big {
    font-size: larger;
}

.panel small {
    font-size: smaller;
}

.panel s, strike, del {
    text-decoration: line-through
}

.panel sub {
    vertical-align: sub;
    font-size: smaller
}

.panel sup {
    vertical-align: super;
    font-size: smaller
}

.panel nobr {
    display: inline;
    white-space: nowrap
}

.panel wbr {
    white-space: normal
}


