
/* 
    Document   : biorails3.css
    Created on : 12-Sep-2007, 17:06:25
    Author     : rshell
    Description:
        Purpose of the stylesheet follows.
*/
.bio-std li { display: list-item }
.bio-std ol { list-style-type: decimal }

html {
    overflow: hidden;
}

body {
    font-size: 10px ;    
    font-family: Trebuchet MS,Georgia,"Times New Roman",serif;
    margin:0;
    padding:0;
    border:0 none;
    height:100%;
    width:100%;
    overflow: auto;
}

h1 {
    margin:0 0 12px 0; 
    font-size:1.6em;
    color:#707070;
    font-family: Trebuchet MS,Georgia,"Times New Roman",serif;
}
h2 {
    margin:0 0 12px 0; 
    font-size:1.4em;
    color:#707070;
    font-family: Trebuchet MS,Georgia,"Times New Roman",serif;
}
h2 a{
    font-weight:normal;
}

h3 {
    margin:0 0 12px 0; 
    font-size:1.2em;
    color:#707070;
    font-family: Trebuchet MS,Georgia,"Times New Roman",serif;
}
h4 {
    font-size: 1em; 
    margin-bottom: 12px; 
    margin-top: 20px; 
    font-weight: normal; 
    border-bottom: dotted 1px #c0c0c0;
}

a {
    color: #15428B;
    text-decoration: none;
}

a:hover {
    color: orange;
    text-decoration: underline;
}

.panel {
  background-color: #FFFFF0;
  border: 1px solid #c0c0c0;
  z-index: 10;
}

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.splitcontentleft{
    float:left; 
    width:50%;}

.splitcontentright{
    float:right; 
    width:50%;}
    
.clear{clear:both;}
.small{font-size:0.8em;line-height:1.4em;padding:0 0 0 0;}

.hide{display:none;}

.textcenter{
    text-align:center;
     }
     
.textright{
    text-align:right;
    }

.important{color:#f02025; background-color:inherit; font-weight:bold;}

.box{
    margin:10px 10px 20px 10px;
    padding:10px;
    border:1px solid #c0c0c0;
    background-color:#fafbfc;
    color:#505050;
    line-height:1.5em;
}

.layout-active {
background: #ECF3E1;
}

.handle {
cursor: move;
}

.login {
width: 50%;
text-align: left;
}

img.calendar-trigger {
    cursor: pointer;
    vertical-align: middle;
    margin-left: 4px;
}

 
/***** Tooltips ******/
.tooltip{position:relative;z-index:24;}
.tooltip:hover{z-index:25;color:#000;}
.tooltip span.tip{display: none}

div.tooltip:hover span.tip{
    display:block;
    position:absolute;
    top:24px; left:24px; width:270px;
    border:1px solid #555;
    background-color:#fff;
    padding: 4px;
    font-size: 0.8em;
    color:#505050;
}  

/*========== Side Menu Bar  ==============*/

div.sidemenu {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding-bottom: 5px;
    color: black;
    z-index: 10; 	
}
div.sidemenu div {
    background:#98c0f4;
    overflow: hidden;
    z-index: 10; 
    }


div.sidemenu div span.menu {
    display: block;
    padding: 2px 2px;
    font-size: 12px;
    font-weight: bold;
    color: black;
    cursor: default;
    border-bottom: 1px solid #ddd;
    background-color: #c3daf9;
    z-index: 10; 
}

div.sidemenu div p {
    background-color: white}

div.sidemenu div  a {
    padding: 1px 5px;
    background: white;
    display: block;
    z-index: 10; 
    background-color: white;
}

div.sidemenu div  a.current {
    background : #ccc;
    z-index: 10; 
}

div.sidemenu div a:hover {
    background : #6593cf;
    color: #fff;
    text-decoration: none;
    z-index: 10; 
}


.error {
color: #cc0000;
}

/*HTML Diff highlighting */

div.diff  {
    border: 1px solid black;
  }
  
pre.match { 
}

pre.only_a  {
    background-color: #fdd;
    color: red;
    text-decoration: line-through;
  }
pre.only_b  {
    background-color: #ddf;
    color: blue;
    border-left: 3px solid blue
  }
  
/*
-----------------------------------------------
Report Table Style
-----------------------------------------------
*/
.report {
   width: 100%;
    background-color: white;
   z-index: 5;
}

.report table {
    empty-cells: show;
}

.report td {
    padding: 0px 2px 0px 2px;
    color: #333;
    font-family: Verdana, sans-serif;
    font-size: 11px;
}
 
.report  td.actions {
    border-right: solid 1px #ccc;
}
 
.report tr.even {
    background-color: #c3daf9;
    border-left: solid 1px #ddd;
}
 
.report  tr td.sorted {
    background-color: #ddd;
    border-bottom: solid 1px #E1EEc6;
}
 
.report tr.even td.sorted {
    background-color: blue;
    border-bottom: solid 1px #E1eec6;
}
 
.report  td.empty {
    color: black;
    text-align: center;
}
 
/*
-----------------------------------------------
Report Table Style
-----------------------------------------------
*/

.report th.label {
    width: 15%;
}

.report th a,
    .report th p {
    font: bold 11px arial, sans-serif;
    display: block;
    background: #6593cf;
    color:              White;
}

.report th .desc {
    color:              Red;
    background-position:right;
    background-repeat:no-repeat;
    background-image: url('/images/up.png')

}

.report th .asc {
    color:              Yellow;
    background-position:right;
    background-repeat:no-repeat;
    background-image: url('/images/down.png');
}

 
.report  th {
    z-index: 20;
    color:#fff;
    background: #6593cf;
    font: bold 11px arial, sans-serif;
    padding: 0;
    margin:0;

}
 
.report  th p {
    color: #eee;
    padding: 1px 1px;
}
 
.report  th a:hover {
    color: #fff;
}
 
.report  th.sorted {
    background-color: #6593cf;
}
 
.report  th.asc a,
.report  th.asc a:hover {
    background-color: #e1eec6;
    background-image: url('/images/arrow_up.gif');
    background-position:right;
    background-repeat:no-repeat;
}
 
.report th.desc a,
.report  th.desc a:hover { 
    background-color:#e1eec6;
    background-image: url(/images/arrow_down.gif);
    background-position:right ;
    background-repeat: no-repeat;
}
  
 
/*
-----------------------------------------------
TABLE ACTIONS: 
Edit, Delete
-----------------------------------------------
*/
 
.report   td.actions {
    padding: 0;
    width: 1%;
}
 
.report   td.actions table {
    float: right;
    width: auto;
    margin-right: 5px;
}
 
.report   td.actions table td {
    border: none;
    text-align: right;
    padding: 0 2px;
}
 
.report   td.actions a {
    font: bold 11px arial, sans-serif;
    letter-spacing: -1px;
    padding: 1px;
    line-height: 16px;
}

/**
* Styles for drag and drop items on the protocol edit form
*/

#allowed_types {
    background-color:#fff;
}
#parameter_tree {
	font-family: Arial, sans-serif;
	font-size: 10px;
}

#parameter_tree dt {
    margin: 0;
    padding: 0;
    color:#ffffff;
}

#parameter_tree dl {
    margin: 0;
    padding: 0;
    list-style-type:none;
    border-right:1px solid #ffffff;
    white-space:nowrap;
}

h3.reversed {
    background:#c3daf9;
}

span.study_parameter {
    z-index:            1666;
    color:black;
    background-color:#98c0f4;
    margin: 1;
    padding: 0;
    border-style:outset;
    border-width: thin;
    white-space: nowrap;
    width: 12em;
}

span.study_queue {
    z-index:            1666;
    color:black;
    background-color:#d0def0;
    margin: 1;
    padding: 0;
    border-style:outset;
    border-width: thin;
    white-space: nowrap;
    width: 12em;
}

span.parameter {
    white-space: nowrap;
    z-index:   1666;
    color:black;
    background-color:#98c0f4;
    margin: 0;
    padding: 0;
    border-style:outset;
    border-width: thin;
    white-space: nowrap;
    vertical-align: bottom;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 12em;
}

span.parameter_context {
  background-color: #FFF4D8;
  border:1px solid #E8A400;
}

.drop-active {
    background: #FFF4D8;
    border:1px solid #E8A400;
}

.drop-active th{
    background: #FFF4D8;
    border:1px solid #E8A400;
}

div.folder-list {
   float:left;
   position:relative;
}

div.reverse {
    width: 100%;
    background-color: #6593cf;
    float:left;
    position:relative;
}


/* --------------------------------------------
 * SpreadSheet
 *--------------------------------------------*/
/*
-----------------------------------------------
Sheet Table Style
-----------------------------------------------
*/

.sheet {
    margin: 0 0 0 0;
    padding: 0 0 0 0;  
    background-color:#eee;
    border: solid thin black;
    background-color: #ddd;
    color:black;
    width: 98%;
	height: 98%;
    empty-cells: show;
	min-height:20em;
	
}
.sheet table {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
/* 
Cell titles 
*/
.sheet th {
    margin: 0 0 0 0;
    padding: 0 0 0 0;  
    height: auto;
	color: #15428b;
	overflow: hidden;
	background-color: #c0c0c0;
	background-repeat: repeat-x;
	background-attachment: scroll;
	padding-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b3cae9;
}


.sheet tr {
    margin: 0 0 0 0;
    padding: 0 0 0 0;  
    background-color: #eee;
    height: auto;
}

.sheet td {
    margin: 0 0 0 0;
    padding: 0 0 0 0;  
	font-family: arial,tahoma,helvetica,sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	line-height: 13px;
	white-space: nowrap;
	vertical-align: top;
	outline-color: invert;
	outline-style: none;
	outline-width: medium;
	color: black;
	background-color: white;
    }
/* 
Cells 
*/
.sheet .cell {
    margin: 0 0 0 0;
    padding: 0 0 0 0;    
    color: rgb(0,0,0);
    font-weight:normal;
    font-style: normal;
    font-family: Arial;
    font-size: 1.0em;
    text-decoration: none;
}
/* Cell is currently active for user input */

.sheet .active {
    margin: 0 0 0 0;
    padding: 0 0 0 0;  
    background-color: rgb(255,255,140);
    color: rgb(0,0,0);
    font-weight:bold;
    text-decoration: none;
    font-family: Arial;
    font-size: 1.0em;
    text-align: center;
}
  
  .pagination {
    padding: 3px;
    margin: 3px;
  }
  .pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #aaaadd;
    text-decoration: none;
    color: #000099;
  }
  .pagination a:hover, .pagination a:active {
    border: 1px solid #000099;
    color: #000;
  }
  .pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #000099;
    font-weight: bold;
    background-color: #000099;
    color: #FFF;
  }
  .pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #eee;
    color: #ddd;
  }  