
/* 
    Document   : biorails3.css
    Created on : 12-Sep-2007, 17:06:25
    Author     : rshell
    Description:
        Purpose of the stylesheet follows.
*/

h2 a{
    font-weight:normal;
}

h3{
    margin:0 0 12px 0; 
    font-size:1.4em;
    color:#707070;
    font-family: Trebuchet MS,Georgia,"Times New Roman",serif;
}
h4{
    font-size: 1em; 
    margin-bottom: 12px; 
    margin-top: 20px; 
    font-weight: normal; 
    border-bottom: dotted 1px #c0c0c0;
}
 
.panel {
  background-color: #FFFFF0;
  border: 1px solid #c0c0c0;
  z-index: 10;
}

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.splitcontentleft{
    float:left; 
    width:49%;}

.splitcontentright{
    float:right; 
    width:49%;}
    
.clear{clear:both;}
.small{font-size:0.8em;line-height:1.4em;padding:0 0 0 0;}

.hide{display:none;}

.textcenter{
    text-align:center;
     }
     
.textright{
    text-align:right;
    }

.important{color:#f02025; background-color:inherit; font-weight:bold;}

.box{
    margin:10px 10px 20px 10px;
    padding:10px;
    border:1px solid #c0c0c0;
    background-color:#fafbfc;
    color:#505050;
    line-height:1.5em;
}

.layout-active {
background: #ECF3E1;
}

.handle {
cursor: move;
}

.login {
width: 50%;
text-align: left;
}

img.calendar-trigger {
    cursor: pointer;
    vertical-align: middle;
    margin-left: 4px;
}

 
/***** Tooltips ******/
.tooltip{position:relative;z-index:24;}
.tooltip:hover{z-index:25;color:#000;}
.tooltip span.tip{display: none}

div.tooltip:hover span.tip{
    display:block;
    position:absolute;
    top:12px; left:24px; width:270px;
    border:1px solid #555;
    background-color:#fff;
    padding: 4px;
    font-size: 0.8em;
    color:#505050;
}  

/*========== Side Menu Bar  ==============*/

div.sidemenu {
	width: 100%;
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 10px;
	color: #fff;
    z-index: 10; 	
}
div.sidemenu div {
    background:#98c0f4;
	overflow: hidden;
    z-index: 10; 
    }

div.sidemenu div.collapsed {
	height: 25px;
    background:#6593cf;
    z-index: 10; 
}

div.sidemenu div span.menu {
	display: block;
	padding: 5px 22px;
	font-weight: bold;
	color: white;
	cursor: default;
	border-bottom: 1px solid #ddd;
	background: url(/images/arrow_up.gif) no-repeat right center;
    z-index: 10; 
}

div.sidemenu div.collapsed span.menu {
	background: url(/images/arrow_down.gif) no-repeat right center;
    z-index: 10; 
}

div.sidemenu div  a {
	padding: 1px 5px;
	background: #eee;
	display: block;
	border-bottom: 1px solid #ddd;
	color: #0000ee;
    z-index: 10; 
}
div.sidemenu div  a.current {
	background : #ccc;
    z-index: 10; 
}

div.sidemenu div a:hover {
	background : #6593cf url(/images/arrow_right.png) no-repeat right center;
	color: #fff;
	text-decoration: none;
    z-index: 10; 
}


.error {
color: #cc0000;
}

/*HTML Diff highlighting */

div.diff  {
    border: 1px solid black;
  }
  
pre.match { 
}

pre.only_a  {
    background-color: #fdd;
    color: red;
    text-decoration: line-through;
  }
pre.only_b  {
    background-color: #ddf;
    color: blue;
    border-left: 3px solid blue
  }
  
/*
-----------------------------------------------
Report Table Style
-----------------------------------------------
*/
.report {
   width: 100%;
    background-color: white;
   z-index: 5;
}

.report table {
    empty-cells: show;
}

.report td {
    padding: 0px 2px 0px 2px;
    color: #333;
    font-family: Verdana, sans-serif;
    font-size: 11px;
}
 
.report  td.actions {
    border-right: solid 1px #ccc;
}
 
.report tr.even {
    background-color: #c3daf9;
    border-left: solid 1px #ddd;
}
 
.report  tr td.sorted {
    background-color: #ddd;
    border-bottom: solid 1px #E1EEc6;
}
 
.report tr.even td.sorted {
    background-color: blue;
    border-bottom: solid 1px #E1eec6;
}
 
.report  td.empty {
    color: black;
    text-align: center;
}
 
/*
-----------------------------------------------
Report Table Style
-----------------------------------------------
*/

.report th.label {
    width: 15%;
}

.report th a,
    .report th p {
    font: bold 11px arial, sans-serif;
    display: block;
    background: #6593cf;
    color:              White;
}

.report th .desc {
    color:              Red;
    background-position:right;
    background-repeat:no-repeat;
    background-image: url('/images/up.png')

}

.report th .asc {
    color:              Yellow;
    background-position:right;
    background-repeat:no-repeat;
    background-image: url('/images/down.png');
}

 
.report  th {
    z-index: 20;
    color:#fff;
    background: #6593cf;
    font: bold 11px arial, sans-serif;
    padding: 2px 5px 2px 5px;
}
 
.report  th p {
    color: #eee;
    padding: 2px 5px;
}
 
.report  th a:hover {
    color: #fff;
}
 
.report  th.sorted {
    background-color: #6593cf;
}
 
.report  th.asc a,
.report  th.asc a:hover {
    background-color: #e1eec6;
    background-image: url('/images/arrow_up.gif');
    background-position:right;
    background-repeat:no-repeat;
}
 
.report th.desc a,
.report  th.desc a:hover { 
    background-color:#e1eec6;
    background-image: url(/images/arrow_down.gif);
    background-position:right ;
    background-repeat: no-repeat;
}
 
.report  th.loading a,
.report  th.loading a:hover {
    background: #333 url(/images/indicator-small.gif) right;
}
   
 
/*
-----------------------------------------------
TABLE ACTIONS: 
Edit, Delete
-----------------------------------------------
*/
 
.report   td.actions {
    padding: 0;
    width: 1%;
}
 
.report   td.actions table {
    float: right;
    width: auto;
    margin-right: 5px;
}
 
.report   td.actions table td {
    border: none;
    text-align: right;
    padding: 0 2px;
}
 
.report   td.actions a {
    font: bold 11px arial, sans-serif;
    letter-spacing: -1px;
    padding: 1px;
    line-height: 16px;
}

/**
* Styles for drag and drop items on the protocol edit form
*/

.protocol th  {
    margin: 0 0 0 0;
    padding: 0 0 0 0;  
    background-color:#eee;
    border: solid thin grey;
    background-color: #ddd;
    color:black;
    empty-cells: show;
    margin-top: 2px;
    margin-bottom: 2px;
}

.protocol table  {
    margin: 0 0 0 0;
    padding: 0 0 0 0;  
    border: solid thin grey;
    width: 100%;
    empty-cells: show;
}

#allowed_types {
    background-color:#fff;
}
#parameter_tree {
	font-family: Arial, sans-serif;
	font-size: 10px;
}

#parameter_tree dt {
    margin: 1px 1px 1px 1px;
    color:#ffffff;
}

#parameter_tree dl {
    margin: 1px 1px 1px 1px;
    list-style-type:none;
    border-right:1px solid #ffffff;
    white-space:nowrap;
}

h3.reversed {
    background:#7CB30F;
}

span.study_parameter {
    z-index:            1666;
    color:black;
    background-color:#E3FFA2;
    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px;
    border-style:outset;
    border-width: thin;
    white-space: nowrap;
}

span.study_queue {
    z-index:            1666;
    color:black;
    background-color:#FFFFA2;
    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px;
    border-style:outset;
    border-width: thin;
    white-space: nowrap;
}

span.parameter {
    white-space: nowrap;
    z-index:   1666;
    color:black;
    background-color:#E3FFA2;
    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px;
    border-style:outset;
    border-width: thin;
    white-space: nowrap;
    vertical-align: bottom;
    overflow-x: hidden;
    overflow-y: hidden;
    width: auto;
}

span.parameter_context {
  background-color: #FFF4D8;
  border:1px solid #E8A400;
}

.drop-active {
    background: #FFF4D8;
    border:1px solid #E8A400;
}

.drop-active th{
    background: #FFF4D8;
    border:1px solid #E8A400;
}

div.folder-list {
   float:left;
   position:relative;
}

div.reverse {
    width: 100%;
    color: #f0f0f0;
    background-color: #7cb30f;
    float:left;
    position:relative;
}


/* --------------------------------------------
 * SpreadSheet
 *--------------------------------------------*/
/*
-----------------------------------------------
Sheet Table Style
-----------------------------------------------
*/
.sheet {
    margin: 0 0 0 0;
    padding: 0 0 0 0;  
    background-color:#eee;
    border: solid thin black;
    background-color: #ddd;
    color:black;
    width: 100%;
    empty-cells: show;
}
.sheet table {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
/* 
Cell titles 
*/
.sheet th {
    border: solid thin  #A2C5BA;
    margin: 2 2 2 2;
    border: 1 1 1 1;
    padding: 0 0 0 0;
    height: auto;
    background: #7CB30F;
    color:              White;
	overflow: hidden;
}


.sheet tr {
    background-color: #eee;
    height: auto;
}

.sheet td {
    border: solid thin  #A2C5BA;
	width: auto;
    background-color: #fff;
    background-color: #fff;
    text-align:right;
    margin: 0;
    padding: 0 2px 0 2px;
    text-decoration: none;
    color: black;
    }
/* 
Cells 
*/
.sheet .cell {
    margin: 0 0 0 0;
    padding: 0 0 0 0;    
    color: rgb(0,0,0);
    font-weight:normal;
    font-style: normal;
    font-family: Arial;
    font-size: 1.0em;
    text-decoration: none;
}
/* Cell is currently active for user input */

.sheet .active {
    margin: 0 0 0 0;
    padding: 0 0 0 0;  
    background-color: rgb(255,255,140);
    color: rgb(0,0,0);
    font-weight:bold;
    text-decoration: none;
    font-family: Arial;
    font-size: 1.0em;
    text-align: center;
}

.sheet input[type="text"], .sheet select {
    width:   100%;
    height:  100%;
	border: 1 1 1 1;  
    margin: 2 2 2 2;
    padding: 0 0 0 0;  
}
/* Specific rules for data_type of cells 1=text 2=numeric 3=date */
.sheet td.type-1 input[type="text"] {
    text-align: left;	
}

.sheet td.type-2 input[type="text"] {
    text-align: right;	
}

.sheet td.type-3 input[type="text"] {
    text-align: centre;	
}
  
  