/*
 *=CORNERS
 */

.round:before {
  background: transparent url(/images/mephisto/corners/tr.png) scroll no-repeat top right;
  margin-bottom: -20px;
  height: 30px;
  display: block;
  border: none;
  content: url(/images/mephisto/corners/tl.png);
  padding: 0;
  line-height: 0.1em;
  font-size: 1px;
}


.round:after {
  display: block;
  line-height: 0.1;
  font-size: 1px;
  content:  url(/images/mephisto/corners/bl.png);
  margin: 0 0 -1px 0;
  height: 8px;
  background: white;
  background: transparent url(/images/mephisto/corners/br.png) scroll no-repeat bottom right ;
  padding: 0;
}

/* Black backgrounds */
.bround:before {
  background: transparent url(/images/mephisto/corners/btr.png) scroll no-repeat top right;
  margin-bottom: -20px;
  height: 30px;
  display: block;
  border: none;
  content: url(/images/mephisto/corners/btl.png);
  padding: 0;
  line-height: 0.1em;
  font-size: 1px;
}

.bround:after {
  display: block;
  line-height: 0.1;
  font-size: 1px;
  content:  url(/images/mephisto/corners/bbl.png);
  margin: 0 0 -1px 0;
  height: 8px;
  background: white;
  background: transparent url(/images/mephisto/corners/bbr.png) scroll no-repeat bottom right ;
  padding: 0;
}
