/**************** Enterprise Icons *******************/
.icon {
                            background-position: 0% 40%;
                            background-repeat: no-repeat;
                            padding-left: 20px;
                            padding-top: 3px;
                            padding-right: 5px;
                            padding-bottom: 3px;
                            vertical-align: middle;
                            background-repeat: no-repeat;
                      }

#navigation .icon         {
                            background-position: 4px 50%;
                          }

/* Actions */
.icon-action 	          { background-image:url(/images/enterprise/actions/action.png) !important;}
.icon-add 	          { background-image:url(/images/enterprise/actions/add.png) !important; }
.icon-cancel 	          { background-image:url(/images/enterprise/actions/cancel.png) !important; }
.icon-copy 	          { background-image:url(/images/enterprise/actions/copy.png) !important; }
.icon-del 	          { background-image:url(/images/enterprise/actions/delete.png) !important; }
.icon-edit 	          { background-image:url(/images/enterprise/actions/edit.png) !important; }
.icon-export 	          { background-image:url(/images/enterprise/actions/export.png) !important; }
.icon-import 	          { background-image:url(/images/enterprise/actions/import.png) !important; }
.icon-list 	          { background-image:url(/images/enterprise/actions/list.png) !important; }
.icon-logout 	          { background-image:url(/images/enterprise/actions/logout.png) !important; }
.icon-login 	          { background-image:url(/images/enterprise/actions/login.png) !important; }
.icon-metric 	          { background-image:url(/images/enterprise/actions/metric.png) !important;}
.icon-move 	          { background-image:url(/images/enterprise/actions/move.png) !important; }
.icon-navigation          { background-image:url(/images/enterprise/actions/navigation.png)  !important; }
.icon-new 	          { background-image:url(/images/enterprise/actions/new.png) !important; }
.icon-paste 	          { background-image: url(/images/enterprise/actions/paste.png) !important; }
.icon-preview 	          { background-image:url(/images/enterprise/actions/list.png) !important; }
.icon-refresh             { background-image:url(/images/enterprise/actions/refresh.png) !important; }
.icon-release             { background-image:url(/images/enterprise/actions/release.png) !important; }
.icon-save 	          { background-image:url(/images/enterprise/actions/save.png) !important; }
.icon-show                { background-image: url(/images/enterprise/actions/show.png) !important; }
.icon-uml                { background-image: url(/images/enterprise/actions/uml.png) !important; }
.icon-warning 	          { background-image:url(/images/enterprise/actions/warning.png) !important;}
.icon-zoom_in 	          { background-image:url(/images/enterprise/actions/zoom_in.png) !important; }
.icon-zoom_in-large       { background-image:url(/images/enterprise/actions/zoom_in-large.png) ;
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-zoom_out	          { background-image:url(/images/enterprise/actions/zoom_out.png) !important; }
.icon-zoom_out-large      { background-image:url(/images/enterprise/actions/zoom_out-large.png) ;
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }

/* Admin */
.icon-admin               { background-image:url(/images/enterprise/admin/admin.png) !important;}
.icon-catalogue           { background-image:url(/images/enterprise/admin/catalogue.png)  !important; }
.icon-database            { background-image:url(/images/enterprise/admin/data_system.png)  !important; }
.icon-data_concept        { background-image:url(/images/enterprise/admin/data_concept.png)  !important; }
.icon-data_concept-large  { background-image:url(/images/enterprise/admin/data_concept-large.png);
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-data_context        { background-image:url(/images/enterprise/admin/data_context.png)  !important; }
.icon-data_context-large  { background-image:url(/images/enterprise/admin/data_context-large.png);
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-data_element        { background-image:url(/images/enterprise/admin/data_element.png)  !important; }
.icon-data_format         { background-image:url(/images/enterprise/admin/data_format.png)  !important; }
.icon-data_system         { background-image:url(/images/enterprise/admin/data_system.png)  !important; }
.icon-data_system-large   { background-image:url(/images/enterprise/admin/data_system-large.png);
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-data_type           { background-image:url(/images/enterprise/admin/data_type.png)  !important; }
.icon-mail             { background-image:url(/images/enterprise/admin/mail.png) !important;}
.icon-settings             { background-image:url(/images/enterprise/admin/settings.png) !important;}

/*Bug*/
.icon-bug             { background-image:url(/images/enterprise/information/bug.png) !important;}

/* Calendar */
.icon-calendar 	          { background-image:url(/images/enterprise/calendar/calendar.png) !important; }
.icon-timeline 	          { background-image:url(/images/enterprise/calendar/timeline.png) !important; }
.icon-arrow_from 	  { background-image:url(/images/enterprise/calendar/arrow_from.png) !important; }
.icon-arrow_to            { background-image:url(/images/enterprise/calendar/arrow_to.png) !important; }
.icon-arrow_bw            { background-image:url(/images/enterprise/calendar/arrow_bw.png) !important; }
.icon-arrow_from-small	  { background-image:url(/images/enterprise/calendar/arrow_from-small.png) !important;
                            padding-right: 2px;
                          }
.icon-arrow_to-small      { background-image:url(/images/enterprise/calendar/arrow_to-small.png) !important;
                            padding-right: 2px;
                          }
.icon-arrow_down 	  { background-image:url(/images/enterprise/calendar/arrow_down.png) !important;}
.icon-time 	          { background-image:url(/images/enterprise/calendar/time.png) !important; }

/* Content */
.icon-article             { background-image:url(/images/enterprise/content/note.png)  !important; }
.icon-article-add         { background-image:url(/images/enterprise/content/note-add.png)  !important; }
.icon-clipboard           { background-image:url(/images/enterprise/content/clipboard.png) !important;}
.icon-article-large       { background-image:url(/images/enterprise/content/note-large.png);
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-document            { background-image:url(/images/enterprise/content/document.png)  !important; }
.icon-document-view       { background-image:url(/images/enterprise/content/document-view.png)  !important; }
.icon-file                { background-image:url(/images/enterprise/content/file.png)  !important; }
.icon-file-add            { background-image:url(/images/enterprise/content/file-add.png)  !important; }
.icon-file-large          { background-image:url(/images/enterprise/content/file-large.png);
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-folder              { background-image:url(/images/enterprise/content/folder.png)  !important; }
.icon-folder-add          { background-image:url(/images/enterprise/content/folder-add.png)  !important; }
.icon-folder-large        { background-image:url(/images/enterprise/content/folder-large.png);
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-folders             { background-image:url(/images/enterprise/content/folders.png)  !important; }
.icon-folder-view         { background-image:url(/images/enterprise/content/folder-view.png)  !important; }
.icon-history             { background-image:url(/images/enterprise/content/history.png)  !important; }
.icon-link                { background-image:url(/images/enterprise/content/link.png)  !important; }
.icon-news                { background-image:url(/images/enterprise/content/news.png) !important; }
.icon-news-large          { background-image:url(/images/enterprise/content/news-large.png) !important; }
.icon-note                { background-image:url(/images/enterprise/content/note.png)  !important; }
.icon-note-add            { background-image:url(/images/enterprise/content/note-add.png)  !important; }
.icon-note-large       { background-image:url(/images/enterprise/content/note-large.png);
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-note-small            { background-image:url(/images/enterprise/content/note-small.png)  !important; }
.icon-print 	          { background-image:url(/images/enterprise/content/print.png) !important; }
.icon-print-preview 	  { background-image:url(/images/enterprise/content/print-preview.png) !important; }
.icon-report              { background-image:url(/images/enterprise/content/report.png)  !important; }
.icon-report-large        { background-image:url(/images/enterprise/content/report-large.png);
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-report-add          { background-image:url(/images/enterprise/content/report-add.png)  !important; }
.icon-run                 { background-image:url(/images/enterprise/content/run.png)  !important; }
.icon-sign-large          { background-image:url(/images/enterprise/content/sign-large.png);                            padding-top:5px;
                            padding-bottom:5px !important;}
.icon-sign       	  { background-image:url(/images/enterprise/content/sign.png) !important;}
.icon-snapshot 	          { background-image:url(/images/enterprise/content/camera.png) !important;}
.icon-webdoc 	          { background-image:url(/images/enterprise/content/webdoc.png) !important; }

/* Data Columns */
.icon-belongs_to          { background-image:url(/images/enterprise/data_columns/belongs_to.png)  !important; }
.icon-binary 	          { background-image:url(/images/enterprise/data_columns/binary.png)  !important; }
.icon-boolean 	          { background-image:url(/images/enterprise/data_columns/boolean.png)  !important; }
.icon-date 	          { background-image:url(/images/enterprise/data_columns/date.png)  !important; }
.icon-float 	          { background-image:url(/images/enterprise/data_columns/float.png)  !important; }
.icon-has_many 	          { background-image:url(/images/enterprise/data_columns/has_many.png)  !important; }
.icon-has_one 	          { background-image:url(/images/enterprise/data_columns/has_one.png)  !important; }
.icon-string 	          { background-image:url(/images/enterprise/data_columns/string.png)  !important; }
.icon-text 	          { background-image:url(/images/enterprise/data_columns/text.png)  !important; }

/* Data Type */
.icon-data_type_date      { background-image:url(/images/enterprise/data_types/date.png)  !important; }
.icon-data_type_dictionary{ background-image:url(/images/enterprise/data_types/dictionary.png)  !important; }
.icon-data_type_file      { background-image:url(/images/enterprise/data_types/file.png)  !important; }
.icon-data_type_numeric   { background-image:url(/images/enterprise/data_types/numeric.png)  !important; }
.icon-data_type_text      { background-image:url(/images/enterprise/data_types/text.png)  !important; }
.icon-data_type_time      { background-image:url(/images/enterprise/data_types/time.png)  !important; }
.icon-data_type_url       { background-image:url(/images/enterprise/data_types/url.png)  !important; }

/* Experiment */
.icon-experiment          { background-image:url(/images/enterprise/experiment/experiment.png) !important; }
.icon-experiment-add      { background-image:url(/images/enterprise/experiment/experiment-add.png) !important; }
.icon-experiment-copy     { background-image:url(/images/enterprise/experiment/experiment-copy.png) !important; }
.icon-experiment-large    { background-image:url(/images/enterprise/experiment/experiment-large.png);
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-experiment-small    { background-image:url(/images/enterprise/experiment/experiment-small.png) !important; }

/* flags */
.icon-amber               { background-image:url(/images/enterprise/flags/amber.png)  !important; }
.icon-green               { background-image:url(/images/enterprise/flags/green.png)  !important; }
.icon-red                 { background-image:url(/images/enterprise/flags/red.png)  !important; }
.icon-white               { background-image:url(/images/enterprise/flags/white.png)  !important; }

/* Information */
.icon-category            { background-image:url(/images/enterprise/information/category.png)  !important; }
.icon-count               { background-image:url(/images/enterprise/data_types/numeric.png)  !important; }
.icon-description 	  { background-image:url(/images/enterprise/information/description.png) !important;}
.icon-help 	          { background-image:url(/images/enterprise/information/help.png) !important; }
.icon-home 	          { background-image:url(/images/enterprise/information/home.png) !important;}
.icon-info 	          { background-image:url(/images/enterprise/information/info.png) !important; }
.icon-label 	          { background-image:url(/images/enterprise/information/label.png) !important;}
.icon-lookup              { background-image:url(/images/enterprise/data_types/dictionary.png)  !important; }.icon-litref              { background-image:url(/images/enterprise/information/litref.png)  !important; }
.icon-name 	          { background-image:url(/images/enterprise/information/name.png) !important;}
.icon-package 	          { background-image:url(/images/enterprise/information/package.png) !important; }
.icon-purpose 	          { background-image:url(/images/enterprise/information/purpose.png) !important; }
.icon-research_area 	  { background-image:url(/images/enterprise/information/research_area.png) !important; }
.icon-search 	          { background-image:url(/images/enterprise/information/search.png) !important; }
.icon-status              { background-image:url(/images/enterprise/information/status.png)  !important; }

/*Arrows*/
.icon-arrow_left 	  { background-image:url(/images/enterprise/arrow/arrow_left.png) !important; }
.icon-arrow_right 	  { background-image:url(/images/enterprise/arrow/arrow_right.png) !important; }
.icon-arrow_up            { background-image:url(/images/enterprise/arrow/arrow_up.png) !important; }
.icon-arrow_down 	  { background-image:url(/images/enterprise/arrow/arrow_down.png) !important; }



/* inventory */
.icon-batch               { background-image:url(/images/enterprise/inventory/batch.png)  !important; }
.icon-compound            { background-image:url(/images/enterprise/inventory/compound.png)  !important; }
.icon-container           { background-image:url(/images/enterprise/inventory/container.png)  !important; }
.icon-mixture             { background-image:url(/images/enterprise/inventory/mixture.png)  !important; }
.icon-sample              { background-image:url(/images/enterprise/inventory/sample.png)  !important; }

/* Logo */
.icon-favicon 	          { background-image:url(/images/logo/favicon.ico)  !important; }
.icon-logo 	          { background-image:url(/images/logo/logo.png)  !important; }
.icon-logo_full           { background-image:url(/images/logo/logo_full.png)  !important; }

/* Mime Types */
.icon-csv 	          { background-image:url(/images/enterprise/mime_types/csv.png) !important; }
.icon-gif 	          { background-image:url(/images/enterprise/mime_types/csv.gif) !important; }
.icon-html 	          { background-image:url(/images/enterprise/mime_types/html.gif) !important; }
.icon-jpg 	          { background-image:url(/images/enterprise/mime_types/jpg.gif) !important; }
.icon-mdb 	          { background-image:url(/images/enterprise/mime_types/mdb.gif) !important; }
.icon-pdf 	          { background-image:url(/images/enterprise/mime_types/pdf.png) !important; }
.icon-png 	          { background-image:url(/images/enterprise/mime_types/png.gif) !important; }
.icon-ppt 	          { background-image:url(/images/enterprise/mime_types/ppt.gif) !important; }
.icon-rtf 	          { background-image:url(/images/enterprise/mime_types/rtf.gif) !important; }
.icon-txt 	          { background-image:url(/images/enterprise/mime_types/txt.png) !important; }
.icon-vis 	          { background-image:url(/images/enterprise/mime_types/vis.gif) !important; }
.icon-wav 	          { background-image:url(/images/enterprise/mime_types/wav.gif) !important; }
.icon-word 	          { background-image:url(/images/enterprise/mime_types/word.png) !important; }
.icon-wwf 	          { background-image:url(/images/enterprise/mime_types/wwf.gif) !important; }
.icon-xls 	          { background-image:url(/images/enterprise/mime_types/xls.png) !important; }
.icon-xml 	          { background-image:url(/images/enterprise/mime_types/xml.png) !important; }
.icon-zip 	          { background-image:url(/images/enterprise/mime_types/zip.gif) !important; }


/* Model */

.icon-model_experiment 	  { background-image:url(/images/enterprise/experiment/experiment.png) !important; }
.icon-model_file 	  { background-image:url(/images/enterprise/content/file.png) !important; }
.icon-model_folder 	  { background-image:url(/images/enterprise/content/folder.png) !important; }
.icon-model_link 	  { background-image:url(/images/enterprise/content/link.png) !important; }
.icon-model_article 	  { background-image:url(/images/enterprise/content/note.png) !important; }
.icon-model_note 	  { background-image:url(/images/enterprise/content/note.png) !important; }
.icon-model_project 	  { background-image:url(/images/enterprise/project/project.png) !important; }
.icon-model_protocol 	  { background-image:url(/images/enterprise/protocol/protocol.png) !important; }
.icon-model_request 	  { background-image:url(/images/enterprise/request/request.png) !important; }
.icon-model_study 	  { background-image:url(/images/enterprise/study/study.png) !important; }
.icon-model_task 	  { background-image:url(/images/enterprise/task/task.png) !important; }
.icon-model_assay 	  { background-image:url(/images/enterprise/study/assay.png) !important; }


/* Parameter Roles */
.icon-condition           { background-image:url(/images/enterprise/parameter_roles/condition.png) !important; }
.icon-input           { background-image:url(/images/enterprise/parameter_roles/input.png) !important; }
.icon-output           { background-image:url(/images/enterprise/parameter_roles/output.png) !important; }
.icon-observation         { background-image:url(/images/enterprise/parameter_roles/observation.png) !important; }
.icon-result              { background-image:url(/images/enterprise/parameter_roles/result.png) !important; }
.icon-setting             { background-image:url(/images/enterprise/parameter_roles/setting.png) !important; }
.icon-subject             { background-image:url(/images/enterprise/parameter_roles/subject.png) !important; }
.icon-variable           { background-image:url(/images/enterprise/parameter_roles/variable.png) !important; }

/* Parameters */
.icon-parameter           { background-image:url(/images/enterprise/parameters/parameter.png) !important; }
.icon-parameter-large       { background-image:url(/images/enterprise/parameters/parameter-large.png) ;
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-parameter_role      { background-image:url(/images/enterprise/parameters/parameter_role.png)  !important; }
.icon-parameter-add       { background-image:url(/images/enterprise/parameters/parameter-add.png) !important; }
.icon-parameter_type      { background-image:url(/images/enterprise/parameters/parameter_type.png)  !important; }
.icon-parameter_type-add  { background-image:url(/images/enterprise/parameters/parameter_type-add.png)  !important; }
.icon-parameter-small     { background-image:url(/images/enterprise/parameters/parameter-small.png) !important; }

/* Priority */
.icon-priority_low       { background-image:url(/images/state/green.png) !important; }
.icon-priority_normal    { background-image:url(/images/state/amber.png) !important; }
.icon-priority_undefined { background-image:url(/images/state/purple.png) !important; }
.icon-priority_high      { background-image:url(/images/state/red.png) !important; }


/* Project */
.icon-project             { background-image:url(/images/enterprise/project/project.png) !important; }
.icon-project-add         { background-image:url(/images/enterprise/project/project-add.png) !important; }
.icon-project-closed      { background-image:url(/images/enterprise/project/project-closed.png) !important; }
.icon-project-large       { background-image:url(/images/enterprise/project/project-large.png) ;
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }

/* Protocol*/
.icon-context             { background-image:url(/images/enterprise/protocol/context.png) !important; }
.icon-layout              { background-image:url(/images/enterprise/protocol/layout.png) !important; }
.icon-study_protocol      { background-image:url(/images/enterprise/protocol/protocol.png) !important; }
.icon-protocol            { background-image:url(/images/enterprise/protocol/protocol.png) !important; }
.icon-protocol-add        { background-image:url(/images/enterprise/protocol/protocol-add.png) !important; }
.icon-protocol-edit       { background-image:url(/images/enterprise/protocol/protocol-edit.png) !important; }
.icon-protocol-large      { background-image:url(/images/enterprise/protocol/protocol-large.png);
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-protocol_version    { background-image:url(/images/enterprise/protocol/protocol_version.png) !important; }
.icon-process_instance    { background-image:url(/images/enterprise/protocol/protocol_version.png) !important; }
.icon-protocol_version-large      { background-image:url(/images/enterprise/protocol/protocol_version-large.png);
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-protocol_version-preview { background-image:url(/images/enterprise/protocol/protocol_version-preview.png) !important; }
.icon-protocol-small        { background-image:url(/images/enterprise/protocol/protocol-small.png) !important; }

/* Request */
.icon-queue               { background-image:url(/images/enterprise/request/queue.png) !important; }
.icon-queue-add           { background-image:url(/images/enterprise/request/queue-add.png) !important; }
.icon-queue_item          { background-image:url(/images/enterprise/request/queue_item.png) !important; }
.icon-queue_item-large    { background-image:url(/images/enterprise/request/queue_item-large.png);
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-queue_item-small    { background-image:url(/images/enterprise/request/queue_item-small.png) !important; }
.icon-queue-large         { background-image:url(/images/enterprise/request/queue-large.png);
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-queue-small         { background-image:url(/images/enterprise/request/queue-small.png) !important; }
.icon-request             { background-image:url(/images/enterprise/request/request.png) !important; }
.icon-request-add         { background-image:url(/images/enterprise/request/request-add.png) !important; }
.icon-request-large       { background-image:url(/images/enterprise/request/request-large.png);
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-request-small         { background-image:url(/images/enterprise/request/request-small.png) !important; }
.icon-service             { background-image:url(/images/enterprise/request/service.png) !important; }
.icon-service-add         { background-image:url(/images/enterprise/request/service-add.png) !important; }
.icon-service-large       { background-image:url(/images/enterprise/request/service-large.png);
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-todo                { background-image:url(/images/enterprise/request/todo.png) !important; }

/*Status*/
.icon-priority           { background-image:url(/images/state/priority.png) !important; }
.icon-priority-small     { background-image:url(/images/state/priority-small.png) !important; }
.icon-status_aborted     { background-image:url(/images/state/red.png) !important; }
.icon-status_rejected    { background-image:url(/images/state/red.png) !important; }
.icon-status_new         { background-image:url(/images/state/orange.png) !important; }
.icon-status_accepted    { background-image:url(/images/state/green.png) !important; }
.icon-status_waiting     { background-image:url(/images/state/pink.png) !important; }
.icon-status_processing  { background-image:url(/images/state/green.png) !important; }
.icon-status_validation  { background-image:url(/images/state/amber.png) !important; }
.icon-status_completed   { background-image:url(/images/state/purple.png) !important; }

/* Study */
.icon-study               { background-image:url(/images/enterprise/study/study.png) !important; }
.icon-study-add           { background-image:url(/images/enterprise/study/study-add.png) !important; }
.icon-study-edit          { background-image:url(/images/enterprise/study/study-edit.png) !important; }
.icon-study-import        { background-image:url(/images/enterprise/study/study-import.png) !important; }
.icon-study-large         { background-image:url(/images/enterprise/study/study-large.png);
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-study-small         { background-image:url(/images/enterprise/study/study-small.png) !important; }
.icon-study_stage         { background-image:url(/images/enterprise/study/study_stage.png) !important; }
.icon-workflow         { background-image:url(/images/enterprise/study/workflow.png) !important; }

.icon-assay               { background-image:url(/images/enterprise/assay/assay.png) !important; }
.icon-assay-add           { background-image:url(/images/enterprise/assay/assay-add.png) !important; }
.icon-assay-edit          { background-image:url(/images/enterprise/assay/assay-edit.png) !important; }
.icon-assay-import        { background-image:url(/images/enterprise/assay/assay-import.png) !important; }
.icon-assay-large         { background-image:url(/images/enterprise/assay/assay-large.png);
padding-top:5px;
padding-bottom:5px !important;
}
.icon-assay-small         { background-image:url(/images/enterprise/assay/assay-small.png) !important; }
.icon-assay_stage         { background-image:url(/images/enterprise/assay/assay_stage.png) !important; }


/* Task */
.icon-analysis            { background-image:url(/images/enterprise/task/analysis.png) !important; }
.icon-data_entry          { background-image:url(/images/enterprise/task/data_entry.png) !important; }
.icon-task                { background-image:url(/images/enterprise/task/task.png) !important; }
.icon-task-add            { background-image:url(/images/enterprise/task/task-add.png) !important; }
.icon-task-large         { background-image:url(/images/enterprise/task/task-large.png);
                            padding-top:5px;
                            padding-bottom:5px !important;}
.icon-task-small          { background-image:url(/images/enterprise/task/task-small.png) !important; }

/* User */
.icon-audit               { background-image:url(/images/enterprise/user/audit.png)  !important; }
.icon-permission          { background-image:url(/images/enterprise/user/permission.png)  !important; }
.icon-role                { background-image:url(/images/enterprise/user/role.png)  !important; }
.icon-team 	          { background-image:url(/images/enterprise/user/team.png) !important; }
.icon-team-large          { background-image:url(/images/enterprise/user/team-large.png);
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-user 	          { background-image:url(/images/enterprise/user/user.png) !important; }
.icon-user_lab	          { background-image:url(/images/enterprise/user/user_lab.png) !important; }
.icon-user-add 	          { background-image:url(/images/enterprise/user/user-add.png) !important; }
.icon-user-large          { background-image:url(/images/enterprise/user/user-large.png);
                            padding-top:5px;
                            padding-bottom:5px !important;
                          }
.icon-user-small         { background-image:url(/images/enterprise/user/user-small.png) !important; }
