/*
 *=ERRORS AND NOTICES
 */
/********** Validation error messages *************/

#errorExplanation {
  border: 0;
  padding: 1px;
  padding-bottom: 1px;
  margin-bottom: 0px;
}

#errorExplanation h4 {
  text-align: left;
  font-weight: bold;
  font-size: 1.1em;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 0px;
}
#errorExplanation {
  text-align: left;
  border: 1px solid #F99;
  background: #ffd5cd;
}


#errorExplanation ul li {
  font-size: 1em;
}

.flash_error,.flash_warning, #errorExplanation {
  margin: 0 auto;
  background: #ffc7b6;
  padding: 10px;
  color: #510;
}

.flash_notice, .flash_info {
  background: #cfc;
  padding: 10px;
  color: #051;
  }

#errorExplanation ul, 
.flash_notice ul, 
.flash_errors ul,
.flash_notice li,
.flash_errors li {
  list-style: none;
}


