/*
 *=ERRORS AND NOTICES
 */
/********** Validation error messages *************/

#errorExplanation {
  border: 0;
  padding: 7px;
  padding-bottom: 3px;
  margin-bottom: 0px;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
  background: url(../images/alert.png) no-repeat 6px 6px;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
#errorExplanation {
  text-align: left;
  border: 1px solid #F99;
  background: #ffd5cd;
}


#errorExplanation ul li {
  font-size: 1em;
}

#flash-errors, #errorExplanation {
  margin: 0 auto;
  background: #ffc7b6;
  padding: 10px;
  color: #510;

}

#flash-notice {
  background: #cfc;
  padding: 10px;
  color: #051;
  text-align: center;
  }

#errorExplanation ul, 
#flash-notice ul, 
#flash-errors ul,
#flash-notice li,
#flash-errors li {
  list-style: none;
}


