/*-------------------------------------------------------------
This CSS handles Form presentation generally all styles should
only effect items within the <form> </form> block
-----------------------------------------------------------------*/

form.inplaceeditor-form {
    white-space: nowrap;
	
	color: #000000;
    background-color:#E3FFA2;
	
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	margin: 1px 1px 1px 1px;
	
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e4e3c9;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #e4e3c9;
	
	vertical-align: bottom;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	}

form input.editor_ok_button {
    width: 30px;
    padding: 1px;
    margin-left: 2px;
}

form input.editor_field {
    display: block;
    padding: 1px;
    margin-left: 2px;
}

form .editor_cancel {
    padding: 1px;
    margin-left: 2px;
	
	
}

/** Row on a panel */

form div.row {
    clear: both;
    float: none;
    padding: 1px;
    margin-left: 5px;
}

/** Basic form control with label, field and tooltip */

form div.form-element {
    float: left;
    margin-right: 10px;
    margin-bottom: 2px;
}

form .form-element label {
    display: block;
    font-family: Verdana, sans-serif;
    color: #555;
    font-size: 11px;
    padding-bottom: 1px;
}

form {
    margin: 5px 0;
}

form .submit {
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, sans-serif;
    letter-spacing: 0;
    margin: 0;
    margin-top: 5px;
}

form label.required{
    font-weight: bold;
}

form label.example {
    font-size: 11px;
    font-family: arial;
    color: #888;
}

form h4 {
    padding: 2px;
    margin: 0;
    text-transform: none;
    color: #1F7F00;
    letter-spacing: -1px;
    font: bold 16px arial;
}

form dl {
  margin: 0 10px;
}

form dt label, .sform label {
  font-weight: bold;
  text-shadow: #fff 2px 2px;
  margin: 0;
  padding: 0;
}

form dt {
  margin-top: 15px;
}

form dd {
  line-height: normal;
  padding: 1px;
}

input[type='text'], input[type='password'], 
input[type='checkbox'], select, textarea {
  border: 1px solid #ddd;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  font-family: "Lucida Grande", Lucida, Helvetica, sans-serif;
  font-size: 100%;
  padding: 2px;
}

input[type='text']:focus, textarea:focus {
  background: #fff;
  color: #000;  
}

form textarea {
    height: 125px;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 1px;
    border: solid 1px #1F7F00;
}

form .btn-asset {
  border-top: 1px solid #FFEB9E;
  margin-top: 5px;
  padding: 3px;
  text-align: right;
  background: #7CB30F;
}

form .btns {
  padding: 10px !important;
  margin: 20px 0;
  background: #dee;
  border-top: 1px solid #99D3D5;
}

form .big { font-size: 180% !important; }
form .lil { font-size: 80%; }
form .fat { width: 100%;}
form .tiny { width: 30px; }


.dhx_combo_img{
	position:absolute;
	top:0px;
	right:0px;
	width:17px;
	height:20px;
}

.dhx_combo_option_img{
	position:relative;
	top:1px;
	margin-left:2px;
	left:0px;
	width:18px; height:18px;
}


.dhx_combo_input{
	color:#333333;
	font-family: Arial;
	font-size: 9pt;
	border:0px;
	padding:2px 2px 2px 2px;
	position:absolute;
	top:0px;
}
.dhx_combo_box{
	position:relative;
	border:1px solid #7F9DB9;
	height:20px;
	_height:22px;
	overflow:hidden;
    background-color: white;	
}
.dhx_combo_list{
   position:absolute;
   z-index:30;
   overflow-y:auto;
   overflow-x:hidden;
   border:1px solid black;
   height:100px;
   font-family: Arial;
   font-size: 9pt;
   background-color: white;
}

.dhx_combo_list div{
	cursor:default;
	padding:2px 2px 2px 2px;
}
.dhx_selected_option{
	background-color:navy;
	color:white;
}

