/*-------------------------------------------------------------
This CSS handles Form presentation generally all styles should
only effect items within the <form> </form> block
-----------------------------------------------------------------*/

form.inplaceeditor-form {
    white-space: nowrap;
	
	color: #000000;
    background-color:#E3FFA2;	
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	margin: 1px 1px 1px 1px;
	border: solid 1px;	
	border-top-color: #ffffff;
	border-bottom-color: #e4e3c9;
	border-left-color: #ffffff;
	border-right-color: #e4e3c9;
	vertical-align: bottom;
	width: 100%;
	}

form .invalid,form .fieldWithErrors {
   border: 1px solid #f00;
 }
 
form input.editor_ok_button {
    width: 30px;
    padding: 1px;
    margin-left: 2px;
}

form input.editor_field {
    display: block;
    padding: 1px;
    margin-left: 2px;
}

form .editor_cancel {
    padding: 1px;
    margin-left: 2px;
	
	
}

/** Row on a panel */

form div.row {
    clear: both;
    float: none;
    padding: 1px;
    margin-left: 5px;
}

/** Basic form control with label, field and tooltip */

form div.form-element {
    float: left;
    margin-right: 10px;
    margin-bottom: 2px;
}

form .form-element label {
    display: block;
    font-family: Verdana, sans-serif;
    color: #555;
    font-size: 11px;
    padding-bottom: 1px;
}

form {
    margin: 5px 0;
}

form .submit {
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, sans-serif;
    letter-spacing: 0;
    margin: 0;
    margin-top: 5px;
}

form label.required{
    font-weight: bold;
}

form .big { font-size: 180% !important; }
form .lil { font-size: 80%; }
form .fat { width: 100%;}
form .tiny { width: 30px; }
