/**************** Icons *******************/
.icon {
background-position: 0% 40%;
background-repeat: no-repeat;
padding-left: 20px;
padding-top: 2px;
padding-bottom: 3px;
vertical-align: middle;
}

#navigation .icon {
background-position: 4px 50%;
}


.icon-add { background-image:    url(/images/action/add.png); }
.icon-edit { background-image:   url(/images/action/edit.png); }
.icon-del { background-image:    url(/images/action/delete.png); }
.icon-move { background-image:   url(/images/action/move.png); }
.icon-save { background-image:   url(/images/action/save.png); }
.icon-cancel { background-image: url(/images/action/cancel.png); }
.icon-print { background-image: url(/images/action/print.png); }
.icon-new { background-image: url(/images/action/new.png); }


.icon-pdf { background-image:  url(/images/mime/pdf.gif); }
.icon-csv { background-image:  url(/images/mime/xls.gif); }
.icon-xls { background-image: url(/images/mime/xls.png); }
.icon-txt { background-image: url(/images/mime/txt.gif); }

.icon-package { background-image: url(/images/package.png); }
.icon-home { background-image:    url(/images/home.png); }
.icon-user { background-image:    url(/images/model/user.png); }
.icon-logout { background-image: url(/images/logout.png); }
.icon-help { background-image: url(/images/help.png); }

.icon-note  { background-image: url(/images/model/note.png); }
.icon-folder  { background-image: url(/images/model/folder.png); }
.icon-file   { background-image: url(/images/model/file.png); }

.icon-project   { background-image: url(/images/model/project.png); }
.icon-project   { background-image: url(/images/model/project.png); }
.icon-project   { background-image: url(/images/model/project.png); }

.icon-project   { background-image: url(/images/model/project.png); }
.icon-study     { background-image: url(/images/model/study.png); }
.icon-request   { background-image: url(/images/model/request.png); }
.icon-service   { background-image: url(/images/model/request_service.png); }
.icon-protocol  { background-image: url(/images/model/protocol.png); }
.icon-parameter { background-image: url(/images/model/parameter.png); }
.icon-queue     { background-image: url(/images/model/queue.png); }
.icon-experiment{ background-image: url(/images/model/experiment.png); }
.icon-task      { background-image: url(/images/model/task.png); }


.icon-compound  { background-image: url(/images/model/compound.png); }
.icon-batch     { background-image: url(/images/model/batch.png); }
.icon-sample    { background-image: url(/images/model/sample.png); }
.icon-container { background-image: url(/images/model/container.png); }
.icon-mixture   { background-image: url(/images/model/container.png); }

.icon-catalogue     { background-image: url(/images/model/catalogue.png); }
.icon-data-format   { background-image: url(/images/model/data_format.png); }
.icon-data-element  { background-image: url(/images/model/data_element.png); }
.icon-data-type     { background-image: url(/images/model/data_type.png); }
.icon-data-system   { background-image: url(/images/model/data_system.png); }
.icon-data-concept  { background-image: url(/images/model/data_concept.png); }
.icon-data-context  { background-image: url(/images/model/data_context.png); }

.icon-parameter-type  { background-image: url(/images/model/parameter-type.png); }
.icon-parameter-role  { background-image: url(/images/model/parameter-role.png); }

.icon-user        { background-image: url(/images/model/user.png); }
.icon-role        { background-image: url(/images/model/role.png); }
.icon-audit        { background-image: url(/images/model/role.png); }
.icon-permission  { background-image: url(/images/model/permission.png); }


