/* andreas08 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com . Free to use in any way and for any purpose as long as the proper credits are given to the original designer. Version: 1.0, November 28, 2005 */
/* Edited by Jean-Philippe Lang *>
/**************** Body and tag styles ****************/

#header * {margin:0; padding:0;}
p, ul, ol, li {margin:0; padding:0;}

body{
font:76% Verdana,Tahoma,Arial,sans-serif;
line-height:1.4em;
text-align:center;
color:#303030;
background:#e8eaec;
margin:0;
}

a{color:#467aa7;font-weight:bold;text-decoration:none;background-color:inherit;}
a:hover{color:#2a5a8a; text-decoration:none; background-color:inherit;}
a img{border:none;}

p{margin:0 0 1em 0;}
p form{margin-top:0; margin-bottom:20px;}

img.left,img.center,img.right{padding:4px; border:1px solid #a0a0a0;}
img.left{float:left; margin:0 12px 5px 0;}
img.center{display:block; margin:0 auto 5px auto;}
img.right{float:right; margin:0 0 5px 12px;}

/**************** Header and navigation styles ****************/

#container{
width:100%;
min-width: 800px;
margin:0;
padding:0;
text-align:left;
background:#ffffff;
color:#303030;
}

#header{
height:4.5em;
margin:0;
background:#7CB30F;
color:#ffffff;
margin-bottom:1px;
}

#header h1{
padding:10px 0 0 20px;
font-size:2em;
background-color:inherit;
color:#fff;
letter-spacing:-1px;
font-weight:bold;
font-family: Trebuchet MS,Georgia,"Times New Roman",serif;
}

#header .left{
float: left;
}

#header .right{
float: right; 
padding-right: 1em; 
padding-top: 0.2em;
}

#header h2{
margin:3px 0 0 40px;
font-size:1.5em;
background-color:inherit;
color:#f0f2f4;
letter-spacing:-1px;
font-weight:normal;
font-family: Trebuchet MS,Georgia,"Times New Roman",serif;
}

#navigation{
height:2.2em;
line-height:2.2em;
margin:0;
background:#7CB30F;
color:#ffffff;
}

#navigation li{
float:left;
list-style-type:none;
border-right:1px solid #ffffff;
white-space:nowrap;
}

#navigation li.right {
 float:right;
list-style-type:none;
border-right:0;
border-left:1px solid #ffffff;
white-space:nowrap;
}

#navigation li a{
display:block;
padding:0px 10px 0px 22px;
font-size:0.8em;
font-weight:normal;
text-decoration:none;
background-color:inherit;
color: #ffffff;
}

#navigation li.submenu {background:url(../images/arrow_down.png) 96% 80% no-repeat;}
#navigation li.submenu a {padding:0px 16px 0px 22px;}
* html #navigation a {width:1%;}

#navigation .selected,#navigation a:hover{
color:#ffffff;
text-decoration:none;
background-color: #80b0da;
}


/**************** Content styles ****************/

html>body #content {
height: auto;
min-height: 500px;
} 

#content{
width: auto;
height:500px;
font-size:0.9em;
padding:10px 10px 10px 10px;
margin-left: 150px;
border-left: 1px dashed #c0c0c0;
}

#left {
  position: absolute;
  left: 5px;
  width: 140px;
  background-color: #F0F0F0;
  border: 1px solid #c0c0c0;
}

#main {
  width: 97%;
  margin:5px 5px 5px 5px;
  padding:10px 10px 10px 10px;
}

#right {
  float: right;
  width: 30%;
  background-color: #E0E0E0;
  border: 1px solid #c0c0c0;
}

#centre {
  position: relative;
  float: left;
  width: 68%;
  background-color: #FFFFF0;
  border: 1px solid #c0c0c0;
}

.panel {
  background-color: #FFFFF0;
  border: 1px solid #c0c0c0;
}


#content h2{
display:block;
margin:0 0 16px 0;
font-size:1.7em;
font-weight:normal;
letter-spacing:-1px;
color:#606060;
background-color:inherit;
font-family: Trebuchet MS,Georgia,"Times New Roman",serif;
}

#content h2 a{font-weight:normal;}
#content h3{margin:0 0 12px 0; font-size:1.4em;color:#707070;font-family: Trebuchet MS,Georgia,"Times New Roman",serif;}
#content h4{font-size: 1em; margin-bottom: 12px; margin-top: 20px; font-weight: normal; border-bottom: dotted 1px #c0c0c0;} 
#content a:hover,#subcontent a:hover{text-decoration:underline;}
#content ul,#content ol{margin:0 5px 16px 35px;}
#content dl{margin:0 5px 10px 25px;}
#content dt{font-weight:bold; margin-bottom:5px;}
#content dd{margin:0 0 10px 15px;}

#content .tabs{height: 2.6em;}
#content .tabs ul{margin:0;}
#content .tabs ul li{
float:left;
list-style-type:none;
white-space:nowrap;  margin:5px 5px 5px 5px;

margin-right:8px;
background:#fff;
}
#content .tabs ul li a{
display:block;
font-size: 0.9em;
text-decoration:none;
line-height:1em;
padding:4px;
border: 1px solid #c0c0c0;
}

#content .tabs ul li a.selected, #content .tabs ul li a:hover{
background-color: #80b0da;
border: 1px solid #80b0da;
color: #fff;
text-decoration:none;
}

/***********************************************/

form {display: inline;}
blockquote {padding-left: 6px; border-left: 2px solid #ccc;}
input, select {vertical-align: middle; margin-bottom: 4px;}

input.button-small {font-size: 0.8em;}
.select-small {font-size: 0.8em;}
label {font-weight: bold; font-size: 1em; color: #505050;}
fieldset {border:1px solid #c0c0c0; padding: 6px;}
legend {color: #505050;}
.required {color: #bb0000;}


hr { border:none; border-bottom: dotted 1px #c0c0c0; }
table p {margin:0; padding:0;}


div.square {
 border: 1px solid #999;
 float: left;
 margin: .4em .5em 0 0;
 overflow: hidden;
 width: .6em; height: .6em;
}

ul.documents {
list-style-type: none;
padding: 0;
margin: 0;
}

ul.documents li {
background-image: url(../images/32x32/file.png);
background-repeat: no-repeat;
background-position: 0 1px;
padding-left: 36px;
margin-bottom: 10px;
margin-left: -37px;
}


/********** Validation error messages *************/
#errorExplanation {
  width: 400px;
  border: 0;
  padding: 7px;
  padding-bottom: 3px;
  margin-bottom: 0px;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 10px 26px;
  font-size: 1em;
  margin: -7px;
  background: url(../images/alert.png) no-repeat 6px 6px;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 1em;
  list-style: none;
  margin-left: -16px;
}

/*==========  Drop down menu  ==============*/
div.menu {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #7F9DB9;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0;
  visibility: hidden;
  z-index: 101;
}

div.menu a.menuItem {
  font-size: 10px;
  font-weight: normal;
  line-height: 2em;
  color: #000000;
  background-color: #FFFFFF;
  cursor: default;
  display: block;
  padding: 0 1em;
  margin: 0;
  border: 0;
  text-decoration: none;
  white-space: nowrap;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
  background-color: #80b0da;
  color: #ffffff;
}

div.menu a.menuItem span.menuItemText {}

div.menu a.menuItem span.menuItemArrow {
  margin-right: -.75em;
}

/**************** Sidebar styles ****************/


#left h2{
display:block;
margin:0 0 5px 0;
font-size:1.0em;
font-weight:bold;
text-align:left;
color:#606060;
background-color:inherit;
font-family: Trebuchet MS,Georgia,"Times New Roman",serif;
}

#left p{margin:0 0 2px 0; font-size:0.9em;}

/**************** Menublock styles ****************/

.menublock{margin:0 0 0 0 ; font-size:0.8em;}
.menublock li{list-style:none; display:block; padding:0px; margin-bottom:0px;}
.menublock li a{font-weight:bold; text-decoration:none;}
.menublock li a:hover{text-decoration:none;}
.menublock li ul{margin:0; font-size:1em; font-weight:normal;}
.menublock li ul li{margin-bottom:0;}
.menublock li ul a{font-weight:normal;}

/**************** Footer styles ****************/

#footer{
clear:both;
padding:5px 0;
margin:0;
font-size:0.9em;
color:#f0f0f0;
background:#7CB30F;
}

#footer p{padding:0; margin:0; text-align:center;}
#footer a{color:#f0f0f0; background-color:inherit; font-weight:bold;}
#footer a:hover{color:#ffffff; background-color:inherit; text-decoration: underline;}

/**************** Misc classes and styles ****************/

.splitcontentleft{float:left; width:49%;}
.splitcontentright{float:right; width:49%;}
.clear{clear:both;}
.small{font-size:0.8em;line-height:1.4em;padding:0 0 0 0;}
.hide{display:none;}
.textcenter{text-align:center;}
.textright{text-align:right;}
.important{color:#f02025; background-color:inherit; font-weight:bold;}

.box{
margin:0 0 20px 0;
padding:10px;
border:1px solid #c0c0c0;
background-color:#fafbfc;
color:#505050;
line-height:1.5em;
}

a.close-icon {
display:block;
margin-top:3px;
overflow:hidden;
width:12px;
height:12px;
background-repeat: no-repeat;
cursor:pointer;
background-image:url('../images/close.png');
}

a.close-icon:hover {
background-image:url('../images/close_hl.png');
}

.rightbox{
background: #fafbfc;
border: 1px solid #c0c0c0;
float: right;
padding: 8px;
position: relative;
margin: 0 5px 5px;
}

.layout-active {
background: #ECF3E1;
}

.block-receiver {
border:1px dashed #c0c0c0;
margin-bottom: 20px;
padding: 15px 0 15px 0;
}

.mypage-box {
margin:0 0 20px 0;
color:#505050;
line-height:1.5em;
}

.handle {
cursor: move;
}

.login {
width: 50%;
text-align: left;
}

img.calendar-trigger {
    cursor: pointer;
    vertical-align: middle;
    margin-left: 4px;
}

#history p {
    margin-left: 34px;
}

/***** Contextual links div *****/
.contextual {
float: right;
font-size: 0.8em;
line-height: 16px;
padding: 2px;
}

.contextual select, .contextual input {
font-size: 1em;
}


/***** Tooltips ******/
.tooltip{position:relative;z-index:24;}
.tooltip:hover{z-index:25;color:#000;}
.tooltip span.tip{display: none}

div.tooltip:hover span.tip{
display:block;
position:absolute;
top:12px; left:24px; width:270px;
border:1px solid #555;
background-color:#fff;
padding: 4px;
font-size: 0.8em;
color:#505050;
}

/***** CSS FORM ******/
.tabular p{
margin: 0;
padding: 5px 0 8px 0;
padding-left: 180px; /*width of left column containing the label elements*/
height: 1%;
}

.tabular label{
font-weight: bold;
float: left;
margin-left: -180px; /*width of left column*/
width: 175px; /*width of labels. Should be smaller than left column to create some right 
margin*/
}

.error {
color: #cc0000;
}


/*.threepxfix class below:
Targets IE6- ONLY. Adds 3 pixel indent for multi-line form contents.
to account for 3 pixel bug: http://www.positioniseverything.net/explorer/threepxtest.html
*/

* html .threepxfix{
margin-left: 3px;




#sbar {
  margin: 0 10px 0 69%;
  color: #033;
}

#sbar:after {
  content: ".";
  height: 1px;
  visibility: hidden;
  clear: left;
  display: block;
}


/**************************************** Right SideBar ***********************************/

#sbar {
  padding-top: 20px;
  color: #033;
  position: relative;
}

#sbar a:hover {
  background-color: #000;
  color: #fff;
}

#sbar dl {
 margin: 0 10px;
 padding: 10px;
}

#sbar dd {
 border: 0;
 display: inline;
}

#sbar h3 {
  padding: 2px 5px;
  color: #033;
  font-size: 100%;
  font-family: Helvetica, "Lucida Grande", sans-serif;
  border-bottom: 1px dotted #6ab;
  margin-bottom: 5px;
}

#sbar .hint {
  color: #000;
  margin-top: 4px;
}

/*
 *=SBAR FORMS
 */

.sform {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sform input[type !='submit'] {
  border: 1px solid #333;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

.sform li {
  margin-bottom: 5px;
}

.sform label {
  text-shadow: none;
  font-size: 90%;
  margin: 0;
  color: #044;
}

dl.sform {
  margin: 0 !important;
  padding: 0 0 0 5px !important;
}

.sform dt {
  margin: 0 0 2px 0 !important;
  padding: 5px 0 0 0 !important;
}

.sform dd {
  display: block !important;
  padding: 0 0 5px 0 !important;
  border-bottom: 1px dotted #C6F4F6 !important;
}

.sform p {
  margin: 0;
  padding: 3px 0 0 0 !important;
}

.slist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slist li {
  padding: 2px 10px;
}

.slist a { border: 0; }

.stabs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.stabs li {
  display: inline;
}

.stabs li a {
  padding: 5px;
  padding-bottom: 3px;
  border: 1px solid #6aa;
  border-bottom: 0;
  background-color: #9BDDDD !important;
  color: #000;
  margin-right: 3px;
  outline: none;
  font-size: 90%;
  padding-left: 18px;
}

.stabs li a.selected {
  background-color: #bee !important;
  padding-bottom: 4px;
}

ul.stabs li a:hover {
  background-color: #BEE6E6 !important;
  color: #000 !important;
}

.tabpanel {
  border: 1px solid #6aa;
  padding:; 0 5px 5px 5px;
  background: #bee;
  padding: 5px;
}

#tab-search a { background: url(/images/mephisto/icons/magnify.png) 3px 50% no-repeat; }
#tab-files a  { background: url(/images/mephisto/icons/updark.png) 3px 5px no-repeat; }
#tab-latest a { background: url(/images/mephisto/icons/thumbs.png) 3px 5px no-repeat; }
#tab-bucket a { background: url(/images/mephisto/icons/bucket.png) 3px 5px no-repeat; }




/*
 *=ARTICLE
 */

#add-cat input[type="text"] {
  width: 190px;
}

#add-cat {
  width: 293px;
  margin-top: 1px;
}

#section-options li {
  float: left;
  width: 25%;
}


/*
 *=SETTINGS
 */

.setgroup {
  padding: 10px;
  margin: 5px 0;
}

.setform {
  background: #eee;
  padding: 10px;
  margin: 0;
}

#cats ul {
  list-style-type: square;
  margin: 0 0 0 20px;
}

/*
 *=USERS
 */

#users, #disabled_users {
  list-style: none;
  margin-top: 20px;
  text-shadow: 2px 2px #fff;
}

#users li, #disabled_users li {
  background: #eee;
  margin: 0 0 10px 0;
  padding: 5px;
}

#users li .avatar,
#disabled_users li .avatar {
  float: left;
  margin-right: 10px;
  max-height: 50px;
  max-width: 50px;
}

dd.avatar {
  margin: 8px 2px 5px 0;
  float: left;
}

img.avatar {
  padding: 3px;
  background: #fff;
  border: 1px solid #ccc;
  max-width: 50px;
  max-height: 50px;
}


/*
 *=OVERVIEW
 */

#quick-stats {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

#quick-stats li {
  float: left;
  margin-right: 10px;
  color: #fff;
}

#quick-stats li div {
  height: 70px;
  text-align: center;
  vertical-align: middle;
  width: 75px;
  padding: 10px;
  font-size: 200%;
  font-weight: bold;
}

#disabled_users .avatar,
#activity .avatar {
  max-width: 30px;
  max-height: 30px;
}

#disabled_users li,
#activity li {
  min-height: 40px;
  line-height: 125%;
}

#stat-comments {
  background: #c30;
}

#overview {
  margin: 40px 0 0 0;
}

#overview h3 {
  margin-bottom: 20px;
  font-size: 100%;
}

.events, .pagelist {
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.events li, .pagelist li {
  padding: 5px 10px 10px 50px;
  line-height: 160%;
}

.events li a, .pagelist li a { border: 0; }

.events li a:hover, .pagelist li a:hover {
  color: #d30;
  background: #f7f7f7;
}

#overview h4 {
  margin: 0 0 5px 0;
  border-bottom: 1px dotted #bbb;
  padding: 0;
  font-size: 90%;
  font-family: Helvetica, Arial, sans-serif;
  color: #033;
}

li.event-date {
  border: 0;
  padding: 0 !important;
  margin: 0 !important;
}

li.event-revision, li.event-comment,
li.event-article, .event-none {
  background-repeat: no-repeat;
  background-position: 2% 50%;
}

li.event-revision { background-image: url(/images/mephisto/icons/article-edit.gif); }
li.event-comment  { background-image: url(/images/mephisto/icons/commentb.gif); }
li.event-article  { background-image: url(/images/mephisto/icons/articleb.gif); }
.event-none     { background-image: url(/images/mephisto/icons/minusb.gif); }

.shade { background-color: #eee; }

.events li blockquote {
}

.events li blockquote p {
  margin: 0 !important;
  padding: 0 !important;
  color: #444;
  font: italic 100% "Times New Roman", serif;
}

.events textarea {
  width: 100%;
}

.events .meta,  .pagelist .meta {
  display: block;
  font-size: 90%;
}


.events .event-time {
  float: right;
  font-size: 90%;
}

.response {
  margin: 5px 0 20px 20px;
  border-left: 7px solid #333;
  padding: 5px;
}

.response blockquote {
  padding: 20px;
}

.response blockquote p {
  font-family: "Times New Roman", serif;
  font-size: 110% !important;
  margin-bottom: 10px;
  color: #000;
}

.response p.btns {
  margin: 0;
  background: #eee;
}

.commentlist li {
  position: relative;
  padding: 20px;
  padding-left: 70px;
}

.commentlist blockquote p {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif !important;
  line-height: 150%;
}

.commentlist input[type='checkbox'] {
  position: absolute;
  left: 3px;
  top: 40%;
  padding: 0;
}

.commentlist .event-comment {
  background-position: 30px 50%;
}

/*
 *=PAGINATION
 */

#pagination, #top-pagination {
  background: #eee;
  margin: 20px 0;
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 10px 0;
}


/*
 *=FILTER
 */

#filter {
  background: url(/images/mephisto/search-bg.gif) repeat-x;
  border-bottom: 1px solid #81aec4;
  padding: 0;
  line-height: 100%;
  margin-top: -20px;
  margin-bottom: 20px;
  position: relative;
}

#filter ul {
  list-style: none;
  margin: 0;
  padding: 7px 5px;
}

#filter ul li {
  list-style: none;
  padding: 0;
  float: left;
}

#filter ul li a {
  float: left;
  display: block;
  border: none;
  text-decoration: none;
  padding: 4px 8px 5px 0;
  margin: 0 6px 0 9px;
  color: #333;
  text-shadow: 2px 2px #fff;
  font-weight: bold;
}

#filter li a:hover, #filter li:hover a {
  color: #fff;
  text-shadow: 2px 2px #578;
  background: transparent url(/images/mephisto/attribute-bg.gif) 100% 50%  no-repeat;
}

#filter li:hover {
  background: transparent url(/images/mephisto/attribute-bg-left.gif) 0 50%  no-repeat;
}

#filter li.pressed a {
  outline: none;
  color: #fff;
  text-shadow: 2px 2px #578;
  background: transparent url(/images/mephisto/attribute-pressed.gif) 100% 50%  no-repeat !important;
}

#filter li.pressed  {
  background: transparent url(/images/mephisto/attribute-pressed-left.gif) 0 50%  no-repeat !important;
}

#filter ul#attributes {
  position: absolute;
  top: 0;
  right: 0;
}

#filter li.sep {
  border-right: 1px solid #578;
}

#filesearch {
  border: 1px solid #BCD;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.manual {
  background: url(/images/mephisto/manual-filter-bg.gif) repeat-x !important;
  border-bottom: 1px solid #AA9 !important;
  color: #332;
}

.manual #attributes li {
  line-height: 200%;
  font-weight: bold;
  margin-right: 5px;
  text-shadow: 2px 2px #fff;
}

.manual #attributes li:hover {
  background: transparent;
}

#manualsearch, .manual select {
  border: 1px solid #AA9;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}


/*
 *=ASSET MANAGEMENT
 */

#assets, #files, #latest-assets, #bucket-assets, #search-assets {
  list-style: none;
  margin-top: 5px;
}

#assets li, #files li, #latest-assets li, #bucket-assets li, #search-assets li {
  display: inline;
  margin-left: 5px;
  margin-bottom: 5px;
}

#assets li a img,
#latest-assets li a img,
#bucket-assets li a img,
#search-assets li a img {
  padding: 4px;
  background: #fff;
}

#assets img,
#latest-assets img,
#bucket-assets img,
#search-assets img {
  max-height: 50px;
  max-width: 50px;
  padding: 3px;
  background: #fff;
  border: 1px solid #8BCACD;
}

#assets span,
#latest-assets span,
#bucket-assets span,
#search-assets span {
  display: block;
  font-size: 80%;
}

#spin {
  width:  20px; display:  block !important;
}

#filelbls {
  position: relative;
}

#taglbl {
  position: absolute;
  left: 275px;
  top: 2px;
}

ul#filefields li {
  border-top: 1px dotted #ccc;
  padding: 5px;
  list-style: none;
}

ul#filefields .remove-file {
  border: none !important;
}

ul#filefields img {
  margin-top: -4px;
}

#filefields input[type=file] {
  width: 250px;
}

#filefields input[type=text] {
  font-style: italic;
  color: #777;
  margin-left: 20px;
  width: 200px;
}

.tagsall {
  margin-left: 10px;
}

/*
 *=FIES
 */

#files, #recentfiles {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

#files td, #recentfiles td {
  padding: 10px;
  vertical-align: top;
  position:  relative;
}

#recentfiles img, #files img {
  background: #fff;
  padding: 5px;
  border: 1px solid #ccc;
}

#filelist #recentfiles span {
  font-size: 80%;
  color: #555;
  font-style: italic;
  display: block;
  text-align: center;
}

#recentfiles h4, #filelist h4 {
  font-size: 90%;
}

.file-tools {
  list-style: none;
  width: 60px;
  margin: 0 auto 5px auto;
}

.file-tools li {
  display: inline;
  position:  relative;
}

.file-tools li a {
  display: block;
  height: 8px;
  width: 10px;
  text-indent: -9999px;
  float: left;
  text-decoration: none;
  border: none;
  padding: 2px 2px 5px 2px;
  background-repeat: no-repeat;
  background-color: #f7f7f7;
  margin-right: 5px;
}

.file-tools li a:hover {
  background-color: #eee;
}

.file-tools li.fedit a   { background-image: url(/images/mephisto/icons/8-em-pencil.png) }
.file-tools li.fview a   { background-image: url(/images/mephisto/icons/8-em-plus.png)   }
.file-tools li.fbucket a { background-image: url(/images/mephisto/icons/8-em-check.png)  }
.file-tools li.fdelete a { background-image: url(/images/mephisto/icons/8-em-cross.png)  }
.pdf { width:  100px; height:  100px;}
.fspin img { position: absolute; left: 40%; top: 40%;}
