/*==========  Top Menu bar  ==============*/

ul.menu_bar{
height:2.2em;
line-height:2.2em;
margin:0;
background:#7CB30F;
color:#ffffff;
}

ul.menu_bar li{
float:left;
list-style-type:none;
border-right:1px solid #ffffff;
white-space:nowrap;
}

ul.menu_bar li.right {
 float:right;
list-style-type:none;
border-right:0;
border-left:1px solid #ffffff;
white-space:nowrap;
}

ul.menu_bar li a{
display:block;
padding:0px 10px 0px 10px;
font-size:0.8em;
font-weight:normal;
text-decoration:none;
background-color:inherit;
color: #ffffff;
}

ul.menu_bar li.submenu a {padding:0px 16px 0px 22px;}
* html ul.menu_bar a {width:1%;}

ul.menu_bar .selected,ul.menu_bar a:hover{
color:#ffffff;
text-decoration:none;
background-color: #80b0da;
}

/*==========  Drop down menu  ==============*/
div.menu {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #7F9DB9;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0;
  visibility: hidden;
  z-index: 1066;
}

div.menu a {
  font-size: 10px;
  font-weight: normal;
  line-height: 2em;
  color: #000000;
  background-color: #FFFFFF;
  cursor: default;
  display: block;
  padding: 0 1em;
  margin: 0;
  border: 0;
  text-decoration: none;
  white-space: nowrap;
}

div.menu a:hover, div.menu a.menuItemHighlight {
  background-color: #80b0da;
  color: #ffffff;
}

div.menu a.menuItem span.menuItemText {}

div.menu a.menuItem span.menuItemArrow {
  margin-right: -.75em;
}

/*========== Side Menu Bar  ==============*/

div.sidemenu {
	width: 150px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 10px;
	color: #fff;
    z-index: 10; 	
}
div.sidemenu div {
    background:#7CB30F;
	overflow: hidden;
    z-index: 10; 
    }

div.sidemenu div.collapsed {
	height: 25px;
    background:#7CB30F;
    z-index: 10; 
}

div.sidemenu div span.menu {
	display: block;
	padding: 5px 22px;
	font-weight: bold;
	color: white;
	cursor: default;
	border-bottom: 1px solid #ddd;
	background: url(/images/arrow_up.gif) no-repeat right center;
    z-index: 10; 
}

div.sidemenu div.collapsed span.menu {
	background: url(/images/arrow_down.gif) no-repeat right center;
    z-index: 10; 
}

div.sidemenu div  a {
	padding: 1px 5px;
	background: #eee;
	display: block;
	border-bottom: 1px solid #ddd;
	color: #0B6100;
    z-index: 10; 
}
div.sidemenu div  a.current {
	background : #ccc;
    z-index: 10; 
}
div.sidemenu div a:hover {
	background : #0B6100 url(/images/arrow_right.png) no-repeat right center;
	color: #fff;
	text-decoration: none;
    z-index: 10; 
}

