/**
* Styles for drag and drop items on the protocol edit form
*/
#allowed_types {
    background-color:#fff;
}
#parameter_tree {
	font-family: Arial, sans-serif;
	font-size: 10px;
}

#parameter_tree dt {
    margin: 1px 1px 1px 1px;
    color: #ffffff;
}

#parameter_tree dl {
    margin: 1px 1px 1px 1px;
    list-style-type:none;
    border-right:1px solid #ffffff;
    white-space:nowrap;
}

h3.reversed {
    background:#7CB30F;
}

span.study_parameter {

    font-family: Arial,Verdana, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1.0em;
    z-index:            1666;
    color:black;
    background-color:#E3FFA2;
    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px;
    border-style:outset;
    border-width: thin;
    white-space: nowrap;
}

span.study_queue {
    font-family: Arial,Verdana, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1.0em;
    z-index:            1666;
    color:black;
    background-color:#FFFFA2;
    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px;
    border-style:outset;
    border-width: thin;
    white-space: nowrap;
}

span.parameter {
    white-space: nowrap;
	
	color: #000000;
    background-color:#E3FFA2;
    margin: 1px 1px 1px 1px;
	
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	margin: 1px 1px 1px 1px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e4e3c9;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #e4e3c9;
		
	vertical-align: bottom;
	overflow-x: hidden;
	overflow-y: hidden;
	width: auto;

}

span.parameter_context {
  background-color: #FFF4D8;
  border:1px solid #E8A400;
}

.drop-active  th {
    background: #FFF4D8;
    border:1px solid #E8A400;
}
