
/* --------------------------------------------
 * SpreadSheet
 *--------------------------------------------*/
/*
-----------------------------------------------
Sheet Table Style
-----------------------------------------------
*/
.sheet {
    background-color:#eee;
    border: solid thin #aaa;
    background-color: #ddd;
    color:black;
    width: 100%;
    position: relative;
    background-color:   #eee;
}
.sheet table {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
/* 
Cell titles 
*/
.sheet th {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: auto;
    background-color: #bbb;
    border-width:1px;
    border-color:#222;
    overflow: hidden;
}

.sheet tr {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #eee;
    height: auto;
}

.sheet td {
	width: auto;
    background-color: #fff;
    text-align:right;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    }
/* 
Cells 
*/
.sheet .cell {
    margin: 0 0 0 0;
    padding: 0 0 0 0;    
    background-color: #fff;
    color: rgb(0,0,0);
    font-weight:normal;
    font-style: normal;
    font-family: Arial;
    font-size: 1.0em;
    text-decoration: none;
    text-align: center;
}
/* Cell is currently active for user input */

.sheet .active {
    margin: 0 0 0 0;
    padding: 0 0 0 0;    
    background-color: rgb(255,255,140);
    color: rgb(0,0,0);
    font-weight:bold;
    text-decoration: none;
    font-family: Arial;
    font-size: 1.0em;
    text-align: center;
}

.sheet select {
    width:   100%;
    height:  100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: left;
}


.sheet input .numeric {
    width:   100%;
    height:  100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: right;
}
