
/* --------------------------------------------
 * SpreadSheet
 *--------------------------------------------*/
/*
-----------------------------------------------
Sheet Table Style
-----------------------------------------------
*/
.sheet {
    margin: 0 0 0 0;
    padding: 0 0 0 0;  
    background-color:#eee;
    border: solid thin black;
    background-color: #ddd;
    color:black;
    width: 100%;
    empty-cells: show;
}
.sheet table {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
/* 
Cell titles 
*/
.sheet th {
    border: solid thin  #A2C5BA;
    margin: 2 2 2 2;
	border 1 1 1 1;
    padding: 0 0 0 0;
    height: auto;
    background-color: #ddd;
    overflow: hidden;
}


.sheet tr {
    background-color: #eee;
    height: auto;
}

.sheet td {
    border: solid thin  #A2C5BA;
	width: auto;
    background-color: #fff;
    background-color: #fff;
    text-align:right;
    margin: 0;
    padding: 0 2px 0 2px;
    text-decoration: none;
    color: black;
    }
/* 
Cells 
*/
.sheet .cell {
    margin: 0 0 0 0;
    padding: 0 0 0 0;    
    color: rgb(0,0,0);
    font-weight:normal;
    font-style: normal;
    font-family: Arial;
    font-size: 1.0em;
    text-decoration: none;
}
/* Cell is currently active for user input */

.sheet .active {
    margin: 0 0 0 0;
    padding: 0 0 0 0;  
    background-color: rgb(255,255,140);
    color: rgb(0,0,0);
    font-weight:bold;
    text-decoration: none;
    font-family: Arial;
    font-size: 1.0em;
    text-align: center;
}

.sheet input[type="text"], .sheet select {
    width:   100%;
    height:  100%;
	border: 1 1 1 1;  
    margin: 2 2 2 2;
    padding: 0 0 0 0;  
}
/* Specific rules for data_type of cells 1=text 2=numeric 3=date */
.sheet td.type-1 input[type="text"] {
    text-align: left;	
}

.sheet td.type-2 input[type="text"] {
    text-align: right;	
}

.sheet td.type-3 input[type="text"] {
    text-align: centre;	
}



