/*
 * Layout for dtrer javascript driven tree
 */


.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 0px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}


tr.drop-active {
    background: #FFF4D8     !important;
    border:2px solid #E8A400     !important;
    z-index: 50;  
}


div.drop-active {
    background: #FFF4D8 !important;
    border:2px solid #E8A400 !important;   
}

.dtree span {
    background-color:#fafbfc;
    z-index:-1;
}


a:visited,a:active {
	border:none;
	text-decoration: none;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: hidden;
}


