<div class="x-panel-header x-accordion-hd" >
  <span class="icon icon-task x-panel-header-text">
     Assay Group
  </span>
</div>
<div class='panel'>
  The assay group is a domain that is used to register collections of related assays that do not belong a specific Team or organisaitonal unit.
</div>

