<h2>Guide</h2>
<div class='panel'>
<p>A study design is used to organise protocols and register service queues.  To design a study:</p>
<ol>
<li>Define the parameters and their roles that will be used to build protocols</li>
<li>Define service queues based on dictionary-based study parameters</li>
<li>Build protocols from the parameters that correspond to individual tasks</li>
</ol>
</div>