<h2>Guide</h2>
<div class='panel'>
Create a new study for orgranization of protocols and accepting services.
The study is built up as a list of parametered type types which are entered via a number of
protocols which define how data is layed out.
</div>