<% content_for :centre do -%>
<h2> Editing [<strong><%=@study.name %></strong>]</h2>

    <%= error_messages_for 'study' %>

    <div class="dialog">                              
        <% form_tag :action => 'update' ,:id=> @study.id do %>
        <%= render :partial => 'form' %>
        <div class='row'>
            <%= submit_tag "Save" %>
        </div>

        <% end %>
    </div>
    <%= render :partial => 'shared/audit',:locals =>{ :item => @study} %>
<% end -%>

  
