<h2><%=l(:Folder)%></h2>
<div class="panel">
    <p>Unstructured data in the project is divided up into a number of section. Each section may work as a folder, 
    blog or a component document. </p>
</div>

