<%#
# right.rhtml.rhtml
# 
# Created on 18-Sep-2007, 13:57:59
# 
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
  <div id="panel-clipboard">
  	    <%= render :partial => 'clipboard' %>   
  </div>
  