<ul class="tablist"> 
     <li ><%= link_to l(:Tree),  folder_url(:action=>'selector'),:class=>"current"  %></li>
     <li><%= link_to l(:Toc),    folder_url(:action=>'toc')  %>     </li>
     <li><%= link_to l(:Latest), folder_url(:action=>'clipboard')  %></li>
</ul>
    
<div id='folder_actions' class='panel'>
     <%= tree_for_folder(current_project, @project_folder)%>  
    <%= render :partial => 'guide',:locals=>{:folder=>@project_folder} %>
</div>