<h2><%=l(:Upload)%></h2>

<div class='dialog'>
<%= start_form_tag :url=>folder_url(:action=>'upload',:id=>folder.id), :html => { :multipart => true } %>
  <%= error_messages_for :asset %>
  <div class='dialog'>
      <%= file_field_tag 'asset_data[]', :id => 'asset_data_1' %>
  </div>
  <p class="btns">
      <%= submit_tag 'Upload' %> 
  </p>
<%= end_form_tag %>
</div>