<%= tiny_mce %>

<% content_for :centre do -%>
  <%= render :partial => 'article',:locals=>{:content=>@project_content} %>
<% end %>

<% content_for :right do -%>
  <%= render :partial => 'guide',:locals=>{:folder=>@project_folder} %>
  <div class='panel' id='folder_actions'>
       <%= render :partial => 'selector',:locals=>{:folder=> @project_folder} %>   
  </div>
<% end %>