<% content_for :centre do -%>
  <%= render :partial => 'folder',:locals=>{:folder=>@project_folder} %>
<% end %>

<% content_for :right do -%>
  <%= render :partial => 'guide',:locals=>{:folder=>@project_folder} %>
  <div class='panel' id='folder_actions'>
    <%= render :partial => 'clipboard',:locals=>{:folder=> @project_folder} %>   
  </div>
<% end %>