<%= javascript_include_tiny_mce_if_used %>
<%= tiny_mce %>

<% content_for :centre do -%>
  <%= render :partial => 'document',:locals=>{:folder=>@project_folder} %>
<% end %>

<% content_for :right do -%>
  <%= render :partial => 'guide',:locals=>{:folder=>@project_folder} %>
  <div class='panel' id='folder_actions'>
    <%= render :partial => 'clipboard',:locals=>{:folder=> @project_folder} %>   
  </div>
<% end %>