<% content_for :status do -%>
  <%= render :partial => 'shared/messages', :locals => { :objects => ['project','project_folder','project_element','project_content']}  %>
<% end -%>

<% content_for :center do -%>
  <%= render :partial => 'new' %>
<% end %>

<% content_for :help do -%>
    <%= render :partial => 'help' %>   
<% end %>

<% content_for :status do -%>
    <%= render :partial => 'status' %>   
<% end %>
  
