<% content_for :centre do -%>
  <%= render :partial => 'new',:locals=>{:folder=>@project_folder} %>
<% end %>

<% content_for :right do -%>
  <%= render :partial => 'guide',:locals=>{:folder=>@project_folder} %>
  <div class='panel' id='folder_actions'>
    <%= render :partial => 'toc',:locals=>{:folder=> folder} %>   
  </div>
<% end %>