<% content_for :messages do -%>
  <%= render :partial => 'shared/messages', :locals => { :objects => ['project','project_folder','project_element','project_content']}  %>
<% end -%>

<% content_for :center do -%>
  <%= render :partial => 'print',:locals=>{:folder=>@project_folder} %>
<% end %>
