<% content_for :centre do -%>
  <%= render :partial => @layout[:centre],:locals=>{:folder=>@project_folder} %>
<% end %>


<% content_for :right do -%>
    <%= render :partial => @layout[:right],:locals=>{:folder=> @project_folder} %>   
<% end %>