<%= error_messages_for 'data_concept' %>

<!--[form:data_concept]-->

<%= hidden_field( 'data_concept', 'parent_id') if @data_concept.parent %>

<%= hidden_field 'data_concept', 'data_context_id' %>

<p><label for="data_concept_name">Name</label><br/>
<%= text_field 'data_concept', 'name', :size=> 55, :class=>"text-input"  %></p>

<p><label for="data_concept_description">Description</label><br/>
        <%= text_area( 'data_concept', 'description'   	)%>
</p>
<!--[eoform:data_concept]-->

