*{
	padding:0;
	margin:0;
}
body{
}
.bodies {
	margin:0px;
	text-align:center;
}

h1 {
	font: 2.0em bold Trebuchet MS, Arial;
	padding-top: 6px;
	color: #FFF;
}


h1 a {
	color: #549007;
}

h1 .white {
	color: #FFF;
}

tr, p, div {
	font-family:Arial,Verdana, Helvetica, sans-serif;
	font-size:12px;
	line-height: 1.5em;
	color:#666666;
}
hr {
	background:#999999;
	height:1px;
	width:100%;
}
ul {
	list-style:none;
}
li {
	line-height: 15px;
	padding-left: 25px;
	padding-top: 0px;
	background-image: url(../images/arrow.png) ;
	background-repeat: no-repeat;
	background-position: 10px 5px;
}
ol{margin-left:40px;
list-style-position:inherit;
}



.header {
	height: 100px;
	background: #808080 url(../images/header_bg.gif) repeat-x;
}

.wrap {
	text-align: left;
	margin: 0 auto;
	padding: 10px 0 0 0;
	width: 80%;
}

.searchbox {
	float: right;
	text-align: right;
	width: 20%;
	padding: 10px 0em 0px 30px;
}


/* navigation */
#mainlevel-nav { line-height:normal; padding: 10px 0 0 0; }
#mainlevel-nav ul { margin:0; padding: 0; list-style:none; }
#mainlevel-nav li { list-style:none; float:right; background:url("../images/left.gif") no-repeat left top; margin:0 1px 0 0; padding:0 0 0 9px; }
#mainlevel-nav a { float:left; display:block; background: #1A6684 url("../images/right.gif") no-repeat right top; padding: 10px 26px 7px 18px; font-weight:bold; color:#FFF; }
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#mainlevel-nav a {float:none;}
/* End IE5-Mac hack */
#mainlevel-nav a:hover { color:#FFF;  }
#mainlevel-nav #current { background-image:url("../images/left_on.gif"); }
#mainlevel-nav #current a { background-image:url("../images/right_on.gif"); color:#A56060; }



form {
	display: inline;
	margin: 0;
 	padding: 0;
}
.pathway {
	font-family:  Arial,Verdana, Helvetica, sans-serif;
	font-size: 9px;
}
a.pathway:link, a.pathway:visited {
	color            : #7cb30f;
	font-weight      : normal;
}
a.pathway:hover {
	color            : #ff3300;
	font-weight      : normal;
	text-decoration   : none;
}

#active_menu {
	color: #666666;
}
a.mainlevel:link, a.mainlevel:visited {
	display: block;
	color: #7CB30F;
	font-weight: bold;
	width: 100%;
	text-indent: 5px;
	background: #FFF url(../images/dot.gif) repeat-x bottom left;
	font-family:  Arial,Verdana, Helvetica, sans-serif;
	line-height: 20px;
	margin-bottom: 3px;
}
a.mainlevel:hover {
	color: #808080;
}
a.mainmenu:link, a.mainmenu:visited {
	color: #ffffff; 
	font-family:  Arial,Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
}
a.mainmenu:hover {
	color: #333333; 
}
.pollstableborder {
	border: 1px solid;
	padding: 1px;
}
a.sublevel:link, a.sublevel:visited {
	font-size: 11px;
	color: #ffffff;
	text-indent:33px;
	line-height: 20px;
	display:block;
	margin-bottom:3px;
	width:100%;
	background-color:#c6c6c6;
}
a.sublevel:hover {
	color: #000000; text-decoration: none;
}
table.moduletable {
	padding: 5px 0px 5px 8px;
	width: 100%;
	margin-bottom:5px;
}

/* small titles */

table.moduletable th {
	font: bold 1.1em/1.8em Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	width: 100%;
	font-weight:bold;
	height:25px;
	padding: 4px 0 5px 5px;
	text-align: left;
}
table.moduletable li {
	
}
table.moduletable ul {
	padding: 0px;
}
table.moduletable td {
	font-size: 11px;
	font-weight: normal;
}
.poll {
	font-family      : Arial, Helvetica, sans-serif;
	font-size        : 10px;
	color            : #666666;
	line-height      : 14px;
}
table.pollstableborder {
	border: 1px solid #cccccc;
}
.sectiontableheader {
	background-color : #CCCCCC;
	color            : #333333;
	font-weight      : bold;
	padding:5px;
}
.sectiontableentry1 td{
	border-bottom:1px solid #CCCCCC;
	padding:3px 3px 3px 6px;

}
.sectiontableentry2 td {
	border-bottom:1px solid #CCCCCC;
	padding:3px 3px 3px 6px;
}
.small {
	font-family      : Arial,Verdana, Helvetica, sans-serif;
	font-size        : 10px;
	color            : #999999;
	text-decoration  : none;
	font-weight      : bold;
}
.smalldark {
	font-family      : Arial,Verdana, Helvetica, sans-serif;
	font-size        : 10px;
	color            : #000000;
	text-decoration  : none;
	font-weight      : normal;
}
.contentpane {
}
.contentpaneopen {
	border : 0px ridge #0099cc;
	width: 100%;
	padding: 1px;
}

/* big titles */
.contentheading, .componentheading {
	font: bold 1.2em/1.8em Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	text-align: left;
	padding-left:5px;
	border-bottom:1px solid #cccccc;

}
.createdate {
	font-family      : Arial, Helvetica, sans-serif;
	font-size        : 10px;
	color:  #666666;
	text-align       : left;
	text-indent:18px;
	font-weight:bold;
	top:-5px;
	vertical-align: top;
	padding-bottom:2px;
	background:url(../images/date.png) no-repeat;
}
.button {
	font-family: Arial,Verdana, Helvetica, sans-serif;
	font-style: normal;
	font-size: 11px;
	font-weight: bold;
	background-color : #7CB30F;
	color: #ffffff;
	border: 1px solid #757575;
}
.inputbox {
	font-family: Arial,Verdana, Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px;
	color: #757575;
	background-color: #f0f0f0;
	border: 1px solid #444444;
}
a:link, a:visited {
	color: #549007;
	text-decoration: none;
}
a:hover {
	color: #7CB30F;
}
a.contentpagetitle:link, a.contentpagetitle:visited {
	font-family: Arial,Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
 	color: #7cb30f;
	text-align:left;
	text-decoration: underline;
	}
a.contentpagetitle:hover {
	font-family: Arial,Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align:left;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
	}
a.category:link, a.category:visited {
	color            : #333333;
	font-weight      : bold;
	font-size: 11px;
	font-weight: bold;
}
a.category:hover {
	color            : #999999;
}
.ontab {
	background-color: #ffae00;
	border-left: outset 2px #7cb30f;
	border-right: outset 2px #808080;
	border-top: outset 2px #7cb30f;
	border-bottom: solid 1px #d5d5d5;
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
}
.offtab {
	background-color : #e5e5e5;
	border-left: outset 2px #E0E0E0;
	border-right: outset 2px #E0E0E0;
	border-top: outset 2px #E0E0E0;
	border-bottom: solid 1px #d5d5d5;
	text-align: center;
	font-weight: normal;
}
.tabpadding {
}
.tabheading {
	background-color: #ffae00;
	text-align: left;
}
.pagetext {
	visibility: hidden;
	display: none;
	position: relative;
	top: 0;
}
.back_button {
	text-align: center;
	margin-top: 40px;
}
table.contenttoc {
	color: #333300;
	background-color: #e0e0e0;
	border: 1px solid #ccc;
	padding:5px;
}
table.contenttoc td {
    font-size: 8pt;
    font-weight: normal;
    text-align:left;
	padding-left:5px;
	padding-right:5px;
}
table.contenttoc th {
    font-size: 8pt;
    font-weight: normal;
    text-align:left;
	padding:5px;
	background-color:#333333;
	color:#FFFFFF;
}
table.searchintro {
	width: 100%;
}
table.searchintro td {
	background-color: #293C43;
	color: #ffffff;
	font-weight: bold;
}
.readon {
	display:block;
	background:url(../images/read_more.gif) no-repeat;
	color:#333333;
	text-indent: -5000px;
	width:100px;
	height:20px;
}
.mosimage {
	border: 1px solid #cccccc;
	margin: 5px
}
.mosimage_caption {
	margin-top: 2px;
	background-color:#cccccc;
	padding: 1px 2px;
	color: #fff;
	text-transform: normal;
	font-size: 10px;
	border-top: 1px solid #cccccc;
}
#core {
	padding:0px 5px 5px 5px;
	}

	
/* left side */
#sect {
	width: 80%;
	background-color:#FFFFFF;
	text-align:left;
}

#menu {
	float: right;
	width: 40%;
	padding-top:5px;
	
}
#l_sect {
	width:76%;
	padding: 5px 0 5px 5px;
	float:right;
	
}
#l_sect_down {
	width: 75%;
	background-color:#ffffff;
	margin-top:5px;
	padding:5px;
	float:left;
	
}
#user1 {
	width:100%;
	float:left; 
	border: 1px solid #ccc;
	background: #f8f8f8;
	margin-right:1px;
	}
#user2 {
	width: 50%;
	float:right;
	border: 1px solid #ccc;
	background: #f8f8f8;
}
#r_sect {
	clear: both;
	width:21%;
	float:left;
	background-color:#FFFFFF;
	padding-top:5px;
}
#banner {
	text-align:center;
}
#footer {
	background: #FFF url(../images/dot.gif) repeat-x;
	clear:both;
	font-size: 0.9em;
	text-align: center;
	padding-top:13px;
	padding-bottom:5px;
}