<div>  
<h3>
    <% if @data_concept.class==DataContext%>
      <b>Root Context [<%= link_to_remote 'Edit', :url=>{ :action => 'edit' ,:id=> @data_concept.id} %>] : </b><%= @data_concept.name %>       
    <%else%>
      <b>Concept [<%= link_to_remote 'Edit', :url=>{ :action => 'edit' ,:id=> @data_concept.id} %>] : </b><%= @data_concept.name %>       
    <%end%>
</h3>
<p> 
    <%= @data_concept.description %> 
</p>
</div>


