<% if session[:hits] %>
<ul class="hitlist">
    <% for hit in session[:hits]%>
        <li>
        <strong>
        <%= hit.class.to_s %> <%= hit.name %> Match <%=100*hit.ferret_score%>
        </strong>
        </li>
    <% end %>
</ul> 
<% end %>
