<div>
    <p>
        <b><%=l(:label_name)%>: </b>
        <%= item.name %>
    </p>
</div>
<div>
    <p>
        <b><%=l(:label_description)%>: </b>
        <%= item.description %>
    </p>
</div>
