<table class="actions">
    <tr>
        <%if pages.current.previous %>
        <th>
            <%= link_to 'Previous', { :page => pages.current.previous } %>
        </th>
        <% end %>
        <%if  pages.current.next %>
        <th>
            <%= link_to 'Next',
            { :page => pages.current.next } %>
        </th>
        <% end %>
    </tr>
</table>
