  <tr class='header'>
    <%for column in report.displayed_columns %>
    <th tooltip='<%=column.description%>'
      sortable='<%=column.is_sortable%>'
	  dataIndex='<%=column.id%>'	>
       <%=column.name %>
    </th>
    <%end%>
    <th>Actions</th>
  </tr>

  