<tr>
    <%for column in report.displayed_columns %>
    <th>
        <%= column_header(report,column) %>
    </th>
    <%end %>
    <th>
        <%=l(:Actions)%>
    </th>
</tr>
<tr>
    <%for column in  report.displayed_columns %>
    <th class='filter'>
        <%= column_filter(report,column) %>
    </th>
    <%end %>
    <th>
        <input name="commit" value="Filter" type="submit"/>
    </th>
</tr>