<div class=" x-panel-header x-accordion-hd"  >
  <span class="icon icon-project x-panel-header-text" >
     User dashboard
  </span>
</div> 
<div class='panel'>
This is a simple display users current work
</div> 
