<div class=" x-panel-header x-accordion-hd">
    <span class="icon icon-project x-panel-header-text"><%=l(:User) %><%=l(:Dashboard) %>
    </span>
</div>
<div class='panel'>
    <%=l(:help_user_home) %>
</div>
