<div class='panel' >
  <div class="splitcontentleft">
    <%=render :partial => 'box_tasks'%> 
    <%=render :partial => 'box_experiments.rhtml'%>
    <%=render :partial => 'box_requests'%>  
   </div>
  <div class="splitcontentright">
    <%=render :partial => 'box_docs_to_witness'%>
    <%=render :partial => 'box_docs_for_witness'%>
    <%=render :partial => 'box_projects'%>  
  </div>
</div>
