  <%= tab_strip("home-tabs", 0 ,[
    {:name =>l(:label_overview)     , :partial=> 'show' },
    {:name =>l(:label_documents)    , :partial=> 'box_documents'},
    {:name =>l(:label_design)       , :partial=> 'box_organisation'},
    {:name =>l(:label_execution)    , :partial=> 'box_execution' },
    {:name =>l(:label_studies)      , :partial=> 'box_user_projects'}
    ]) %>
