  <%= tab_strip("home-tabs", 0 ,[
    {:name =>l(:Overview)     , :partial=> UserSetting.home_tab1 },
    {:name =>l(:Organisation)       , :partial=> UserSetting.home_tab3},
    {:name =>l(:Execution)    , :partial=> UserSetting.home_tab4 },
    {:name =>l(:Studies)      , :partial=> UserSetting.home_tab5},
    {:name =>l(:Custom)       , :partial=> UserSetting.home_tab6}
    ]) %>
