<% content_for :sidemenu do -%>
  <%= render :partial =>'/menu/user_menu' , :locals=>{ :user => @user} %>
<% end %>

<%= render :partial=>'shared/user_header'%>
<h1 class='icon icon-home'>
  Home#blog
</h1>
<p>
  Find me in app/views/home/blog.rhtml
</p>
