<% content_for :sidemenu do -%>
  <%= render :partial =>'/menu/user_menu' , :locals=>{ :user => @master} %>
<% end -%>

<h2><%= l('Users Calendar') %></h2>

<%= render :partial=>'/shared/calendar' %>
