<% content_for :sidemenu do -%>
  <%= render :partial =>'/menu/user_menu' , :locals=>{ :user => @user} %>
<% end -%>

<% content_for :centre do -%>
   <%= render :partial=>'calendar' %>
<% end -%>


<% content_for :right do -%>
   <%= render :partial=>'calendar_right' %>
<% end -%>





