<% content_for :sidemenu do -%>
  <%= render :partial =>'/menu/user_menu' , :locals=>{ :user => @master} %>
<% end %>

<%= render :partial=>'shared/user_header'%>

<h2 class='icon icon-user'>
    <%= l('Timeline for users tasks') %>
</h2>

<%= render :partial=>'/shared/timeline' %>
