<%= error_messages_for 'study_stage' %>

<!--[form:study_stages]-->
<p><label for="study_stage_name">Name</label><br/>
<%= text_field 'study_stage', 'name'  %></p>

<p><label for="study_stage_description">Description</label><br/>
<%= text_field 'study_stage', 'description'  %></p>


<!--[eoform:study_stages]-->

