<% content_for :sidemenu do%>
  <%= render :partial => '/menu/admin_menu'%>
  <div>
    <span class='menu'>Study Stage</span>
    <%= link_to 'List', :action => 'list' %>
  </div>
<% end %>

<% dialog '<h1 class="icon icon-study_stage">Editing Study Stage</h1>' do %>		
	<% form_tag :action => 'create' do %>
	  <%= render :partial => 'form' %>
	  <%= submit_tag "Create" %>
	<% end %>
<% end %>
