<div class="box">
  <strong class='icon icon-project-section'><%=l(:Sections)%></strong>
  <dl>
    <% for item in @project.children_of_type(8,6) %>
      <dt><%= link_to item.name, project_url( :action => 'show', :id => item) %>
      </dt>
      <dd><%= item.description %>
      </dd>
    <% end %>
  </dl>
  <hr/>
  <%= link_to_if right?(:data,:create), l(:Sections), new_project_url(ProjectType::ORGANIZATION,current_project), :class=>'icon icon-new' if current_project.changeable? %>
</div>