<h1>Data Type</h1>
These are the Internal types of data the system is designed to Handle. Normally addition of
a new type here would be linked to a coding project to add handling of this type of data
to the application.
<br />
General data is mapped back to Text, Numbers and References internally and save as this in
the system. 