<h1 class="icon icon-data_type">Data Type</h1>
<p>
    These are the types of internal data the system is designed to handle. Normally addition of
    a new type be linked to a coding project in order to handle the new type in the application.
</p>

<p>
    Data is mapped back to <i>text</i>, <i>numbers</i> and <i>references</i>.
</p>