<%= render :partial => '/menu/admin_menu'%>
<div>
  <span class='menu'>
    <b class='icon icon-data_type'>
      <%=l(:Data_Type)%>
    </b>
  </span>
  <%= link_to l(:List),data_type_url(:action => 'list') %>
  <%= link_to l(:New),data_type_url(:action => 'new') %>
  <% if @data_type && !@data_type.new_record? %>
    <%= link_to l(:Edit),data_type_url(:action => 'edit', :id => @data_type) %>
    <%= link_to l(:Show),data_type_url(:action => 'show',:id => @data_type) %>
  <% end %>
</div>