<%= render :partial => '/menu/admin_menu'%>
<div>
<span class='menu'>Data Type</span>
    <%= link_to 'List',    data_type_url(:action => 'list') %>
    <%= link_to 'New',     data_type_url(:action => 'new') %> 
    <% if @data_type && !@data_type.new_record? %>
	    <%= link_to 'Edit',    data_type_url(:action => 'edit', :id => @data_type) %> 
	    <%= link_to 'Show',    data_type_url(:action => 'show',:id => @data_type) %>
    <% end %>
</div>