<% content_for :sidemenu do%>
  <%= render :partial => '/menu/admin_menu'%>
    <div>
    <span class='menu'>Data Type</span>
        <%= link_to 'List', :action => 'list' %>
    </div>
<% end %>

<h1>New Data Type</h1>
<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>
