<% content_for :sidemenu do%>
  <%= render :partial => 'menu'%>
<% end %>

<% content_for :right do%>
  <%= render :partial => 'menu'%>
<% end %>

<% content_for :messages do -%>
  <%=render :partial =>'shared/messages',:locals => { :objects => ['data_type']} %>
<%end%>

<% dialog 'Data Type' do %>
<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>
<% end %>
