<% content_for :messages do -%>
<%= render :partial => 'shared/messages', :locals => { :objects => ['user']}  %>
<%end %>

<%= render :partial=>'header'%>

<div class="panel">
<h2>
<%=@report.name%>
</h2>
    <%= render :partial => 'shared/report',
      :locals => {:report => @report,
      :data => @data,:show=>'show', :edit=>'edit' } %>
</div>
<hr/>
<%= will_paginate  @data%>

