<% content_for :messages do -%>
<%= render :partial => 'shared/messages', :locals => { :objects => ['user']}  %>
<%end %>

<%= render :partial=>'header'%>

<%= render :partial => 'shared/report', :locals => {:report => @report } %>

