<div class='panel'>
<%= render :partial => 'projects/box_project_requests_detail'%>
<%= render :partial => 'projects/box_project_experiments_detail'%>
<%= render :partial => 'projects/box_project_tasks_detail'%>
</div>
