<div class="row">
  <div class="form-element">
    <label for="project_project_type"><%=l(:Project) %>  <%=l(:Type) %> (Sets Dashboard style) </label>
    <%= select_named(:project, :project_type_id, ProjectType) %>
  </div>
</div>

<div class="row">
  <div class="form-element">
      <label for="select_default_witness_name">  <%=l('Default Witness') %> </label>
      <%=  select_default_witness_name %>
   </div>
</div>


