<div class=" x-panel-header x-accordion-hd"  >
  <span class="icon icon-project x-panel-header-text" >
     Discovery Project
     </span>
</div> 
<div class='panel'>
<p>
  A discovery project drives the research process,
  making requests for compounds to the various services
  offered by the laboratories through their assays.
</p>
</div>

