<div class=" x-panel-header x-accordion-hd"  >
  <span class="icon icon-project x-panel-header-text" >
     Projects
     </span>
</div> 
<div class='panel'>
<p>
  A domain is a binder that contains a set of
  folders of unstructured and structured data.
  The project may contain a number of assay
  definitions for the organisation of data 
  and a set of
  experiments for the entry of this data.
</p>
</div>