  <div class="splitcontentleft">
    <%= render :partial=>'projects/sections/links/box_projects' %>
  </div>

  <div class="splitcontentright">
    <%= render :partial=>'projects/sections/links/box_compounds' %>
  </div>
