<%if @project%>
  <div class="x-panel">
    <div class="x-panel-header x-accordion-hd" >
      <span class="icon icon-task x-panel-header-text">
        <%=l('Task List')%>
      </span>
    </div>
    <div class='panel'>
      <%= render :partial => 'projects/sections/lists/box_tasks_list' %>
    </div>
  <%end%>
</div>