<table cellpadding="0" cellspacing="0" width="100%">
<tr>
	<td>
		<b><label>CompoundId: </label></b>
	<td>
	   <label><%= @compound.name %></label>
	</td>	
	<td>
	</td>	
    <td colspan="1" halign="left">
    	<label><%=short_date @compound.registration_date %></label>
	</td>		
</tr>
<tr>
	<td halign="left">
		<b><label>Mass: </label></b>
	</td>
	<td>
       <label><%= @compound.send("mass") %></label>
	</td>
	<td>
    	<b><label>Formula</label></b>
	</td>	
    <td>
		<label><%= @compound.send("formula") %></label>
	</td>		
</tr>
<tr>
	<td colspan=4>
		    
	</td>
</tr>
<tr>
	<td>
    	<b><label>Description:</label></b>
		
	</td>
	<td colspan=3>
            <label><%= @compound.send("description") %>
	</td>
</tr>           
<tr>
	<td>
    	<b><label>Smiles</label></b>
		
	</td>
	<td colspan=3>
            <label><%= @compound.send("smiles") %>		
	</td>
</tr>           
<tr>
	<td>
    	<b><label>Iupac</label></b>
		
	</td>
	<td colspan=3>
            <label><%= @compound.send("iupacname") %>
	</td>
</tr>           
</table>

