
<!--[form:compounds]-->
<% form_tag compound_url(:action => 'list') do %>
<p>
  <label for="Compound_name">Compound Id</label>
  <br/>
  <%= text_field_tag 'name',@name  %>
</p>

  <%= submit_tag "Search" %>
<% end %>

<!--[eoform:compounds]-->
