<div class='main' id='maintitle'>
    <div class="title">
        <%=subject_icon('compounds')%> Compounds
        <div class="actions">
            <ul>
              <li><%= link_to (subject_icon('new.png')) + 'New Compound', :action => 'new' %></li>
            </ul>
        </div>
    </div>

    <div class='panel'>
        <table class="report">
          <tr>
          <th>Structure</th>
          <th>Compound Id</th>
          <th>Description</th>
          <th>Formula</th>
          <th>Mass</th>
          <th>IUPAC</th>
          <!--<th>Smiles</th>-->
          <th>
          Registration Date
          </th>
          </tr>
        <% for @compound in @compounds %>
          <tr>
         <!--<td><img src="<%= url_for :action => "marvin_image_for", :smiles => @compound.smiles %>"></img></td>-->
          <td><%=chemistry_png(@compound,100,100) %></td>
          <td><%=h @compound.name %></td>
          <td><%=h truncate(@compound.description, 10, truncate_string='...') %></td>
          <td><%=h @compound.formula %></td>
          <td><%=h @compound.mass %></td>
          <td><%=h @compound.iupacname %></td>
          <!---<td><%=h @compound.smiles %></td>-->
          <td>
          <%= short_date(@compound.registration_date) %>
          </td>
          <td><%= link_to 'Show', :action => 'show', :id => @compound %></td>
          <td><%= link_to (subject_icon('edit.png'))+" Edit", :action => 'edit', :id => @compound %></td>
          <td><%= link_to (subject_icon('destroy.png'))+" Delete", { :action => 'destroy', :id => @compound }, :confirm => 'Are you sure?',:method => "post" %></td>
          </tr>
        <% end %>
        </table>
    </div>

    <%= pagination_links(@compound_pages, :window_size => 4) %><br>

</div>
