
<% content_for :sidemenu do%>
   <%= render :partial =>'/menu/project_menu' ,   :locals=>{ :project => current_project}  if current_project %>
  <div>
    <span class='menu'>Compound </span>
    <%= link_to 'New',   :action => 'new' %>
    <%= link_to 'List',  :action => 'list' %>
  </div>
<% end %>

<div class='panel'>
    <table class="report">
      <tr>
      <th>Structure</th>
      <th>Compound Id</th>
      <th>Description</th>
      <th>Formula</th>
      <th>Mass</th>
      <th>IUPAC</th>
      <!--<th>Smiles</th>-->
      <th>
      Registration Date
      </th>
      </tr>
    <% for @compound in @compounds %>
      <tr>
     <!--<td><img src="<%= url_for :action => "marvin_image_for", :smiles => @compound.smiles %>"></img></td>-->
      <td></td>
      <td><%=link_to  @compound.name, :action => 'show', :id => @compound  %></td>
      <td><%=h truncate(@compound.description, 10, truncate_string='...') %></td>
      <td><%=h @compound.formula %></td>
      <td><%=h @compound.mass %></td>
      <!---<td><%=h @compound.smiles %></td>-->
      <td>
      <%= short_date(@compound.registration_date) %>
      </td>
      </tr>
    <% end %>
    </table>
   <%= will_paginate @compounds %>
</div>


