
<!--[form:system_settings]-->

<div class="row">
 <div class="form-element">
  <label for="system_settings_value"><%=h system_setting.name%></label>
     <%= text_field 'system_setting', 'value',:cols=>80  %>
  </div>
</div>

</div>
<!--[eoform:system_settings]-->

