<% content_for :center do -%>
  <% dialog "Edit System Settings" do %>  
    <% for system_setting in @system_settings %>
      <% form_tag :action => 'update', :id => system_setting.name do %>
      <div class="row">
        <label for="system_settings_value">
          <%=h system_setting.name%>
        </label>
        <%= text_field_tag  'value',system_setting.value,:cols=>80  %>
        <%= submit_tag 'Update' %>
      </div>
      <%end%>
    <%end%>
  <%end%>
<% end %> 