<div class='main' >
    <div class="title">
         Editing <%= h(@system_setting.name).humanize %>
    </div>

    <div class="dialog">                              
     <% form_tag :action => 'update', :id => @system_setting do %>
       <%= render :partial => 'form' %>
        <div class='row'>
        <%= submit_tag 'Edit' %>
        </div>
     <% end %>
    </div>
    <%#= render :partial => 'shared/audit',:locals =>{ :item => @study} %>
</div>    



<hr/>
