<% content_for :center do %>
  <h2 class='icon icon-settings'>New System Setting</h2>

  <% form_tag :action => 'create' do %>
    <%= render :partial => 'form' %>
    <%= submit_tag "Create" %>
  <% end %>

  <%= link_to 'Back', :action => 'list' %>
<%end%>