<%=   render :partial =>'menu/default_left_menu' %>
  <div>
    <span class='menu'>
      <b>  Orderss </b>
    </span>
    <div class='boldnotbold'>
      <%= link_to "<b class='icon icon-list'>List</b>",  :action => 'list' %>
      <%= link_to "<b class='icon icon-new'>Request</b>",  "#{SystemSetting.order_server}order_manager.pl?step=1,2",:popup=> true %>
    </div>
  </div>