Example of first 10 rows of current report :-
<fieldset>
  <%if @data.nil?%>
    No data returned by query
  <%else %>
    <%= render :partial => 'shared/report',
    :locals => {:table => @report, :data =>@data } %>
  <%end%>
</fieldset>
