<%#
# _right.rhtml.rhtml
# 
# Created on 20-Sep-2007, 21:33:06
# 
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div id="right-accordion">
  
  <div id="panel-tree">
    <div> Columns    </div>
    <div>
      <div class="text-content">
        <%= tree_for_report_columns(@report) %>
      </div>
    </div>
  </div>
  
  <div id="panel-help">
  
</div>
