<% content_for :sidemenu do%>
  <%= render :partial =>'actions'  %>
<% end %>

<% content_for :messages do -%>
  <%=render :partial =>'shared/messages',:locals => { :objects => ['report' ]} %>
<%end%>

<% content_for :center do%>
  <%= render :partial=>'header'%>
  <%=render :partial => 'shared/report', :locals=>{:report =>  @system_report} %>
<% end %>

<% content_for :help do -%>
  <%=render :partial =>'help',:locals => { :objects => ['report' ]} %>
<%end%>
