<% content_for :sidemenu do%>
  <%= render :partial =>'/menu/report_menu' ,       :locals=>{ :report => @report}  if @report %>
<% end %>

<h2>   <%=subject_icon('model/report')%> Visualize Report Tables [<strong><%=@report.name%></strong>]</h2>

<div class="panel" id="visualize-model">
    <%= render :partial => 'visualize' %>  
</div>

