<% content_for :sidemenu do%>
  <%= render :partial =>'actions' %>
<% end %>

<h1 class='icon icon-report'>
    Visualize Tables for Query [<%=@report.name%>] based on model [<%=@report.base_model%>]
</h1>

<div class="panel" id="visualize-model">
    <%= render :partial => 'visualize' %>
</div>

