<% content_for :sidemenu do%>
  <%= render :partial =>'actions' %>
<% end %>

<h1 class='icon icon-report'>
    <%=l(:label_visualise_tables_for_query)%>[<%=@report.name%>] <%=l(:label_based_on_model)%> [<%=@report.base_model%>]
</h1>

<div class="panel" id="visualize-model">
    <%= render :partial => 'visualize' %>
</div>

