<%= render :partial=>'organize/assays/header' %>
<div class='main' id='maintitle'>
    <div class="title">
        Parameter [<strong><%=@parameter.name %></strong>]
    </div>
    <div class='panel'>
        <p>
            <b>Name:</b>
            <%=h @parameter.name %>
        </p>
        <p>
            <%=h @parameter.description %>
        </p>
    </div>
</div>
