<%= javascript_include_tiny_mce_if_used %>
<%= tiny_mce if using_tiny_mce? %>
<%= error_messages_for 'treatment_group' %>

<!--[form:treatment_group]-->
<p><label for="treatment_group_name">Name</label><br/>
<%= text_field 'treatment_group', 'name'  %></p>

<p><label for="treatment_group_description">Description</label><br/>
<%= text_area 'treatment_group', 'description',{:rows=>5,:cols=>100}  %></p>

<!--[eoform:treatment_group]-->

