<div class='main' id='maintitle'>
<div class="form-title">
<%=subject_icon('edit.png')%> Editing treatment group
</div>
<% form_tag :action => 'update', :id => @treatment_group do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @treatment_group %> |
<%= link_to 'List', :action => 'list' %>
</div>
