<h1>Roles</h1>
Roles defined what a user is allowed to do in a certain context. 
In standard implementation there are System wide roles which appear globally across the 
whole installation and project roles which appear to membership of a project. The project roles
are assigned by the project management and are designed to allow IT to delegate project management
out. 
