<%= render :partial => '/menu/admin_menu'%>
<div>
  <span class='menu' >
    <b class='icon icon-role'>
      <%=l(:Role_Access)%>
    </b>
  </span>
  <%= link_to l(:List), role_url( :action => 'list') %>
  <%= link_to l(:New),role_url( :action => 'new') %>
  <%if @role && !@role.new_record?%>
    <%= link_to l(:Show),role_url( :action => 'show',:id=>@role.id) %>
    <%= link_to l(:Edit), role_url( :action => 'edit',:id=>@role.id) %>
  <%end%>
</div>