<% content_for :left do%>
  <%= render :partial => '/menu/admin_menu'%>
<% end %>

<h2>Editing role</h2>

<% form_tag :action => 'update', :id => @role do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @role %> |
<%= link_to 'Back', :action => 'list' %>
