<% content_for :sidemenu do%>
  <%= render :partial => '/menu/admin_menu'%>
<% end %>

<h2>New role</h2>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
