<div class='box'>
<table class="report">
    <tr>
        <th class="label">
            <%=l(:label_name) %>
        </th>
        <td>
            <%= assay.name %>
        </td>
        <td>
            <%= button_to l(:edit),assay_url(:action=>:edit,:id=>assay) %>
        </td>
    </tr>
    <tr>
        <th class="label">
            <%=l(:label_description) %>
        </th>
        <td>
            <%= assay.description %>
        </td>
    </tr>
    <tr>
        <th class="label">
            <%=l(:label_status) %>
        </th>
        <td>
            <%=states_bar(assay.folder,:assay) %>
        </td>
    </tr>
</table>
</div>