<table class="report">
  <tr>
    <th class="label"><b class="icon icon-name">
        Name
      </b>
    </th>
    <td>
      <%= assay.name %>
    </td>
  </tr>
  <tr>
    <th class="label">
      <b class="icon icon-description">
        Description
      </b>
    </th>
    <td> <%= assay.description %></td>
  </tr>
  <tr>
    <th class="label">
      <b class="icon icon-research_area">
        Research Area
      </b>
    </th>
    <td>
      <%= assay.research_area %>
    </td>
  </tr>
  <tr>
    <th class="label">
      <b class="icon icon-purpose">
        Purpose
      </b>
    </th>
    <td>     <%= assay.purpose %>   </td>
  </tr>
</table>