<div class='box'>
<table class="report">
    <tr>
        <th class="label">
            <%=l(:Name) %>
        </th>
        <td>
            <%=h assay.name %>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <th class="label">
            <%=l(:Description) %>
        </th>
        <td>
            <%=h assay.description %>
        </td>
    </tr>
    <tr>
        <th class="label">
            <%=l(:Status) %>
        </th>
        <td>
           <%=assay.folder.state %>
        </td>
    </tr>
</table>
</div>