<div class="content_header organisation">
  <%= render :partial => 'shared/help_link' %>
  <h1 class='icon icon-assay-large'>
    <%= link_to( "#{l(:Assay)} [#{@assay.name}]", assay_url( :action => :show, :id => @assay.id)) if @assay%>
  </h1>
  <br />
  <br />
  <div class='actions_left'>
    <%= link_to( l(:Open_Folder), folder_url(:action => 'show', :id => @assay.folder ), :class=>'icon icon-folder')  if @assay%>
    <%= link_to( l(:Assays), assay_url( :action => :list, :id => current_project), :class=>'icon icon-list')%>
  </div>
  <div class='actions_right'>
    <%  if @assay %>
      <%  if @assay.changeable? %>
        <%= link_to( l(:Parameter),parameter_url(:action => 'new' , :id => @assay),  :class=>'icon icon-parameter-add')  %>
        <%= link_to(l(:Queue),     queue_url(:action => 'new',  :id => @assay),:class=>'icon icon-queue-add') %>
        <%= link_to( l(:Process),   process_instance_url(:action => 'new',  :id => @assay), :class=>'icon icon-protocol-add')   %>
        <%= link_to( l(:Recipe),   process_flow_url(:action => 'new',  :id => @assay), :class=>'icon icon-workflow')   %>
        <%= link_to l(:Edit),       assay_url(:action=>:edit,:id=>@assay),:class=>'icon icon-edit' %>
      <%  end %>
      <%= link_to( l(:Delete),   assay_url( :action => 'destroy', :id => @assay ), :confirm => l(:text_are_you_sure),:method => "post",
        :class=>'icon icon-del') if right?(:data,:destroy) and @assay.changeable? %>
    <%  end %>
  </div>
  <br />
</div>
<%=breadcrumb_list @assay.folder if @assay %>