
<div class="x-panel-header x-accordion-hd"  >
  <span class="icon icon-assay x-panel-header-text" >
    Guide to Assay Definition
     </span>
</div>
<div class="panel">

<p>
  An assay definition is an organisational unit used to
  register Service Queues and Methods against which tasks
  are executed within Experiments.
</p><br/>
<p>
  Assays can be defined in this <%= current_project.style.downcase %> or
  linked in from other projects.  There must be assays defined
  within this <%=current_project.style.downcase %> in order to run an
  experiment.
</p>
<br />
  <% unless current_project.linked_assays.size==0%>
    As assays have been defined within this <%=current_project.style.downcase %> we can
    <%= link_to("add an experiment",  experiment_url(:action => 'new'))  %>
  <%else%>
    There are no assays defined within this <%=current_project.style.downcase %>, you will need to
      <%= link_to( "add",    assay_url( :action => 'list')) %>
          or link to one in order to run an experiment.
<%end%>
</div>
