
<div class="x-panel-header x-accordion-hd"  >
  <span class="icon icon-assay x-panel-header-text" >
    Guide to Assay Definition
     </span>
</div>
<div class="panel">

<p>
  An assay definition is an organisational unit used to
  register service queues and protocols against which tasks
  are executed.
</p>
<br />
<p>To define an Asasy:</p>
<ol style="list-style:decimal inside; text-indent:0.5em">
  <li>
    <b class='icon icon-parameter-small'>Parameters: </b>
    <p>Define the parameters and their roles that will be used by the protocol</p>
  </li>
  <li>
    <b class='icon icon-queue-small'>Queues: </b>
    <p>Define service queues based on the assay parameters
  </li>
  <li>
    <b class='icon icon-protocol-small'>Protocols: </b>
    <p>Build protocols from the parameters
  </li>
</ol>
</div>