<div class=" x-panel-header x-accordion-hd"  >
  <span class="icon icon-protocol x-panel-header-text" >
   Creating protocols
     </span>
</div>
<div class="panel">
<p>
  You can either create a new protocol from scratch, or assemble a protocol by selecting one or more existing protocols
  </p>
  </div>