<div class=" x-panel-header x-accordion-hd"  >
  <span class="icon icon-protocol x-panel-header-text" >
   Creating Processes
     </span>
</div>
<div class="panel">
<p>
  You can either create a new process from scratch, or assemble a process by selecting one or more existing processes.
  </p>
  </div>