<div class='panel'>
    <table class="report">
        <thead>
            <tr>
                <th colspan='4'>
                    <b><%=l(:Assay) %></b>
                </th>
                <th colspan='2'>
                    <b><%=l(:Owner) %></b>
                </th>
                <th colspan='3'>
                    <b><%=l(:Contains) %></b>
                </th>
            </tr>
            <tr>
                <th>
                    <b><%=l(:Name) %></b>
                </th>
                <th>
                    <b><%=l(:Description) %></b>
                </th>
                <th>
                    <b><%=l(:Team) %></b>
                </th>
                <th>
                    <b><%=l(:Project) %></b>
                </th>
                <th>
                    <b><%=l(:Methods) %></b>
                </th>
                <th>
                    <b><%=l(:Parameters) %></b>
                </th>
                <th>
                    <b><%=l(:Queues) %></b>
                </th>
            </tr>
        </thead>
        <tbody>
            <% for assay in current_project.linked_assays %>
            <tr class="<%= cycle('odd', 'even') %>">
                <td>
                    <%= link_to assay.name,  assay_url( :action => 'show', :id=>assay.id) %>
                </td>
                <td>
                    <%= assay.description %>
                </td>
                <%if assay.project == current_project %>
                <td colspan='2'>
                    <%=l(:Current_Project) %>
                </td>
                <%else %>
                <td>
                    <%= assay.team.name %>
                </td>
                <td>
                    <%= link_to assay.project.name, project_url( :action => 'show', :id=>assay.project_id) %>
                </td>
                <%end %>
                <td>
                    <%=assay.protocols.size %>
                </td>
                <td>
                    <%=assay.parameters.size %>
                </td>
                <td>
                    <%=assay.queues.size %>
                </td>
            </tr>
            <%end %>
        </tbody>
        <tfoot>
            <tr>
                <th colspan='10'>
                </th>
            </tr>
        </tfoot>
    </table>
    <hr/>
    <%= link_to(l(:Assay_New), assay_url(:action => 'new'), :class=>'icon icon-assay-add') if current_project.changeable? %>
</div>