    <h3><%=l(:label_queues_and_status) %>
    </h3>
    <div class='box'>
    <table class="report">
        <thead>
            <tr>
                <th>
                    <%= l(:label_queues) %>
                </th>
            </tr>
        </thead>
        <tbody>
                <% for stage in @assay.stages %>
                    <% for queue in @assay.queues_in_stage(stage) %>
                      <tr><td>
                        <%= link_to queue.name ,
                        queue_url( :action => 'show', :id=>queue) %>
                        <%= queue.status_summary %>
                      </td></tr>
                    <%end %>
                <% end %>
        </tbody>
    </table>
    <hr/>
    <%= link_to( l(:label_queue_add),   queue_url(:action => 'new',  :id => @assay), :class=>'icon icon-queue-add') %>
</div>
