<div class='box splitcontentright' style='width:40%'>
    <table class="report">
        <thead>
            <tr>
                <th>
                    <%= l(:Queues) %>
                </th>
            </tr>
        </thead>
        <tbody>
                <% for stage in @assay.stages %>
                    <% for queue in @assay.queues_in_stage(stage) %>
                      <tr><td>
                        <%= link_to queue.name ,
                        queue_url( :action => 'show', :id=>queue) %>
                        <%= queue.status_summary %>
                      </td></tr>
                    <%end %>
                <% end %>
        </tbody>
    </table>
    <hr/>
    <%= link_to( l(:Queue_Add),   queue_url(:action => 'new',  :id => @assay), :class=>'icon icon-queue-add') if  @assay.changeable? %>
</div>
