<div class='box content' style='width:94%'>
    <table class="report">
        <thead>
            <tr>
                <th colspan='<%=assay.stages.size%>'>
                    <b class="icon icon-protocol"><%=l(:Processes_Released) %>
                    </b>
                </th>
            </tr>
            <tr>
                <% for stage in assay.stages %>
                <th>
                    <%=stage.name %>[<%=l(:Runs) %>]
                </th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% for stage in assay.stages %>
                <td>
                    <% for process in assay.protocols_in_stage(stage) %>
                    <% if not process.multistep? %>
                    <%= link_to process.name, object_to_url(process) %>
                    <% end %>
                    <br/>
                    <%end %>
                </td>
                <% end %>
            </tr>
        </tbody>
    </table>
    <hr/><%= link_to( l(:Process_New), process_instance_url(:action => 'new',  :id => @assay), :class=>'icon icon-protocol-add') if @assay.changeable? %>
</div>

<div class='box splitcontentleft' style='width:40%'>
    <table class="report" style>
        <thead>
            <tr>
                <th colspan='<%=assay.stages.size%>'>
                    <b class="icon icon-workflow"><%=l(:Recipes_Released) %>
                    </b>
                </th>
            </tr>
        </thead>
        <tbody>
            <% for stage in assay.stages %>
            <% for process in assay.protocols_in_stage(stage) %>
            <% if process.multistep? %>
            <tr>
                <td>
                    <%= link_to process.name, process_flow_url( :action => 'show', :id=>process) %>
                </td>
            </tr>
            <% end %>
            <%end %>
            <% end %>
        </tbody>
    </table>
    <hr/><%= link_to( l(:Recipe_New),  process_flow_url(:action => 'new',  :id => @assay), :class=>'icon icon-protocol-add') %>
</div>