<div class='box'>
    <table class="report">
        <tr>
            <th>
                <%=l(:label_alias) %>
            </th>
            <th>
                <%=l(:description) %>
            </th>
            <th>
                <%=l(:label_parameter_type) %>
            </th>
            <th>
                <%=l(:label_data_type) %>
            </th>
            <th>
                <%=l(:label_role) %>
            </th>
        </tr>
        <% for parameter in @assay.parameters %>
        <tr class="<%= cycle('odd', 'even') %>">
            <td>
                <%= link_to parameter.name, assay_parameter_url( :action => 'show', :id => parameter) %>
            </td>
            <td>
                <%= parameter.description %>
            </td>
            <td>
                <%=h parameter.type.name %>
            </td>
            <td>
                <%=h parameter.data_type.name %>
            </td>
            <td>
                <%=h parameter.role.name %>
            </td>
        </tr>
        <% end %>
    </table>
</div><hr />
<%= link_to( "&nbsp; #{l(:label_parameters_manage)}",parameter_url(:action => 'list' , :id => @assay))   if @assay%>
