<div class='box'>
    <table class="report">
        <tr>
            <th>
                <%=l(:label_name) %>
            </th>
            <th>
                <%=l(:label_description) %>
            </th>
            <th>
                <%=l(:label_parameter) %>
            </th>
            <th>
                <%=l(:label_assigned_to) %>
            </th>
            <th>
                <%=l(:label_status) %>
            </th>
            <th>
                <%=l(:label_actions) %>
            </th>
        </tr>
        <% for queue in @assay.queues %>
        <tr class="<%= cycle('odd', 'even') %>">
            <td>
                <%= link_to queue.name,
                queue_url( :action => 'show', :id => queue) %>
            </td>
            <td>
                <%= queue.description %>
            </td>
            <td>
                <%=h queue.parameter.name if queue.parameter %>
            </td>
            <td>
                <%=h queue.assigned_to.name if queue.assigned_to %>
            </td>
            <td>
                <%=h queue.status_summary %>
            </td>
            <td>
                <%= link_to l(:label_edit), queue_url(:action => 'edit', :id => queue), :class=>'icon icon-edit' %>
            </td>
        </tr>
        <% end %>
    </table>
</div><hr/>
<%= link_to(l(:label_add), queue_url(:action => 'new',  :id => @assay), :class=>'icon icon-queue-add') %>
