<%= render :partial => 'assay', :locals => { :assay => @assay } %>
<%if @assay.is_setup? %>
<%= render :partial => 'overview_protocols', :locals => { :assay => @assay } %>
<%= render :partial => 'overview_queues', :locals => { :assay => @assay } %>
<%else %>
<%= render :partial => 'overview_setup' %>
<%end %>
