<div class='panel'>
    <%= render :partial => 'assay', :locals => { :assay => @assay } %>
</div>
<br/>

<%if @assay.is_setup? %>
  <%= render :partial => 'overview_protocols', :locals => { :assay => @assay } %>
  <br/>
  <br/>
  <%= render :partial => 'overview_queues', :locals => { :assay => @assay } %>
  <br/>
<%else%>    
  <%= render :partial => 'overview_setup' %>
<%end %>  