<% content_for :sidemenu do -%>
  <%= render :partial =>'/menu/project_menu', :locals=>{ :project => current_project} %>
  <%= render :partial =>'/menu/project_status_menu' , :locals=>{ :project => current_project} %>
<% end -%>

<% content_for :messages do -%>
  <%= render :partial => 'shared/messages', :locals => { :objects => ['assay']} %>
<%end %>

<% content_for :help do -%>
  <%= render :partial => 'help' %>
<% end %>

<% content_for :center do -%>
  <%= render :partial=>'projects/header' %>
  <h2 class='icon icon-assay'><%=l(:Assays) %></h2>

  <%= tab_strip("task-tabs", @tab||0 ,[
      {:name =>'Show'    , :partial =>'list' },
      {:name =>'Import'    , :partial =>'import' },
      {:name =>'Share'    , :partial =>'share' }
    ]) %>
<% end %>
