<% content_for :messages do -%>
<%= render :partial => 'shared/messages', :locals => { :objects => ['assay']}  %>
<%end %>

<% content_for :center do -%>

<%= render :partial=>'projects/header'%>

<%dialog l(:Assay_New) do %>
    <% form_tag :action => 'create' do %>
    <%= render :partial => 'form' %>
    <div class="row">
      <%= submit_tag l(:Save) %>
      <%= link_to l(:Cancel), assay_url( :action => 'list', :project_id => current_project) %>
    </div>
    <% end %>
  <% end %>
<% end %>

<% content_for :right do -%>
    <%= render :partial => 'help' %>
<% end %>
