<h1>Projects</h1>
A project is binder to made up of a a set of folders of unstructured and structured data. The project may contain 
a number of study designs to management of data and a set of experiments for the entry of this data.