<table class='report'>
<tr>
<th>Name</th>
<th>Status</th>
<th>Description</th>
<th>x Members</th>
<th>x Studies</th>
<th>x Folders</th>
<th>x Tasks</th>
</tr>
<% for project in @projects %>
<tr>
	<td><%=project.name%></td>
	<td><%=project.status%></td>
	<td><%=project.description%></td>
	<td><%=project.memberships.size%></td>
	<td><%=project.studies.size%></td>
	<td><%=project.folders.size%></td>
	<td><%=project.tasks.size%></td>
</tr>
<% end %>
</table>