<% content_for :sidemenu do -%>
  <%= render :partial=>@project.partial_template('actions')%>
<% end -%>

<% content_for :center do -%>  
     <%=render :partial=>@project.partial_template('show') %>
<% end %>

<% content_for :status do -%>
  <%= render :partial=>@project.partial_template('status')%>
<% end %>

<% content_for :help do -%>
  <%= render :partial=>@project.partial_template('help')%>
<% end %>

  

