<div class="box">
  <table width="100%" class="report">
    <tr>
      <th width="25%">
        <%=l(:Name)%>Ted
      </th>
      <td>
        <%= @project.name %>
      </td>
    </tr>
    <tr>
      <th width="25%">
        <%=l(:Description)%>
      </th>
      <td colspan="3">
        <%= @project.description %>
      </td>
    </tr>
  </table>
</div>