<div class=" x-panel-header x-accordion-hd"  >
  <span class="icon icon-project x-panel-header-text" >
     Organisation
     </span>
</div> 
<div class='panel'>
<p>
  A unit of organisation
</p>
</div>


