<h2>Guide</h2>
<div class='panel'>
<p>
A task is the basic unit of work for data entry and analysis. It is based on a single protocol definition and consists on a 
single data entry sheet. Its the who ,what, when of the system as its assigned to a user and has a start,end and status.
</p>
 <p>
    Changing the task <em>status</em> will automatically update any associated request items to same status
 </p>
</div>