<%= render :partial => 'task' %>
<div class='panel'>
  <%if @task.queues? %>
    <h3 class='icon icon-queue_item'>
      <%=l(:Associated_Request_Items)%>
    </h3>
    <div class="box">
      <%= render :partial =>'queue_items', :locals=>{:queue_items=>@task.queue_items} %>
    </div>
  <%end%>
</div>