<%= render :partial=>'header'%>

<div class="panel">
  <h2 class='icon icon-analysis'>
      <%=l(:label_analysis)%>
  </h2>
  <div class='box'>
    <div id='analysis-form'>
    <%= render :partial => 'analysis' %>  
    </div>
  </div>

  <div class='box'>
    <div id='analysis-run' >
    <%if  @analysis and @analysis.run? %>
      <%=@analysis.report%>
    <% else %>
       <%=l(:label_not_run)%>
    <% end %>
    </div>
  </div>
</div>