<% content_for :messages do -%>
  <%=render :partial =>'shared/messages',:locals => { :objects => ['task' ]} %>
<%end%>

<% content_for :dialog do -%>
    <%= render :partial => 'edit' %>
<%end%>

<% content_for :right do -%>
    <%= render :partial => 'help' %>
<% end %>

<% content_for :footer do -%>
<%= render :partial => 'shared/audit',:locals =>{ :item => @task} %>
<% end %>


