
<% content_for :center do -%>
<h1 class="icon icon-task-large" style='text-indent:0.5em;'>
 <%=l(:Task)%> <%=(:in)%> <%=(:Experiment)%> [<%=link_to " #{@experiment.name} ", experiment_url(  :action =>'show',:id =>@experiment.id) %>]
</h1>
<hr />
  <%=render :partial =>'import' %>

<%end%>