<% content_for :messages do -%>
  <%=render :partial =>'shared/messages',:locals => { :objects => ['task' ]} %>
<%end%>

<% content_for :center do -%>
<%= render :partial => 'execute/experiments/header'%>
<%= render :partial => 'new'%>
<%end%>