<div id='report-def'>
</div>

<div id='column-grid'>
    <select name="sort_dir_select" id="sort_dir_select" style="display: none;">
        <option value="">(<%=l(:None)%>)</option>
        <option value="desc">desc</option>
        <option value="asc">asc</option>
    </select>
</div>
<br/>
<script>
    Ext.onReady(function(){
         grid = new Biorails.ReportDef( {
           renderTo: 'column-grid',
           report_id:'<%=@report.id%>'
         });
    });
</script>
