
<ul>
  <% for item in request.items %>
    <li>
      <a class='icon icon-del'><%= link_to_remote item.data_name, :url=> request_url( :action => 'remove_item', :request_id => request.id, :id => item.id) %></a>
    </li>
  <% end %>
</ul>
