<ul>
  <% for item in request.services %>
    <li><%=item.name %>: <%=item.queue.path %> 
    <%= link_to subject_icon('destroy.png'), request_url(:action => 'remove_service', :id => item.id) %>
        
    </li>
  <% end %>  
</ul>     
