
<ul>
  <% for item in request.items %>
    <li><%=item.data_type %>: <%=item.data_name %>
    <%= link_to_remote "<b class='icon icon-del'>&nbsp;</b>",
      :url=> request_url( :action => 'remove_item',
      :request_id => request.id, :id => item.id) %>
    </li>
  <% end %>
</ul>
