
<ul>
  <% for item in request.items %>
    <li>
       <%= item.data_name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <%= link_to_remote "<b class='icon icon-del'>#{l(:Delete)}</b>",
             :url=> request_url( :action => 'remove_item', :request_id => request.id, :id => item.id) %>
    </li>
  <% end %>
</ul>
