<%= render :partial=>'header' %>
<div class="panel">
  <div class='box'>
    <%= render :partial => 'request' %>
  </div>
  <div class='box'>
    <h4><%=l(:Status) %>
    </h4>
    <%= render :partial => 'items' %>
  </div>
</div>
