<%= render :partial=>'header' %>
<div class="panel">
    <div class='box'>
        <%= render :partial => 'request' %>
    </div>
    <div class='box'>
        <h4><%=l(:label_status) %>
        </h4>
        <%= render :partial => 'items' %>
    </div>
