<% content_for :center do -%>
  <%= render :partial=>'header' %>
  <%= render :partial => 'list' %>
  <span class='icon icon-new'><%= link_to l(:label_new), :action => 'new' %></span>
<%end %>

<% content_for :right do %>
<h2 class='icon icon-report'><%=l(:label_reports) %></h2>
<div class="panel">
    <%=l(:help_filtering_sorting_rules) %>
</div>
<%end %>
