<% content_for :messages do -%>
<%= render :partial => 'shared/messages', :locals => { :objects => ['user']}  %>
<%end %>

<h1 class='icon icon-result'>
  <%=@user_request.name%> <%=@report.name%>
</h1>

<div class="panel">
<br />
<p>
  Results are <i>published</i> to this report when the
  linked task has its status changed.
</p>
<br />
<%= render :partial => 'shared/report',
  :locals => {:report => @report,:data => @data,:show=>'show', :edit=>'edit' } %>
</div>

<%= will_paginate  @data%>