<% content_for :messages do -%>
<%= render :partial => 'shared/messages', :locals => { :objects => ['user']}  %>
<%end %>

<% content_for :center do -%>
  <%= render :partial=>'header'%>
  <%= render :partial => 'shared/report', :locals => {:report => @report,:show=>'show' } %>
<%end %>


<% content_for :right do %>
<%= render :partial => '/shared/folder_outline',:locals=>{:folder=>@user_request.folder} %>
<%end %>