<div class='main' id='maintitle'>
    <div class="title">
        New Specimen
        <div class="actions">
            <ul>
                <li><%= link_to subject_icon('list.png') + 'List', :action => 'list' %></li>
            </ul>
        </div>
    </div>
    <div class='dialog'>
        <% form_tag :action => 'create' do %>
          <%= render :partial => 'form' %>
          <%= submit_tag "Create" %>
       <% end %>
    </div>
</div>
