<div class='box'>
This form is build to work with drag and drop of parameters from the list of available types for the study 
design to column positions in a set of contexts.In a simple excel like sheet there would only be a 
single context. For more complex example there may be a number of level like plate/compounds/well for screen 
of treatment group/subject/time for clienical example. The idea of context is save re-entering the same 
value multiple time.
</div>