<!--[sform:process_contexts]-->

    <div id="<%=@protocol_version.dom_id('editor') %>" class="protocol">
      <%= render :partial => 'parameter_layout' %>
   </div>

   <!--[eoform:process_contexts]-->
