<p> Currently you will need to press refresh to update this preview 
</p>
    <div id="SheetPanel" class="datasheet">
        <% form_remote_tag :action => 'update', :id => @task do %>
        <!-- start data sheet -->  
         <%= data_view(@data_sheet) if @data_sheet  %>
        <!-- end data sheet -->  
       <% end%>
    </div>
