    <div id="SheetPanel" class="datasheet">
        <%= form_remote_tag :action => 'update', :id => @task %>
        <!-- start data sheet -->  
         <%= data_view(@data_sheet) if @data_sheet  %>
        <!-- end data sheet -->  
       <% end_form_tag %>
    </div>
