<p> Currently you will need to press refresh to update this preview 
</p>
    <div id="SheetPanel" class="datasheet">
        <!-- start data sheet -->  
         <%= data_view(@data_sheet) if @data_sheet  %>
        <!-- end data sheet -->  
    </div>
