<div id="parameter_tree">
   <%= render :partial => 'parameter_tree' %>
   
   <div class='box'>
      <%=image_tag('delete.png')%>
      Drop parameters here to remove.
   </div>
</div>
   <hr/>
   <%=link_to "Redraw", protocol_url(:action=>'layout',:id=> @protocol_version.protocol, :version=>@protocol_version) %>
   
