<div class="x-panel-header x-accordion-hd" >
  <span class="icon icon-task x-panel-header-text">
     Help
  </span>
</div>
<div class='panel'>
  This is the default dashboard for a Assay Group
</div>
