<h4>Guide</h4>
<div class='panel'> 
<p>
This form allow users to be defined to use the system. Depending on implementation the this may be a 
simple iternal user or be adding a role to users from another system
</p>
<p>
user login should be short and alpha numeric string. The name is a more humanly readable version of the user name for display.
Acces is initial set at 3 level Administrator (liable for everything), Members (can do stuff) and Public (can see stuff).
</p>
</div>