<% content_for :sidemenu do%>
  <%= render :partial => 'menu'%>
<% end %>

<% content_for :messages do -%>
  <%=render :partial =>'shared/messages',:locals => { :objects => ['user']} %>
<%end%>

<% content_for :center do %>
  <%dialog "New User" do %>
    <% form_for :user, :url => { :action => 'create' } do |f| -%>
      <%= render :partial=>'form',:locals=>{:f=>f} %>
    <% end %>
  <% end %>
<%end%>

<% content_for :right do -%>
<%= render :partial=>'help' %>
<%end%>