<div class="box" >
  <h3 class="icon icon-assay"><%=l(:Assays) %></h3>
  <table id="team_assays" class="report">
    <thead>
      <tr class='header'>
        <th>
          <%=l(:Name) %>
        </th>
        <th>
          <%=l(:Creator) %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for item in @team.assays %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td>
          <%=link_to item.name, assay_url(:action=>'show',:id=>item.id), :class=>"icon icon-show" %>
        </td>
        <td>
          <%=item.created_by %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
