
<div class=" x-panel-header x-accordion-hd"  >
  <span class="icon icon-team x-panel-header-text" >
     Teams
     </span>
</div>
<div class="panel">

<p>
  A team is the basis of ownership in BioRails.
  Users own Teams and in turn Teams own projects.
  The team structure has two benefits: it maps
  well to systems like <i>Active Directory</i>
  and it makes it possible to share data across projects
  without loosing all access control.
</p>
</div>