<div class=" x-panel-header x-accordion-hd">
    <span class="icon icon-team x-panel-header-text"><%=l(:Teams) %>
    </span>
</div>
<div class="panel">
    <p>
        <%=l(:text_team_description) %>
    </p>
</div>
