<h1>Teams</h1>
<p>
  A team is binder making up of a set of folders of unstructured and structured data. The team may contain 
  a number of study designs for the organisation of data and a set of experiments for the capture of this data.
</p>