  <%= tab_strip("project-tabs", @tab||0 ,[
    {:name =>l(:Users)        , :partial => 'panel_users' },
    {:name =>l(:Default_acl)       , :partial => 'panel_acl'},
    {:name =>l(:Projects)     , :partial => 'panel_projects'  }
  ]) %>