<h1 clss='icon icon-role'>New roles_permission</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to "<b class='icon icon-list'>Back</b>", :action => 'list' %>
