<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title><%= SystemSettings.app_title + (@html_title ? ": #{@html_title}" : "") %></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="biorails" />
<meta name="keywords" content="study,project,experiment,request,wiki,issue,tracker" />
<!--[if IE]>
    <style type="text/css">
    body {behavior: url(<%= stylesheet_path "csshover.htc" %>);}
    </style>
<![endif]-->

<%= stylesheet_link_tag "layout" %>
<%= stylesheet_link_tag "icons" %>
<%= stylesheet_link_tag "forms" %>
<%= stylesheet_link_tag "table" %>
<%= stylesheet_link_tag "gnatt" %>
<%= stylesheet_link_tag "report" %>
<%= stylesheet_link_tag "errors" %>
<%= stylesheet_link_tag "protocols" %>
<%= stylesheet_link_tag "sheet" %>
<%= stylesheet_link_tag "autocomplete" %>
<%= stylesheet_link_tag "tabs" %>
<%= stylesheet_link_tag "menu" %>
<%= stylesheet_link_tag "print", :media => "print" %>
<%= stylesheet_link_tag 'tree' %>
<%= stylesheet_link_tag 'calendar-green' %>
<%= stylesheet_link_tag 'datebocks_engine' %>

<!--%= javascript_include_tag "tiny_mce/tiny_mce" %-->
<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag 'effects' %>
<%= javascript_include_tag 'dragdrop' %>
<%= javascript_include_tag 'controls' %>
<%= javascript_include_tag 'form_fields' %>
<%= javascript_include_tag 'calendar/calendar' %>
<%= javascript_include_tag 'calendar/calendar-setup' %>
<%= javascript_include_tag 'calendar/lang/calendar-en' %>
<%= javascript_include_tag 'datebocks_engine' %>
<%= javascript_include_tag 'menu' %>
<%= javascript_include_tag 'sidemenu' %>
<%= javascript_include_tag 'tree' %>
<%= javascript_include_tag 'application' %>

<!-- page specific tags -->
<%= yield :includes %>

<%= yield :header_script %>

</head>

<body>
<div id="container" >
  <div id="header">
    <div class='left'>
        <h1><%= SystemSettings.app_title %></h1>
        <h2><%= SystemSettings.app_subtitle %> </h2>
    </div>
    <div class='right'>
      <%if logged_in?%>
        <% form_tag :controller=> '/finder', :action => :search  do %>
           <%= text_field_tag :query,nil,:size =>30 %>
           <%= submit_tag 'Search' %>
        <% end %>
      <%end%>  
        <div id="busy-indicator" style="display:none;" >
           [Transfering data....]
        </div>
    </div>
  </div> 
  <%= render :partial =>'menu/top_menu_bar' %>      
<!--Main Contents -->  
<div id="content">        

    <div id="left">
    
      <div class='sidemenu'>
       <%= if @content_for_sidemenu
            yield :sidemenu 
        else    
	       render :partial =>'menu/default_left_menu' 
        end %>
      </div>

      <div class="left_panel">
       <%= if @content_for_left 
            yield :left  
	    end %> 
	  </div>
      <div id="query_hitlist">
        <%= render :partial => 'shared/hitlist' %>  
	  </div>


    </div>

  <div id="main">
      <div id="messages">
         <% render :partial => 'shared/messages', :locals => { :objects => ['project'] } %>
      </div>
      <%= yield %>
  </div>

  <div id="right">
    <%= yield :right %>
  </div>

  <div id="centre">         
     <%= yield :centre %>
  </div>


  <div id="footer">
    <%= yield :footer %>
    <!--%=debug session%-->
   </div>
</div>

</body>
</html>

