<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title><%= SystemSetting.app_title + (@html_title ? ": #{@html_title}" : "") %></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="biorails" />
<meta name="keywords" content="assay,project,experiment,request,wiki,issue,tracker" />

<%= stylesheet_link_tag "layout" %>
<%= stylesheet_link_tag "icons" %>
<%= stylesheet_link_tag "forms" %>
<%= stylesheet_link_tag "table" %>
<%= stylesheet_link_tag "gantt" %>
<%= stylesheet_link_tag "errors" %>
<%= stylesheet_link_tag "print", :media => "print" %>

<% if browser_is? :ie  %>
  <%= stylesheet_link_tag "ie" %>
<%  else %>
  <%= stylesheet_link_tag "standard" %>
<% end %>
 
<!-- page specific tags  ======================= -->
<%= yield :includes %>

<%= yield :header_script %>

</head>

<body>
<div id="container" >
 <div id="header">
<!--Start Header ======================= -->  

    <div class='left'>
      <h1><%= SystemSetting.app_title %></h1>
      <h2><%= SystemSetting.app_subtitle %> </h2>
    </div>
    <div class='right'>
      <%if logged_in?%>
        <% form_tag :controller=> '/finder', :action => :search  do %>
           <%= text_field_tag :query,nil,:size =>30 %>
           <%= submit_tag 'Search' %>
        <% end %>
      <%end%>  
      <div id="busy-indicator" style="display:none;" >
           [Transfering data....]
      </div>
    </div>
 </div> 
  
 <div>
    <%= render :partial =>'menu/top_menu_bar' %>      
<!--End Header ======================= -->  
 </div> 

 <div id="content">        
<!--Start Contents ======================= -->  

<!--Left Block =======================-->  
  <div id="left">
    <div class='sidemenu'>
     <%= if @content_for_sidemenu
          yield :sidemenu 
      else    
         render :partial =>'menu/default_left_menu' 
      end %>
    </div>

    <div class="left_panel">
     <%= if @content_for_left 
          yield :left  
      end %> 
    </div>
  </div>

  
  <!--Main Block ======================= -->  

  <!--Right Block ======================= -->  

  <div id="messages">
       <%= if @content_for_messages 
            yield :messages
        else    
            render :partial => 'shared/messages', :locals => { :objects => ['project'] }
        end %> 
  </div>

  <div id="main">
      <%= yield %>
  </div>
<!--center Block ======================= -->  
  <div id="center">         
     <%= yield :center %>
  </div>

  <div id="right">
    <%= yield :right %>
  </div>

<!--Footer Block ======================= -->  
  <div id="footer">
    <%= yield :footer %>
    <!--%=debug session%-->
   </div>
<!--End Contents ======================= -->  
 </div>
</div>

</body>

</html>

