<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BioRails [<%=current_project.name%>] (Rev. <%=Biorails::Version::STRING%>) </title>
    <link rel="biorails icon" href="/images/logo/favicon.ico" />
    
    <%= stylesheet_link_merged :base %>
    <%= stylesheet_link_tag "xtheme-#{SystemSetting.theme}.css" %>  
    <%= javascript_include_merged :base %>
    
    <!-- Executed in header before other js includes so Biorails initialized for use in other scripts!-->
    <script type="text/javascript">
        Ext.onReady( function() {
            try {
                Ext.state.Manager.setProvider(new Ext.state.CookieProvider({name:"biorails"}));
                Ext.QuickTips.init();
                Biorails.init(<%=toolbar_items%>);				
            } catch (e) {
            }    
        }, Biorails);    
    </script>
	
<%if @content_for_dialog %>
    <script type="text/javascript">
        Ext.onReady( function() {
            win = new Ext.Window({
                applyTo: 'dialog-panel',
				contentEl: 'dialog-content',
                layout: 'fit',
                closeAction: 'hide',
                plain: false,
                buttons: [{
                    text: 'Save',
                    handler: function(){
                        win.setDisabled(true);
                        win.body.child('form').dom.submit();
                        win.hide();
                    }
                }, {
                    text: 'Close',
                    handler: function(){
                        win.hide();
                    }
                }]
            });	
		 win.setPosition(100,100);	
		 win.setSize(700,500);					
	     win.show();
        });    
    </script>
<%end %> 
    <%= yield :header_script %>	
  </head>
  <body>

	<div id="dialog-panel" class="x-hidden">
		<div id="dialog-content" class="dialog">
	        <%if @content_for_dialog %>
	          <%=yield :dialog%>
	        <%end %> 
		</div>
	</div>
    
    <!--North Header ======================= -->  
    <div id="toolbar-panel" class="x-hidden">
      <div id='toolbar'> </div>
    </div>
    
    <!--center Block =======================-->   
    <div id="center-panel" class="x-hidden">
      <div id="messages" class='panel'>
        <%= if @content_for_messages 
          yield :messages
        end %> 
      </div>
      <div id='center' class='bio-std'>
        <%= yield :center %>
        <%= yield %>
      </div>
    </div>
    
    <!--West Block =======================-->  
            
    <div id="actions-panel" class="x-hidden">
      <div id='actions'>
        <div class='sidemenu'>
          <%= if @content_for_sidemenu
            yield :sidemenu 
          else    
            render :partial =>'menu/default_left_menu' 
          end %>
        </div>
        <%= yield :left %> 
        <%= yield :actions %>
      </div>
    </div>
    
    <div id="work-tab" class="x-hidden">
      <div id='work'>
        <%= if @content_for_work
          yield :work
        else    
          render :partial =>'shared/clipboard' 
        end %>
      </div>
    </div>
    
    <!--East Block TAB1=======================-->  
    <div id="status-tab" class="x-hidden">
       <div id='status' >
        <%= yield :right %>
        <%= yield :status %>
      </div>
      <div id='help'>
        <%= yield :help %>
      </div>
    </div>
    
    <!--East Block TAB2=======================-->  
    <div id="tree-panel" class="x-hidden">
      <div id='tree' class='bio-tree'>
        <%= yield :tree %>
      </div>
    </div>
  
    <!--South Block =======================-->  
    <div id="footer-panel" class="x-hidden">
      <div class='bio-std' id='audit_log'>
      </div>
      <div class='bio-std' id='footer'>
        <%= yield :footer %>
      </div>
    </div> 
    
  </body>
  
</html>

