<%= render :partial => 'shared/messages', :locals => { :objects => ['project','project_folder','project_element','project_content']}  %>
<%= error_messages_for :project_element %>
<%= error_messages_for :project_content %>