<br/>
<h2>
New Article: 
    <%= link_to "/"+ @project_folder.path, folder_url( :action => 'show',:id=>@project_folder) if  @project_folder%>
    <%= "/"+ ( @project_element ? @project_element.name : 'save article') %>
</h2> 
<% form_remote_tag  :url =>content_url(:action => 'create',  :folder_id=>@project_folder.id) do %>
 
   <%= render :partial => 'article' %>

<% end %>
