<br/>
<h2>
Content Path: 
<%= link_to "/"+ @project_folder.path, folder_url( :action => 'show',:id=>@project_folder) if  @project_folder%>
<%= "/"+ ( @project_element ? @project_element.name : 'save article') %>

</h2>
<div class='box'>
<h2> <%= @project_element.title %></h2>


  <%= @project_element.to_html %>
</div>


