<% content_for :messages do -%>
<%= render :partial => 'shared/messages', :locals => { :objects => ['project','project_folder','project_element','project_content']}  %>
<%end %>

<% content_for :centre do -%>
    <%= render :partial => 'show',:locals=>{:content=>@project_content} %>
<% end %>

<% content_for :right do -%>
  <%= render :partial => 'project/folders/right_tree',:locals=>{:folder=>@project_folder} %>
<% end %>